[2020-06-19 12:15] lukehinds opened #2 "Allow user to set their own meta data"
Users can set their own meta data key / values.

Probably need to implement a map interface.

[2020-08-24 10:37] #2 closed, assigned to nobody

[2020-09-01 12:07] lukehinds opened #9 "Unit tests"
Start to implement

[2020-09-01 12:08] lukehinds opened #10 "Implement http RestAPI"

[2020-09-01 14:59] lukehinds opened #11 "Create helper function for GRPC connection handling"
Create a specific function to manage grpc connections. Currently we are repeating the same code in each cobra call:

https://github.com/lukehinds/rekor/blob/0e6a269519cfda4999c19f16f418158d7da75fd4/cmd/get.go#L44-L51

These should all be moved out to a dedicated function

[2020-09-17 21:53] #10 closed, assigned to lukehinds

[2020-09-17 21:53] #11 closed, assigned to lukehinds

[2020-10-22 10:01] lukehinds opened #29 "Finalise CLI commands and subproject roles."
hey @dlorenc , opening this issue for us to round up the approach for the CLI app and its role (and current sub commands / flags).

Currently as it stands:

[code]

We have discussed extending the following commands

[code]

I propose we do the following.

* `rekor-cli` changes its binary namespace to just `rekor`
* `rekor` then becomes the main tool that oss project maintainers use to record into

[2020-10-22 10:13] lukehinds opened #30 "Website & Documentation site"
We are going a website and docs.

The site should be able to quickly inform a visitor:

* What is rekor / what its not
* How can they get started
* Can rekor do what they

This should be in the form of a single line deployment CLI command (think rustup.rs) and an FAQ.

We should also render openapi docs on to the site and have a backend sandbox that refreshes every x hours.

[2020-10-22 10:17] lukehinds opened #31 "Project examples"
We need an `examples` repo or folder under the an existing repo.

The examples should demonstrate how users can integrate with Rekors RestAPIs.

For example, this could be some golang examples or python (there is a [python trillian library](https://github.com/projectsbyif/trillian-demo-python-api-client) , although it might need an update)

[2020-10-22 10:19] lukehinds commented on #29
I can get started on this if it lgty @dlorenc , although it makes sense I start on this after you have refactored duplicated code (as you mentioned on slack) between the CLI / server. I am guessing this is mainly structs and stuff?

[2020-10-22 11:18] lukehinds opened #32 "Rekor CLI distribution"
Once #29 is complete and we are happy with  an initial implementation, we should think about how developers get the tool.

One method is `go get`.

Another is to release right here on github (and of course make an entry into the tlog)

OS Dist packaging (allow `dnf install rekor` or `pacman rekor` etc).

* Fedora
* Debian
* Arch Linux

[2020-10-22 16:40] dlorenc commented on #29
+1 to this!

[2020-11-20 07:20] #31 closed, assigned to nobody

[2020-11-20 08:09] lukehinds opened #40 "Plugable Types"
This is a placeholder to scope out plugable types. At present we have the following generic manifest type:

[code]

My proposal is that we add a namespace.

[code]

* note: I am sure the above can be improved and open to suggestions. I wanted to get the initial intent scoped out.

`ns` will then map to a type in `rekor/pkg/types/rekord.go` which in turn will have its own validation checks, version

[2020-11-20 08:23] lukehinds opened #41 "Fix up readme"
Now that rekor-server has been merged into rekor, we need to update the readme to reference this and include steps for both running the server and the client.

[2020-11-20 12:28] bobcallaway commented on #40
Looking at https://json-schema.org/draft/2019-09/json-schema-core.html#rfc.section.11.1 I'd prefer to mimic their behavior of having the client provide the schema reference in HTTP headers rather than modifying the object in the request body.

If we do want to support other formats in the future, putting the schema reference into the body might end up colliding with their format.

+1 to formalizin

[2020-11-20 13:01] lukehinds commented on #40
I need to update this, as I omitted to add that we should support beyond just json and include XML and YAML (we should be formatting agnostic). This way the likes of [SBOM](https://cyclonedx.org/#example-sbom) etc can make entries as well.

I might move this to a google doc and we can work it out there.

[2020-11-20 17:59] lukehinds opened #44 "Implement Extra Data"
As per discussions on slack. Implement ExtraData for storing of the URL.

After downloading the artifact the URL will be parsed into ExtraData in the `addLeaf` function

[code]

[2020-11-20 21:39] bobcallaway commented on #44
I'd propose we add a timestamp (in UTC) to the ExtraData object as well.

[2020-11-24 11:44] lukehinds commented on #44
Second to this issue is @dlorenc idea of logging two entries (one with url / one without). I prefer this myself.

[2020-11-24 11:44] #41 closed, assigned to nobody

[2020-11-24 11:58] lukehinds opened #54 "Integration tests"
Perform integration tests in CI (github actions)

Stand up an instance of mariadb, log server / signer and the rekor server and then make an upload and validate it. Make sure a meaningful return code is made to inform a CI pass / fail.

[2020-11-24 14:36] dlorenc commented on #40
We discussed something like this in the meeting:

[code]

[2020-12-04 13:44] #29 closed, assigned to lukehinds

[2020-12-04 13:53] lukehinds commented on #9
https://github.com/projectrekor/rekor/pull/57

[2020-12-04 13:56] lukehinds opened #63 "Public Rekor Ledger"
A public ledger available. Including:

* Node.js data
* kernel data

[2020-12-07 11:47] lukehinds opened #68 "ERROR: logging before flag.Parse"
When starting rekor, the following error appears:

[code]

Spent a while looking into this and trying to find the root cause, it seems to be an upstream issue in glog , see [here](https://github.com/GoogleContainerTools/kaniko/issues/478)

@dlorenc you have a better insight into go packaging, any ideas?

[2020-12-07 12:57] lukehinds opened #70 "Add Additional return output to verify"
Explore additional output to the verify command:

[code]
Consider what other fields / values may be useful, perhaps some sort of signed tree head perhaps?

[2020-12-07 17:21] lukehinds opened #72 "In-toto manifest"
Once https://github.com/projectrekor/rekor/issues/40 has landed, implement an in-toto type.

[2021-01-05 13:51] bobcallaway commented on #68
fixed in 7128cd1fa4dd35132a3207ce12093ea6549bf184

[2021-01-05 13:51] #68 closed, assigned to nobody

[2021-01-05 14:25] dlorenc commented on #32
+1 on doing a real release, with a real entry in the tlog.

[2021-01-05 14:42] dlorenc opened #85 "Final productionization stuff:"
- Rate limiting?
- API key allow-listing?
- Monitoring?
- Load testing?

[2021-01-05 14:51] dlorenc opened #86 "CLI Productionization:"
Append Only
- figure out how to use the CLI to verify the server is append-only
- document that
- test that
- print raw proofs and show how to verify separately

Storing state during a "verify"
- store "high-water-mark" whenever you can
- never go back in time

Timestamps
- See if there's enough info to attest the time an entry was added.

[2021-01-12 13:29] #40 closed, assigned to nobody

[2021-01-12 13:30] #9 closed, assigned to nobody

[2021-01-12 13:30] #54 closed, assigned to nobody

[2021-01-12 14:08] #70 closed, assigned to nobody

[2021-01-12 14:21] lukehinds opened #100 "api subdomain"
apit.,rekor.dev > GKE server

[2021-01-12 14:43] dlorenc opened #101 "Add direct server support for attached signature formats"
cc @puiterwijk

This could include things like

- RPMs which bundle signatures into a special header
- Maven artifacts
- The Windows PE file format
- ELF xattrs

[2021-01-12 14:44] dlorenc opened #102 "Design: Allow for storing "signature promises""
cc @puiterwijk

This would look like an entry in Rekor that includes a digest of a file that will be signed, and the public key that will be used to sign that file.

The inclusion proof of that "promise entry" could then be included in the artifact that is signed, and then the final signature can be stored in rekor, which would include the "promise" as well.

[2021-01-12 14:55] dlorenc commented on #101
For something like an RPM, I think this would consist of changing the API to allow specifying an RPM file (URL or raw) and public key. The server would then understand how to unpack that RPM to extract the signature bits, and then to verify against the public key.

[2021-01-16 13:43] dlorenc commented on #102
OK - I think I understand this now. In certain cases, we could allow users to verify that an entry is in Rekor without needing hit the Rekor API.

For the producer:

- Create an artifact, call it `A`
- Hash this artifact, call this `H(A)`
- Create a rekor entry with the public key that **will** be used to sign the artifact, and the hash, `H(A)`
- Publish this entry to the log, and get a SignedIncl

[2021-01-16 13:44] dlorenc commented on #100
This is all setup now!

[2021-01-17 20:03] #100 closed, assigned to lukehinds

[2021-01-21 14:02] geoah opened #125 "Ρεκόρ meaning."
Fist of all can I just say that the project looks really interesting and I'm looking forward to playing around with it.

---

Mostly just FYI: The word Ρεκόρ in Greek translates to something like "previous conduct/performance/high value" or "track record", rather than what I assume you were going for in naming the project. And it would be used in terms such as "world record", "in record time", "se

[2021-01-22 02:02] dlorenc opened #128 "CLI: Store the log info locally between invocations (the latest signed tree head)"
When loginfo is called, we should store the latest signed tree head locally (in a .rekor directory).

Then, when loginfo is called again, we should perform an inclusion proof between those two signed tree heads.

This can help audit the log and prove it is append-only.

[2021-01-22 16:29] lukehinds opened #131 "Return body decoded"
The entry URL contains a base64 body. Decode this prior to return to the client.

[2021-01-23 15:27] dlorenc opened #134 "Add instrumentation to the servers"
I poked around a bit and it appears we have two main options for metrics: Prometheus and OpenCensus. Trillian appears to support both as well: https://github.com/google/trillian/blob/master/monitoring/prometheus/metrics.go

Here's what I'm hoping to get:

- Cloud-agnostic instrumentation code. The code should only know about the metrics we need to expose, not where they're going.
- Minimal operati

[2021-01-25 15:41] axelsimon commented on #134
As i was telling @lukehinds recently, i've been meaning to get to know Prometheus better, and from a first go at playing with it i'd be happy to take this one on.

If i understand correctly, @dlorenc, with the OpenCensus option we have an exporter running in the Rekor code and exporting the metrics to either directly Stackdriver, or to an arbitrary endpoint which an instance of Prometheus could th

[2021-01-25 16:43] dlorenc commented on #134
Exactly! With OpenCensus we can export directly from the Rekor process to Stackdriver/AWS/Azure/whatever, or to an HTTP endpoint (served from the same process) that a Prometheus server would then scrape.

I haven't actually gotten very far here, and I'm not an expert, so I might be misunderstanding things too.

[2021-01-27 13:16] dlorenc commented on #134
https://github.com/GoogleCloudPlatform/k8s-stackdriver/issues/358 might be of use.

[2021-02-01 16:30] bobcallaway opened #142 "incorrect CLI persisted log state error"
There are scenarios for the CLI where the server queried may not be the same as where the log state information that persisted in the `~/.rekor/` directory was obtained from. If this is the case, the CLI prints an incorrect error state in comparing states.

[2021-02-01 16:37] bobcallaway commented on #101
What are the thoughts on adding support for the CLI to introspect file type and create a Rekord type entry for a wider set of artifacts?

I created the server support for RPMs in #130 but also wondering if we could/should do some of this in the CLI as well (through something like https://github.com/sassoftware/relic)?

[2021-02-01 20:22] #128 closed, assigned to nobody

[2021-02-01 20:32] #142 closed, assigned to nobody

[2021-02-02 11:28] #63 closed, assigned to nobody

[2021-02-02 11:32] lukehinds opened #144 "On board CNCF projects"
Seek to make an accetable proposal to onboard some CNCF projects into rekor.

- [ ] Select candidate projects from teh CNCF eco-system
- [ ] Outline a process of how they can start to sign and store rekor manifests into rekors transparency log with automation and ease of use as key.
- [ ] Outline a process of how users can then benefit from the signed manifests to attest the inetgrity of release d

[2021-02-02 14:35] bobcallaway opened #145 "pin releases in k8s config"
pre-release step: review all k8s configs and ensure we use tags/digests where appropriate.

[2021-02-02 14:55] #30 closed, assigned to nobody

[2021-02-02 14:55] #72 closed, assigned to nobody

[2021-02-02 22:17] idvoretskyi commented on #144
@dlorenc @bobcallaway please go ahead and apply on LFX Mentorship platform - https://mentorship.lfx.linuxfoundation.org/project/8ffde3ac-79a5-4715-8d4d-10f2ce952536, unfortunately, I was unable to add you directly.

[2021-02-04 02:59] dlorenc opened #147 "Idea: Timestamping Authorities"
Rekor sort of acts as a timestamp witness today. A rekor entry can be returned with the timestamp at which it was included in our log. This requires that the user trust rekor's clocktime, though.

RFC3161 outlines Timestamping authorities. There is a go client here: https://github.com/digitorus/timestamp

A timestamping authority is a service that uses X.509 certificates to sign a timestamp along

[2021-02-04 07:26] me-diru commented on #144
Hello @lukehinds, @bobcallaway

I am interested in mentorship opportunity under this project, May I know where to get started and how to communicate further?
I wasn't able to find any slack group/channel and any particular issues so far.

Thank you

[2021-02-04 08:03] lukehinds commented on #144
@diru1100 I am not sure how the application part works, @idvoretskyi is there are process interns should follow to apply for this?

[2021-02-04 08:10] me-diru commented on #144
@lukehinds
Mentees should apply here: https://mentorship.lfx.linuxfoundation.org/project/8ffde3ac-79a5-4715-8d4d-10f2ce952536

For application, one must submit a cover letter and resume.

I am interested in this project, but I am new to this. So any guidance/resources on what you are looking for and what should be done would help a lot to get started and eventually apply for the opportunity.

[2021-02-04 13:48] dlorenc commented on #147
This could run as a separate service on a cron. Every day, or hour? The service would:

- Take the latest STH and timestamp from the rekor log
- Pack that up into some structure
- Send that off to a TSA using RFC3161. Example: https://github.com/digitorus/timestamp/blob/master/timestamp_example_test.go#L19
- Turn the resulting signature and certificate into a RekorEntry
- Upload that to the log

[2021-02-04 14:25] dlorenc commented on #86
Turning this one into a checklist:

Append Only

- [ ] figure out how to use the CLI to verify the server is append-only
- [ ] document that
- [ ] test that
- [ ] print raw proofs and show how to verify separately

Storing state during a "verify"

- [ ] store "high-water-mark" whenever you can
- [ ] never go back in time

Timestamps

- [ ] See if there's enough info to attest the time an entry was

[2021-02-04 20:31] prabinspkt opened #149 "Public instance hyperlink returns 404"
The hyperlink in README.md file `api.recor.dev` redirects to `https://rekor.dev/api/v1/log/` but it returns 404 status code.

[2021-02-04 20:33] #149 closed, assigned to nobody

[2021-02-04 20:33] bobcallaway commented on #149
Thanks - this should be fixed now!

[2021-02-05 14:37] imskr commented on #144
Hi, @lukehinds I've submitted the cover letter and resume. How to join the community in slack?

[2021-02-09 16:05] arnav-t commented on #144
Is there a Slack, Gitter, or an IRC channel for Project Rekor?

[2021-02-09 20:37] lukehinds commented on #125
@geoah , we actually need to pivot to a new name, do you have any ideas on some other funky greek names that sound good / look good when spelled out in English?

[2021-02-11 07:15] lukehinds commented on #147
what do you see as some of the beneficiary use cases from this Dan?

[2021-02-11 08:10] lukehinds opened #155 "New Project Name"
Signlog
Signsafe
Arbiter
Keysign
Hashsign
Treesign
Software transparency (like  certificate transparency)
Lets sign
Agano (translation of ‘testament’)
Teist (translation of ‘testament’)
Nema (translation of ‘testament’)
Zavet (translation of ‘testament’)
Teken (afrikaans for ‘sign’)
Dentro (greek translation for 'tree')
Trie (a digital tree) https://en.wikipedia.org/wiki/Trie
Arianna, Ariane or Ar

[2021-02-11 08:15] lukehinds opened #156 "Assess SPDX inclusion for k8s release BOM implementation"
Related to the following in k8s release SIG : https://github.com/kubernetes/release/issues/1837#issuecomment-777076220

Explore inclusion of SPDX manifests (XML :frowning: ) , namely:

* What sort of values would be critical (place in the t-log) and what could go in ExtraData.
* What sort of signing system is used, how would we ensure non-repudiation.
* How would k8s release display entry and make

[2021-02-11 11:23] axelsimon commented on #155
Here are a few ideas i've had.
I've tried to follow a few themes.
First, the idea of Rekor as a thread, that you can follow to safety, out of a labyrinth but also to follow the provenance and all that.
- Arianna, Ariane or Ariadne
- Theseus

Labyrinth seems a bit obvious, but it's likely origin:
- Lavra

is quite cool  (it means small street or alley in a city in ancient Greek, Wikipedia tells me)

[2021-02-11 12:43] dlorenc commented on #147
Anyone using certs with expiration to sign artifacts. They need some mechanism to attest that the signature happened while the cert was valid.

Third party systems do this today, but we can do it as part of rekor automatically.

[2021-02-11 13:57] SantamRC commented on #144
Hey @lukehinds , I am interested to contribute to this project. Is there any pre-requisite along with submitting the cover letter and resume?

[2021-02-11 14:39] nishakm commented on #156
👋 I can help answer SPDX questions (XML is only one of the supported formats)

[2021-02-11 14:45] lukehinds commented on #156
great, sounds good @nishakm , look forward to collaborating with you.

I guess a key question to kick off is if you do any sort of key signing(s) of either the SPDX manifest or the artifacts listed in the manifest, if so what is used (GPG, x509,..)?

[2021-02-11 14:53] nishakm commented on #156
You can sign a SPDX document/blob just like you would sign any artifact. At this time, the document itself doesn't support a "signature" metadata, but the community is working on adding it in SPDX 3.0.

[2021-02-11 15:03] lukehinds commented on #156
@nishakm sent you slack invite if that's ok

[2021-02-11 21:38] justaugustus commented on #144
Kubernetes xref: https://github.com/kubernetes/release/issues/1837
(I'll have the Kubernetes [Release Managers](https://github.com/kubernetes/sig-release/blob/master/release-managers.md) group investigating this quarter.)

[2021-02-16 17:21] bobcallaway opened #157 "arguments specified in environment variables/config file are not validated"
[code]

This should have failed the command line arg parsing which detects invalid URLs before attempting to connect.

[2021-02-17 15:05] #157 closed, assigned to bobcallaway

[2021-02-18 21:10] lukehinds commented on #155
All done, we had to move quickly so we are now SigStore.

[2021-02-20 13:23] dlorenc opened #171 "Rename x509 PKI to PKIX"
I think this is probably closer to the "correct" name the way we're using these keys, since we don't actually verify a certificate chain.

We could either extend this type to take an optional cert chain to verify the public key against, or have two types of PKI here.

[2021-02-20 13:24] dlorenc commented on #171
I guess the cert chains could be stored in ExtraData, since we could theoretically have multiple valid cert chains for a given signature.

[2021-02-20 15:18] dlorenc commented on #171
Or, one other idea: allow for the public key to refer to a certificate (with an embedded public key) instead of just a public key.

We would then verify the certificate itself and store that in extra data (because many certificates can contain the same public key), extract the public key and store that as usual.

[2021-02-23 14:44] #171 closed, assigned to nobody

[2021-02-26 11:07] #155 closed, assigned to nobody

[2021-02-26 11:07] #125 closed, assigned to nobody

[2021-03-02 18:21] bobcallaway opened #180 "computation of hash when fetching remote artifact is redundant"
When using the CLI to create an entry in the log for a remote entry, we currently require the caller to specify the SHA256 hash as well as provide the digital signature. Since verification of the signature will by definition include validation of the hash, we can remove this out of the Rekor processing flow.

@SantiagoTorres

[2021-03-03 13:44] bobcallaway opened #182 "incorrect location returned when object is created if apiKey is specified"
The URL returned in the Location header after creating an object does not respect the potential inclusion of an API Key as a query parameter.

[code]

[2021-03-03 13:47] bobcallaway opened #183 "E2E tests can fail prematurely because docker-compose services are not healthy before the test run starts"
In our CI step for E2E tests, the CLI is rebuilt from scratch in a new GitHub environment; this means that the go module dependencies must be fetched. The delay introduced during this fetch masks a race-condition in the`e2e-test.sh` script in that the tests can start running before the rekor services and dependencies have come up (this is usually because we are creating a MySQL database for the fi

[2021-03-03 15:52] #180 closed, assigned to nobody

[2021-03-03 19:01] #183 closed, assigned to nobody

[2021-03-03 19:37] #182 closed, assigned to nobody

[2021-03-05 00:58] dlorenc opened #188 "Hard to find an existing entry"
If you try to add an entry that already exists, we should return the index or UUID to that entry somehow.

Right now, if you try to add an entry we return an error, with no way to find the existing entry.

[2021-03-07 15:02] dlorenc opened #191 "pubsub/bigquery"
We could make some other types of (UNTRUSTED) feeds available to simplify integrations.

* All entries could get sent to a public pubsub/kafka topic for others to use.
* All entries could get synced to a public bigquery instance for ad-hoc querying/analysis.
* Publish daily/hourly (signed) snapshots and backups of the log to some kind of CDN.

[2021-03-10 14:02] pawal opened #198 "wrong path for module"
[code]

[2021-03-10 14:03] lukehinds commented on #198
ahh, a dangler from the old project name, this should be easy to fix

[2021-03-10 16:32] phad opened #199 "500 from /api/v1/log/proof if lastSize > log size"
`curl -v "https://api.rekor.dev/api/v1/log/proof?lastSize=1255"` gives response:
[code]

when `treeSize` is 1254:

`curl -v "https://api.rekor.dev/api/v1/log"` gives response:
[code]

but gives a 200 response when `lastSize` = `treeSize`:

`curl -v "https://api.rekor.dev/api/v1/log/proof?lastSize=1254"`

[code]

[2021-03-10 16:52] rgdd opened #200 "client loginfo: prints unauthenticated root hash and tree size"
The root hash and tree size that is printed by the client command `loginfo` is prepared here:

https://github.com/sigstore/rekor/blob/3c6ce1678a9b4e02e98be671fe901490d071fcb8/cmd/cli/app/log_info.go#L71

As far as I can tell that output is unauthenticated because it is not connected to the signed log root which is verified here:

https://github.com/sigstore/rekor/blob/3c6ce1678a9b4e02e98be671fe901

[2021-03-10 16:57] bobcallaway commented on #199
Thanks for the issue @phad - were you expecting a 400 Bad Request response instead of the 500 error?

[2021-03-10 17:19] phad commented on #199
Hey @bobcallaway - yes, I thought a 400 error would be more appropriate, since the cause is poorly chosen parameters being sent by the client, and not a fault on the server side.

[2021-03-10 17:39] phad commented on #199
An alternative approach is that taken by Google's CT logs based on trillian.
The equivalent API in CT is `/ct/v1/get-sth-consistency` with params `first` and `second`.
If `second` > `treeSize` it seems to be just clipped to `treeSize` and HTTP 200 is returned.

[2021-03-10 18:23] bobcallaway commented on #200
@rgdd take a look and see if #201 addresses your concern here. Thanks for the issue!

[2021-03-10 18:50] rurban opened #202 "config rekor.yaml confusion"
The docs at https://sigstore.dev/get_started/client/ point at `~/.rekor/rekor.yaml` for the default yaml.
The code at `cmd/cli/app/root.go` leaves config empty (I've added the path above), and the help points to `$HOME/.rekor.yaml`
state is stored in the `.rekor` dir, so the docs would be right, I think.

I would find it useful to store my public-key, oops public_key url there

[2021-03-10 19:07] lukehinds commented on #198
this is fixed now (it was from a tag that had the old module namespace.

[2021-03-10 19:07] #198 closed, assigned to nobody

[2021-03-10 19:33] rgdd commented on #200
@bobcallaway yup, looks good to me!

[2021-03-10 20:13] #200 closed, assigned to nobody

[2021-03-10 20:20] #199 closed, assigned to nobody

[2021-03-10 21:45] efebarlas opened #204 "docker-compose.yaml versioning"
#184 introduces healthchecks to the docker-compose.yaml file. They contain the start_period option which is not supported for docker-compose file versions  < 3.4. This might cause some errors when containers are created:
[code]
A change in the version of this file might be necessary.

[2021-03-11 05:32] #204 closed, assigned to nobody

[2021-03-11 07:30] rektide commented on #147
This reminds me a little bit of PublicTimestamp.org . Anyone could submit hashes for content they have, which would be put into the current Public Timestamp Block (PTB). Every 15 minutes a new block would get made, which would start with a hash of the just-finished block's content. In this way each block certified the last. As far as I know they didn't go out to any external timestamp authorities

[2021-03-11 14:24] dlorenc commented on #147
Hah - thanks for the pointer! That does sound very similar to our goal here.

[2021-03-12 09:47] shizhMSFT opened #208 "Failed to upload an gzipped artifact"
Following https://sigstore.dev/get_started/client/, I have the following output
[code]

The reason why `hash tag doesn't match` is that the signature is for the payload `myrelease.tar.gz` not for its decompressed content. However, the rekor cli decompress the content automatically and then do the verification.

[2021-03-12 12:11] #208 closed, assigned to nobody

[2021-03-12 12:48] dlorenc commented on #208
Thanks @shizhMSFT ! This should be deployed now.

[2021-03-12 14:29] FruityWelsh opened #210 "Feature Request: Federated access"
Reasons for doing so:
   1. In order to prevent a single point of organizational failure some form of federated services would be useful.
   1. Allows for network sharding to deal with temporary or permanent network sharding, to match the real world conditions more accurately.

Some options:
Either allowing for a store to point to another (i.e. RedHat could host a keystore that points to the KDE s

[2021-03-12 14:34] dlorenc commented on #210
Can you clarify what you mean by federated access? There are a few different approaches I can imagine so I want to understand the use-case a bit more.

Do you mean federated access to the transparency log itself? Or some kind of multi-log gossip system with quorum?

[2021-03-12 14:37] lukehinds commented on #210
I am not sure if I am following correctly, there is a gossip protocol that was defined and played with to distribute tree(s) in certificate transparency.

[2021-03-12 14:40] dlorenc commented on #210
After rereading - I think you might be suggesting that we would want signatures to be present in **multiple** transparency logs. CT works this way - CAs must publish certs to two separate logs. Multiple logs for redundancy is something we'd eventually like to support.

I'd really rather avoid federating the __data__ itself though - all public data should be in as many public logs as possible. User

[2021-03-12 15:04] FruityWelsh commented on #210
Ok, yeah that seems what I would want/expect.

How would a private rekor server work in this scenario? Could it pick and choose what to publish publically?

The quorum question would probably be more on the client software right or this provided/proven somehow from the server as well?

[2021-03-12 15:12] dlorenc commented on #210
Yes - the quorum one could be enforced in a few ways. Publishers could write signatures to a few logs and get inclusion proofs before distributing signatures/artifacts. Clients could check this. Auditors/monitors should also check that publishers are actually doing this.

For private instances, I honestly haven't thought a ton about how they would interact. I could imagine organizations running a

[2021-03-12 15:15] dlorenc opened #211 "Document mirror setups"
There might be a few already we can pull from in the Trillian examples. It could be as simple as a bash for loop that tails one log with `rekor-cli loginfo` and `rekor-cli get --uuid`, then uploads those entries to another `Rekor` server instance.

Ref #210

[2021-03-12 15:25] dlorenc commented on #210
At the same time, I think a lot of "internal mirror" setups don't need to be transparent. They're behind a firewall and operating on a trusted compute base for most organizations. There's nothing wrong with using one internally, but you could just dump entries into an plain old database with more indexes and flexible querying.

[2021-03-12 15:33] dlorenc commented on #211
We should also document some easy to use "non-transparent" mirrors for internal use. We're planning to throw data into bigquery/pubsub as part of #191. We should document how others can slurp in data directly from the log (and verify it!) then stick it into something queryable/indexable for internal use.

[2021-03-12 21:44] FruityWelsh commented on #210
I know a some organizations are moving towards a "trustless" model, to be more flexible in how they get their services, while trying to preserve a good security posture.

[2021-03-12 23:03] invidian opened #212 "Add version subcommand"
I've tried to upload a record for my software for testing and I had some issues. I installed `rekor` using `go get -u -v github.com/sigstore/rekor/cmd/cli`.

When I pulled the repository and rebuild the binary, everything worked.

It would be nice if `--version` or `version` subcommand (ideally both, aliased) could be implemented, so one can quickly check what version it's running. Even though for

[2021-03-12 23:05] lukehinds commented on #212
Good idea.

You would be on master here so there is not version as such, but when roll a release we could likely use the tag

[2021-03-15 13:37] #131 closed, assigned to lukehinds

[2021-03-15 23:48] dlorenc opened #215 "Consider storing the full x509 Certificate"
When an entry is added with an x509 certificate instead of a public key, we strip the cert and only store the public key bytes.

The CT Log stores the full cert, but we can only search it by timestamp or full cert, not public key.

If we store the full cert in rekor, we can more easily perform joins between the logs and discovery of certs.

Downsides to storing the full cert:

- More data, more ch

[2021-03-16 15:37] OR13 commented on #215
Might be worth elaborating on the use cases a bit more on the issue.

I think the main benefit of having the full cert is for forensic / incident response teams tracing upstream issues no?

It seems like facilitating discovery and relationship mapping is worth the extra bytes, and redundancy can be handled with clever UI / labeling.

[2021-03-16 18:55] #44 closed, assigned to nobody

[2021-03-18 11:15] lukehinds opened #219 "Implement a version flag"
We need a way to pull the tag into a $version and have it as a flag for the CLI

[2021-03-18 11:23] dlorenc opened #220 "Bug: Request entity too large"
I hit this when trying to upload a 3.7M artifact using the --artifact flag. It worked for me when passing in a URL. I think a reasonable limit makes sense here, but 3.7M seems like it should work. Not sure where to fix this.

[2021-03-18 11:25] dlorenc commented on #220
Ooh, apparently we can use DEBUG=1 to trace these!

[code]

so it's actually coming from our ingress.

[2021-03-18 11:43] endorama commented on #212
I'd be willing to contribute on this.

What I generally do on Go project is an internal package `version` with globals (`version` and `commit`) that get replaced at build time with `go build -X`. The version string can then be printed from a `version` command or `--version` flag on the `rootCmd`.

Would that be ok? On `master` the version would look like `master (built from 00aabbcc)`.

Questions:

[2021-03-18 12:05] invidian commented on #212
Seems like a duplicate to me. I think there should be either `version` or `--version`. Or both aliased to the same code. I personally like `-v --version` the most as it's the most predictable.

I usually put a static string in the package for tags (so `v0.1.0` and `v0.2.0-unreleased`) and bump them during the release process, so you don't have to rely on build environment. It's not ideal, but I do

[2021-03-18 12:25] #219 closed, assigned to nobody

[2021-03-18 12:38] lukehinds commented on #212
sorry, the dupe was my fault, closed that now

would be good if you could take this on @endorama

I will defer to @dlorenc on how best to implement as he has a better grasp of go idioms than myself.

[2021-03-18 12:51] lukehinds commented on #212
@endorama I pinged you on slack about something

[2021-03-18 23:31] tiziano88 opened #222 "rekor CLI should print entry URL even in case the entry already exists"
Currently it just prints `Entry already exists.`

[2021-03-19 06:37] #85 closed, assigned to nobody

[2021-03-19 06:38] lukehinds commented on #85
hope its ok to close this @dlorenc  (just doing some house cleaning), I will break these out into sep issues.

[2021-03-19 06:40] lukehinds opened #223 "Load testing"
We need a super duper load testing tool.

I expect we might be able to use some of [ct_hammer](https://github.com/google/certificate-transparency-go/blob/v1.1.1/trillian/integration/ct_hammer/main.go)

It might make sense to have this test each type / pki.

[2021-03-19 13:41] tiziano88 opened #227 "`Error generating canonicalized entry` when uploading pre-formatted entry via `--entry` flag"
To reproduce:

in r.json (I dumped this from an [existing entry](https://api.rekor.dev/api/v1/log/entries/2f2f56599f8ae02409224c28143b72a8ff24db514011d493dbf91379b0ea7ca3), so it should definitely pass validation):

[code]

then

[code]

[2021-03-19 14:00] tiziano88 commented on #227
It worked with the following entry, specifying the inlined data (thanks @bobcallaway for the help):

[code]

[2021-03-19 23:46] dlorenc opened #229 "Update Rekor API after get by UUID removal"
Looks like the GetLeavesByHash call got removed somewhere, our CI running against the trillian_log_server at head broke. I pinned it, but we'll need to fix that before we can update

[2021-03-20 01:23] dlorenc opened #230 "Calculate uuid locally?"
This should be deterministic, can add a way to calculate this locally by canonicalizing?

[2021-03-20 06:24] lukehinds commented on #229
I asked in the trillian slack why they removed this. It seems to be because they are not using it in CT:

https://github.com/google/trillian/pull/2243

[2021-03-20 10:17] bobcallaway commented on #229
FYI for switching to a different API call:

https://github.com/sigstore/rekor/blob/e0c5e30da866c9691eb0a8fcae3dc17edec5bff6/pkg/api/entries.go#L149

[2021-03-24 02:51] dlorenc commented on #229
To summarize, we'll need to change up the API a bit here. Get by UUID doesn't really make sense, if you have the UUID you'll instead want to verify.

[2021-03-24 02:54] dlorenc opened #232 "Proposal: Add an RFC3161 Timestamp server to our API"
This would ease integration with Java and other tooling that expects timestamps in this format. We could expose two APIs:

- A normal RFC3161 variant, where users send us a TSR and we reply with a timestamp
- A less difficult to use one, where users just send us a blob and we return a timestamp, in the RFC3161 format.

Both variants would log signatures to Rekor, and could include the index in the

[2021-03-24 20:59] #222 closed, assigned to nobody

[2021-03-24 23:21] ahmetb opened #233 "garbled text in error message"
making request to https://api.rekor.dev/api/v1/log/entries/retrieve

with body:

<details>
<summary>click to show</summary>
<pre>
{
    "entries": [
        {
            "apiVersion": "0.0.1",
            "kind": "rekord",
            "spec": {
                "data": {
                    "content": "eyJDcml0aWNhbCI6eyJJZGVudGl0eSI6eyJkb2NrZXItcmVmZXJlbmNlIjoiIn0sIkltYWdlIjp7IkRvY2tlci1tYW5pZmVz

[2021-03-25 09:27] lukehinds opened #234 "Port flag is ignored"
Port flag is ignored.

[code]

[2021-03-25 09:39] lukehinds commented on #234
same appears to be the case for host

[code]

[2021-03-25 11:41] dlorenc commented on #229
Let's use this to track the API changes/simplifications we'll make here as a result of the trillian changes.

[2021-03-26 14:47] bobcallaway commented on #233
@ahmetb  certainly not intentional... will have to dig further

[2021-03-26 14:48] #227 closed, assigned to nobody

[2021-03-27 01:55] dlorenc commented on #215
FYI, we ended up going forward with this, your summary of the tradeoffs is basically exactly why!

[2021-03-27 01:55] #215 closed, assigned to nobody

[2021-03-27 14:56] lukehinds opened #239 "WASM type"
Related client side issue: https://github.com/sigstore/sigstore/issues/16

[2021-03-27 15:02] dlorenc opened #240 "Alpine Package Type"
Similar to the RPM one, we can add direct support for signed APKs

[2021-03-27 17:57] #233 closed, assigned to nobody

[2021-03-28 13:02] dlorenc commented on #230
I think this is moot with #229

[2021-03-28 13:02] #230 closed, assigned to nobody

[2021-03-30 19:43] LeSuisse commented on #32
Just so you know, I have opened PRs to include rekor and cosign in nixpkgs:
https://github.com/NixOS/nixpkgs/pull/117805
https://github.com/NixOS/nixpkgs/pull/117812 + https://github.com/NixOS/nixpkgs/pull/117976

It also looks like `rekor-cli` is available on Arch Linux via `community`: https://git.archlinux.org/svntogit/community.git/tree/trunk/PKGBUILD?h=packages/rekor

[2021-03-31 16:02] asraa commented on #188
Fixed with https://github.com/sigstore/rekor/pull/226
prints out entry URL if already exists

[2021-03-31 16:02] #188 closed, assigned to nobody

[2021-03-31 16:47] lukehinds opened #247 "Add email search index to redis"
To allow searching via email, let's add it to the redis. Clients can then query rekor for entries according to an indenity.

[2021-03-31 17:14] asraa commented on #147
Do you envision adding timestamp verification as being integrated into signature verification flows (like cosign)? I don't see much value in adding timestamp attestations if it's not easy to check them. E.g.

`COSIGN_EXPERIMENTAL=1 cosign verify -key cosign.pub -verify-timestamp <authority public key> dlorenc/demo `

would
* Verify the artifact exists in rekor
* Verify that the signature was integ

[2021-03-31 17:43] dlorenc commented on #147
Hah, this is out of date a bit. It's already integrated into cosign: https://github.com/sigstore/cosign/blob/main/KEYLESS.md#usage

[2021-03-31 17:49] asraa commented on #147
Oops! Nice. Sorry this was proposing the additional step of verifying rekor's timestamp against a timestamp authority.

[2021-03-31 18:09] dlorenc commented on #147
Ahhh yeah we can probably strengthen this up a few different ways!

[2021-04-06 09:14] lukehinds opened #255 "Planning for deprecation log"
I am hearing more and more demand for this. folks want a way to mark nefarious / deprecated images and releases, so users can query to see if an image is considered safe to use. From a cursory look , we should be able to work with the current default x509 type, but some extra fields may be useful (for example CVE numbers, EOL dates).

[2021-04-06 20:49] priyawadhwa opened #256 "Serve a fulcio signed certificate of the rekor public key"
In cosign we're currently working on bundling all necessary proofs into the signature (https://github.com/sigstore/cosign/issues/181) -- the idea is that we can verify the signature is in rekor without having to actually access the rekor tlog.

Ideally, we would like cosign to verify these signatures with as few public keys required as possible. Instead of having to store rekor's public key in the

[2021-04-06 21:24] dlorenc commented on #256
+1! We can add it onto the API here: https://github.com/sigstore/rekor/blob/main/pkg/api/tlog.go#L122

When we get the certificate signed.

[2021-04-07 20:32] asraa opened #257 "Get signed proof from rekor for bundled cosign signatures"
**Description**
This is for getting bundling (https://github.com/sigstore/cosign/issues/181) working.

When cosign uploads the {signature, public key, payload} to rekor, we need rekor to provide proof that the entry is in the tlog.
1. We'll have Fulcio serve a cert for Rekor https://github.com/sigstore/rekor/issues/256 to single out Fulcio as a trust source.
2. We need to get Rekor to provide a si

[2021-04-07 20:46] dlorenc commented on #257
I was looking for some inspiration on what to do with the keys (since we now have two). Unfortunately the ctclient stuff doesn't handle this today: https://tools.ietf.org/html/rfc6962

There's some more info here:
https://github.com/google/certificate-transparency-community-site/blob/master/docs/google/known-logs.md

[2021-04-07 20:55] dlorenc commented on #257
I can't find any logs that use two separate keys. It sounds like we might be able to use the same one?

https://github.com/google/certificate-transparency-go/blob/master/trillian/docs/ManualDeployment.md#key-generation

[2021-04-09 07:11] lukehinds commented on #257
Will rekor still be able operate independently of a fulcio instance being present, e.g. this proposal is implemented in a modular way so the operator can run either with this new mode of operation or the current mode?

[2021-04-09 10:13] dlorenc commented on #257
Yeah, this portion is really about deciding whether we have one key or two i think, separate from fulcio.

[2021-04-09 12:05] asraa commented on #257
Currently, I have it with the same key. Whether or not the fulcio instance is present would just change your trust model (would you be able to trust rekor's signed tree hash + proof or do you want fulcio to serve an intermediate cert for rekor to ultimately trust fulcio)

[2021-04-09 17:41] priyawadhwa commented on #256
Opted to store the public key in cosign instead, so this is no longer needed!

[2021-04-09 17:41] #256 closed, assigned to nobody

[2021-04-10 00:29] #229 closed, assigned to nobody

[2021-04-12 00:54] dlorenc opened #262 "Trillian is removing the log signing"
We need to update our trillian clients and production instances to deal with the removal of log signing. This has a few implications:

* It makes the API changes @priyawadhwa and @asraa were thinking about much more straightforward
* It simplifies our key management story
* It potentially means we need to change our private key. Can we use KMS?
* We need to drop all of our signature verification,

[2021-04-12 00:54] dlorenc commented on #262
I don't think this will matter to the CT log. We can update that too though easily.

[2021-04-12 07:12] lukehinds commented on #262
Good catch @dlorenc , I have read the original trillian issue and its very parse on details. Maybe we can chat about rekor changes required on the community meeting.

[2021-04-12 11:35] dlorenc commented on #262
I think the breakage is 100 percent our fault for not pinning the tag on the signer, but the details are light on the original pr.

[2021-04-12 12:30] asraa commented on #262
Just to talk it out yet again :P This means rekor should now be signing its own tree heads to publish on the log and can then be signing promises to include?

BTW cosign never verified the signature on SignedLogRoot (https://github.com/sigstore/cosign/blob/e9f5113e2a4a8cda2e6fa2ea561b12f9049fa4cf/pkg/cosign/verify.go#L138). Just want to confirm my mental model that the onus on verifying public log

[2021-04-12 12:51] dlorenc commented on #262
That's my understanding. I think we'll want to wait a few days until the trillian client changes settle and get more clear, then come up with a plan to tackle all the changes at once. Does that make sense?

[2021-04-12 16:48] priyawadhwa commented on #262
Sounds good! +1 to changing our private key & using KMS instead

[2021-04-12 16:54] asraa commented on #220
Looks like this is fixed with a max of 32 mb.

Do we want to catch the error earlier?

[2021-04-12 16:57] dlorenc commented on #220
Ah good call, yeah we could keep this open to track erroring earlier in the client.

We can also bump this up higher if we want.

[2021-04-13 19:41] bobcallaway commented on #220
reopening per discussion at https://github.com/sigstore/rekor/pull/264#discussion_r612716174

[2021-04-14 15:33] dlorenc opened #269 "Figure out code coverage"
I don't think we need to really track this continuously, but it would be nice to have a manual way to see an accurate coverage representation.

It's pretty easy to see unit test coverage:

[code]

but the majority of our coverage here is actually at the e2e level. We lose coverage tracking there because the tests are spun up in a different process and we exercise the command line/API for that.

[2021-04-14 15:50] dlorenc commented on #247
@asraa is working on this one!

[2021-04-14 15:52] dlorenc opened #270 "Admin tooling for redis index"
**Description**

It would be great to have some tooling to automatically rebuild the redis index in case it gets behind the log or we drop entries. Right now we index whenever entries are added, but if something gets dropped it would never be added.

A manual tool we can run would be great as a start, then figure out some way to run it continuously (maybe a goroutine/cron in the same server proces

[2021-04-14 15:55] dlorenc commented on #232
This gets a lot easier with #262

[2021-04-14 15:55] dlorenc commented on #232
@bobcallaway - does this help with your maven plugin at all? I know java expects timestamps.

[2021-04-14 16:06] priyawadhwa opened #271 "Use JWKS format for public keys"
We could consider using the JWKS format for the rekor public keys, which would be useful if we want to send multiple keys to a user. This could be nice to have once we start rotating keys, so that users can figure out which public key they need to verify against based on some provided timestamp.

Related comment: https://github.com/sigstore/rekor/pull/267#discussion_r613193322

[2021-04-14 16:14] dlorenc commented on #232
https://blog.cyborch.com/trusted-time/ for reference on what a more "usable" rfc3161 could look like :)

[2021-04-14 17:19] bobcallaway opened #273 "refactor CLI type handling"
**Description**

Right now we have a bit of spaghetti code when we handle command line arguments to the various CLI commands. Some types (RPM, JAR) do not take certain args because the signature and/or public key needed are embedded within the file, versus being detached and processed separately.

It would be good to generalize this and make this explicitly declared within the type implementation,

[2021-04-14 18:06] bobcallaway commented on #232
I think it could, but need to think more about the sequencing of all of this.

[2021-04-14 19:51] bobcallaway opened #274 "remove duplicate code across multiple type impls"
**Description**

Base64StringtoByteArray could be pulled into a single implementation and just referenced in the specific types.

[2021-04-15 14:46] dlorenc commented on #145
This is done and moved over to the other repo anyway.

[2021-04-15 14:46] #145 closed, assigned to nobody

[2021-04-15 19:33] lukehinds opened #280 "Dump out url when debug flag is set"
In order for us to get some better insight during adoption phases, we could have a debug flag `REKOK_DMP=1` which dumps the artefact URL to a file or if its a locally sourced artifact, the name of the file and mimetype.

This would give us some idea on what is being signed to get an idea on adoption / use.

[2021-04-16 20:55] dlorenc opened #282 "Stop using raw trillian protobufs for our external API"
The trillian team recommended we reencode data from trillian into our own API objects for openapi. This gives us control of versioning between the rekor-cli client and server. Right now we can get stuck in situations where the trillian protos change and we can't update the server without breaking clients.

[2021-04-18 17:03] #274 closed, assigned to nobody

[2021-04-20 16:28] hhurtado opened #284 "Does the rekor server validates the artifact?"
I've been reading the documentation at https://sigstore.dev/get_started/client/ and https://sigstore.dev/get_started/server/ and the first one states that the client validates the signature for the artifact but, does the rekor server validates the signature before creating the entry in the transparency log?

I don's see a specific error response for this case in the openapi.yaml file neither the c

[2021-04-20 17:46] bobcallaway commented on #284
The verification is done in a type-specific manner (see https://github.com/sigstore/rekor/blob/4d98f80a4907314f3d1f641abb956d4996731bf3/pkg/types/rekord/v0.0.1/entry.go#L265 for the generic Rekord type), but see https://github.com/sigstore/rekor/blob/4d98f80a4907314f3d1f641abb956d4996731bf3/pkg/api/entries.go#L106 for where an HTTP 400 Bad Request error is returned if the input content is malforme

[2021-04-21 07:00] hhurtado commented on #284
Hi,

This is just what I was looking for, thank you very much

[2021-04-21 07:00] #284 closed, assigned to nobody

[2021-04-21 18:44] bobcallaway opened #286 "deal with deprecation of x/crypto/openpgp"
**Description**

Per https://github.com/golang/go/issues/44226 `golang.org/x/crypto/openpgp` is now frozen and deprecated. We should look to switch to a different implementation to ensure we stay up to date as best we can with this technology.

[2021-04-23 13:44] dlorenc opened #289 "Search API: Include explicit hash algorithm"
@tiziano88 suggested we include the hash prefix in our search index (right now we include the hash index in the actual transparency log (SHA256), but search just uses the raw hash with no algorithm.

[2021-04-27 22:11] priyawadhwa opened #292 "Verify signedEntryTimestamp on `rekor-cli upload`"
Once https://github.com/sigstore/rekor/pull/291 is merged

[2021-04-29 21:05] #289 closed, assigned to nobody

[2021-04-30 12:05] bobcallaway commented on #247
Fixed by #276

[2021-04-30 12:05] #247 closed, assigned to nobody

[2021-05-01 01:07] #292 closed, assigned to nobody

[2021-05-04 20:59] bobcallaway opened #296 "invalid response code for GetLogEntryByIndex for index that doesn't exist"
**Description**

HTTP response code is 500, expected 404

[code]

[2021-05-05 18:26] #296 closed, assigned to bobcallaway

[2021-05-06 19:25] lukehinds opened #298 "Improve and update documentation for 1.0.0 release"
We should update deployment guides and include new features such as types available (jar) and timestamping.

[2021-05-06 20:25] lukehinds opened #299 "release 0.2.0"
Items needed for release 0.2.0

- [x] Implement RFC 3161 timestamp responses https://github.com/sigstore/rekor/pull/293
- [ ] Updated deployment documentation https://github.com/sigstore/rekor/issues/298
- [x] Decouple Trillian GRPC API from Rekor externals https://github.com/sigstore/rekor/pull/322
- [x] Add version flag https://github.com/sigstore/rekor/issues/303
- [x] Switch from api.rekor.dev

[2021-05-07 16:58] lukehinds opened #305 "Switch from api.rekor.dev to api.sigstore.dev."

[2021-05-11 20:21] bobcallaway commented on #305
do we want api.sigstore.dev or rekor.sigstore.dev?

[2021-05-12 04:57] lukehinds commented on #305
I agree rekor.sigstore.dev is more descriptive, this issue is just to follow suit on:

https://github.com/sigstore/cosign/commit/b48428df5d56433c471f0ec1ea1d3567e7143283

However I can't see this change in the public good instance, where are with this at present @dlorenc ?

[2021-05-13 16:25] bobcallaway opened #303 "add version flag"
In accordance with sigstore/community#16, implement a version flag

[2021-05-13 16:36] lukehinds commented on #299
correction, there is in fact already a 0.1.0, my bad (it was a while ago).

[2021-05-14 23:13] #305 closed, assigned to nobody

[2021-05-14 23:14] #303 closed, assigned to nobody

[2021-05-18 17:07] bobcallaway opened #308 "failed verification of just uploaded entry is not fatal in CLI"
**Description**

If we are unable to verify the signature of an entry we just added to the log, then we should return a non-zero error code from the CLI.

[code]

[2021-05-18 19:15] #308 closed, assigned to bobcallaway

[2021-05-21 10:32] axelsimon opened #311 "Remove unused branch master"
We currently have both a `main` and a `master` branch.
I think this is likely to create confusion at some point and given the master branch contains nothing that the main branch doesn't also contain (it's just currently 313 commits behind, having not moved since September), it seems safe to just remove it.

[2021-05-21 12:16] bobcallaway commented on #311
Thanks for pointing this out. I cleaned that up as well as many other stale branches from early in the life of the project.

[2021-05-21 12:16] #311 closed, assigned to nobody

[2021-05-24 13:56] #262 closed, assigned to nobody

[2021-05-24 13:58] dlorenc opened #313 "Use new STH format from Trillian"
Trillian is working on a new format for signed-tree-heads that should allow witnesses/monitors/auditors to run against any transparency log without needing to know or care what's in the log. We should switch to this when it's ready.

https://github.com/google/trillian-examples/tree/master/formats/log

cc @alcutter

[2021-05-24 19:10] lukehinds commented on #282
#293 is merged now, so might be good to go ahead with this one.

[2021-05-25 18:54] lukehinds opened #315 "New Timestamp Format"
Issue to track new timestamping efforts

* will update shortly.

[2021-05-26 10:06] axelsimon opened #316 "[minor] CLI flags inconsistency"
This is admittedly quite small, but we currently have a mix of flags that use underscores and hyphens:
`rekor_server` but `public-key` or `log-index`, for instance.

Is this worth fixing?
I would tend to argue that yes, because it makes it easier on users to by giving them one less thing to remember ("is that flag an underscore or a hyphen? I can never remember…").

If so, what would the community

[2021-05-27 13:59] cpanato commented on #299
same question here
@lukehinds @dlorenc @bobcallaway What is your plan date to release rekor 0.2.0? I would like to create the milestone to track the issues/prs and the planned date for the release.

I will create a milestone for now with no dates, but lets define a date

[2021-05-28 12:12] dlorenc opened #319 "Refactor: separation of API from storage"
Right now our API layer is tightly coupled to the storage layer. The API types directly turn into storage types, even though there is tons of validation and canonicalization first. It makes it hard to understand exactly what gets stored in the log for a given type, and makes the code harder to read and test in general.

I think we can separate these cleanly.

[2021-06-01 12:02] lukehinds commented on #299
hey @cpanato , sorry for late reply. We might need to group up and think about the hard dates on releases. As it stands the main issue is we don't time box when patches will be completed by (in this case #282),  we just rely on the good will of someone to  pick up / complete the work.

tagging @dlorenc and @bobcallaway for thoughts.

[2021-06-06 21:12] dlorenc opened #325 "Figure out how to run timestamp server standalone."
It might make sense for organizations that run Rekor internally to use the timestamp server but without the transparency log. We should document how to do this easily.

[2021-06-07 19:40] #313 closed, assigned to nobody

[2021-06-08 17:25] #282 closed, assigned to bobcallaway

[2021-06-09 14:26] itewk commented on #44
was this implemented? im not seeing the url to the artifct that was signed being automatically added to extra data, which i thought is what this was saying it implemented.

[2021-06-17 13:20] lukehinds commented on #299
https://github.com/sigstore/rekor/releases/tag/v0.2.0

[2021-06-17 13:20] #299 closed, assigned to lukehinds

[2021-06-18 06:25] cpanato commented on #298
looks like we did not achieve that. I Will edit to move this to 0.3.0 and will work on this

[2021-06-23 19:01] #240 closed, assigned to nobody

[2021-06-23 23:05] loosebazooka commented on #319
Here's a rundown of the types

### Types

#### rekord
| field | api | storage |
| --- | --- | --- |
| data | * | * |
| data.content | * | |
| data.hash | * | * |
| data.url | * | * |
| signature | * | * |
| signature.content | * | * |
| signature.format | * | * |
| signature.url | * | |
| signature.publicKey | * | * |
| signature.publicKey.url | * | |
| signature.publicKey.content | * | * |
| extr

[2021-06-26 21:43] dlorenc commented on #315
Let's use this issue to track the new timestamp format @asraa is working on!

[2021-06-28 12:54] asraa commented on #315
Hi!

So for context, originally I hashed out and was working on a `TimestampNote` inspired by `SignedNote` that I was generalizing from Bob's impl of the `SignedCheckpoint`. The TimestampNote would follow the roughtime protocol and include a blind, radius, etc.

However, I think we may as well use Roughtime structs following https://github.com/cloudflare/roughtime so that when Rekor is fully produ

[2021-07-05 13:32] dlorenc opened #352 "Document Corruption/Recovery Plan"
Placeholder to figure out, design,and document our corruption/recovery plan.

Ref https://groups.google.com/a/chromium.org/g/ct-policy/c/PCkKU357M2Q/

At a high level, I think we would freeze the log and create a new one at the point of corruption. We'd have to replay any entries that came in after the corruption into the new log, very very carefully and transparently.

We also need a plan in gene

[2021-07-05 13:34] dlorenc opened #353 "Temporal Log Sharding"
We need to plan a way to shard out the log by time. CT logs typically start fresh every year, and require users to fetch entries from the correct log by knowing when the certificate was issued.

We could do this easily - but it might be nice to think through an API server that aggregates multiple logs, to allow for querying across a range of them. A frozen log is still useful, artifacts run for ma

[2021-07-05 13:34] dlorenc commented on #353
Ref #352

[2021-07-06 06:39] lukehinds commented on #352
I guess a key part of this is also how we would know a failure has occurred,  which is where our monitors would come in.

[2021-07-06 21:17] sylvestre opened #355 ""go get" for the cli is returning an error code"
Even if the build works after this, the command:
[code]
is returning 1 (while it should return 0)

I haven't seen any error in the log

Please note that I don't know much about go, so, it might just be me :)

[2021-07-07 06:03] lukehinds opened #357 "FIPS compliant libraries"
We currently have two non FIPS compliant modules in use:

[code]

We should port to FIPS compliant modules, as being non FIPS will make it a challenge for operators to deploy rekor into government / military / FSI etc

[2021-07-07 17:31] bobcallaway commented on #357
note that https://github.com/sigstore/rekor/issues/286 found that we can't swap for the proton mail openpgp port due to lack of support for RPM signatures (which require pgp v3 packets)

[2021-07-08 07:05] sylvestre opened #359 "Handling of errors could be improved"
If I run
[code]
So, with `--artifact` missing, I am getting a long error message shared at the end of this bug report [1], including the backtrace

It would be more convenient to have only the first line as error message.

[code]

[1]
[code]

[2021-07-08 07:21] lukehinds commented on #359
Yeah I do see your point. I do wonder if that should even be an ERROR logging level event. This is a users error, rather then an error of the application. A bit like if I try to turn the ignition key on my car without the brakes engaged the car will warn me (engage break to start engine), but not with a red exclamation mark to suggest a fault

Stack traces are a double edge sword, on one hand they

[2021-07-08 07:23] lukehinds commented on #357
is it viable / extensive to get that work upstream (note to self, is proton mail openpgp even FIPs)?

[2021-07-10 07:44] sylvestre opened #362 "Not a very useful error message "Message:Error generating canonicalized entry""
This is probably an issue on my side but the error message isn't helpful for me to debug
[code]
Seems to be coming from:
https://github.com/sigstore/rekor/blob/9fa4e207dd84b65355c853d7765b81db76335e6d/pkg/api/entries.go#L138-L141

[2021-07-10 08:23] sylvestre opened #363 ""rekor upload --artifact <file>" should accept only URL (or improve the error message)"
The doc  ( https://sigstore.dev/get_started/client/ ) says
`"The upload command sends [...] artifact URL to the rekor transparency log."`
and
`"download a local copy of the artifact"`
but the client help talks about "path" too
`      --artifact fileOrURLFlag     path or URL to artifact file`

Maybe it works when the server is local too but trying with a remote server, the error message is cryptic:

[2021-07-11 11:23] sylvestre opened #365 ""rekor verify" is showing the help twice"
[code]

[2021-07-11 14:06] #365 closed, assigned to nobody

[2021-07-11 20:50] dlorenc commented on #355
Which go version are you using?

[2021-07-11 20:59] sylvestre commented on #355
The one coming from Debian: go1.15.9

[2021-07-12 14:03] puerco commented on #234
Just to get familiar with the codebase, as looking into this issue over the weekend but I was wondering if https://github.com/sigstore/rekor/pull/339 will supersede it. WDYT @bobcallaway  ?

[2021-07-12 15:19] bobcallaway commented on #234
no, I don't think it will supersede it. I think the issue here is that we have two command line args for port and one is stomping over the other: https://github.com/sigstore/rekor/blob/1c30d2ff9518bd570d91fedae3f547c9394704ff/cmd/rekor-server/app/serve.go#L96 overwrites the value of the arg `--port` with the value of `--rekor_server.port`

[2021-07-14 00:51] shibumi opened #373 "Failing tests on Arch Linux (Go 1.16.5)"
Hi,

I try to build rekor right now and there are a few failing tests.

Do I need to generate something special prior build? (Note: I don't use the makefile..)
Right now I am building rekor-cli and rekor-server like this:

[code]

[2021-07-14 01:31] dlorenc commented on #373
I think the tests are actually passing - did you get a non-zero exit code?

It looks like that's intentional error logging (which shouldn't fail the test but looks scary). Are you running tests with "-v"? Could you try leaving that off?

[2021-07-14 01:35] shibumi commented on #373
Here is the full log with `go test -v ./...`:

[code]

[2021-07-14 01:47] dlorenc commented on #373
Ah ok! I missed it, my bad. The unit tests shell out to "ssh-keygen" to verify signature compatibility back and forth:

[code]

We should probably document that as a test dependency and fail with a SKIP if it's not found.

[2021-07-14 01:51] shibumi commented on #373
@dlorenc this sounds easy. I guess it's just checking for the ssh-keygen binary in the path. And if it's not there we just ignore that test. If you want I can donate a PR for this :)

I have fixed our Arch Linux package with adding openssh to our make dependencies.

[2021-07-14 01:56] dlorenc commented on #373
Thanks! Yeah that sounds perfect!

[2021-07-14 16:11] #273 closed, assigned to nobody

[2021-07-15 16:31] dlorenc commented on #353
High level ideas:

We could maintain a (signed) shard map, which specifies:

- The root hash for each log
- Which index ranges belong to each log

When you query by index, we can easily look up the correct log using these ranges
When you query by UUID, there should be at most one log with the right entry. How can we make sure of this? Should we iterate through all the logs?

[2021-07-16 11:51] bobcallaway opened #375 "e2e test TestJARURL times out"
**Description**

`TestJARURL` is currently connecting to a Jenkins mirror that can be fast or even timeout during e2e testings. This should point to a local HTTP server so we do not have external connectivity dependencies in the e2e tests.

[2021-07-16 14:33] bobcallaway commented on #363
@sylvestre thanks for the issue - specifying a local path OR a url should both work. The cryptic message isn't helpful (and we should improve that), but means that the server sent back an error that couldn't be parsed by the client.

could you re-run this with `DEBUG=1` and share the result? thanks!

[2021-07-17 12:20] #375 closed, assigned to nobody

[2021-07-17 12:21] #362 closed, assigned to nobody

[2021-07-19 01:24] shibumi commented on #373
closed with #378

[2021-07-19 01:24] #373 closed, assigned to nobody

[2021-07-19 12:16] bobcallaway commented on #363
This may be a dup of https://github.com/sigstore/rekor/issues/220 if your file is > 32MB.

[2021-07-19 12:19] sylvestre commented on #363
Yeah, it is about 90mb
(sorry for the latency)

[2021-07-19 16:40] bobcallaway commented on #363
I've updated the rekor service to return a correctly formatted error message:

`[POST /api/v1/log/entries][413] createLogEntry default  &{Code:413 Message:Request Entity Too Large}`

[2021-07-19 16:40] #363 closed, assigned to nobody

[2021-07-19 16:41] bobcallaway commented on #220
Rekor service now correctly formats this error message and is handled correctly by rekor-cli

`[POST /api/v1/log/entries][413] createLogEntry default  &{Code:413 Message:Request Entity Too Large}`

[2021-07-19 16:41] #220 closed, assigned to nobody

[2021-07-20 08:08] sylvestre opened #379 ""rekor search --sha" should verify the format of a sha"
@dlorenc explained me that `rekor search --sha` expects `sha:`. It should trigger an error:
Examples:
Works =>
[code]

Fails without error
[code]

[2021-07-20 08:11] sylvestre opened #380 "If "rekor-cli search" fails, the error code should be !0"
For geeks like me, when used in scripting or in the CI, it would be valuable to return not 0.

Currently:
[code]
Should be:
[code]

[2021-07-20 08:12] sylvestre commented on #380
If 0 is the desire behavior, an option --exit-code-error could be added

[2021-07-20 11:27] dlorenc commented on #379
+1 to this. @bobcallaway any ideas how to plumb the index types through for earlier validation?

[2021-07-21 11:38] bobcallaway commented on #379
I think the issue reported here is a regression from some of my cleanup work - as the API call always requires the `sha256:` prefix but in an effort to be backwards compatible I made it optional in the flag parsing.

Both are technically valid sha256 digests, but the reason the search fails is due to the lack of inserting the prefix ahead of the client making the API call to the server.

I'd have

[2021-07-21 13:53] #379 closed, assigned to nobody

[2021-07-26 17:23] sabre1041 opened #384 "Unable to query log index 0"
Error thrown when attempting to query log index 0

[code]

[2021-07-27 09:54] #384 closed, assigned to nobody

[2021-07-27 09:55] #380 closed, assigned to nobody

[2021-07-27 09:59] lukehinds opened #387 "context timeout may be a bit on the aggressive side"
I don't have the fasted connection in the world, and this means I can't manage to submit an entry before a timeout.

[code]

This is on a 19mb file

[2021-07-27 11:46] lukehinds opened #388 "Work out release process for main -> release -> public instance"
We need to a method to firm up release procedures with the view of the public good instance. We should also look to have CI tests run against the current version of the public instance. I don't know how we would do this yet, but want to get it tracked as an item.

[2021-07-27 11:46] lukehinds commented on #388
likely same for fulcio as well

[2021-07-27 12:37] dlorenc commented on #388
Is this for the CLI/client? So basically test the client against the running version of the prod server?

[2021-07-27 12:46] lukehinds commented on #388
Yup!

Currently if someone pulls down 0.2.0 and aims it at the pub instance, it fails (just cutting a new release with @cpanato )

[2021-07-27 14:54] asraa opened #389 "Signed Note verification question"
When verifying SignedNotes, we never check that the loaded public key matches the hash.

I think the only purpose is for easy lookup and early rejection in case none of the known public keys match the hash in the `note.Signature`. Shouldn't be a bad thing, right? WDYT?
(e.g. this would fail: a valid signature for a loaded public key, but the note.Signature specifies a different public key.)

https

[2021-07-27 15:05] dlorenc commented on #388
Yup, makes sense! Should be easy to add as a test matrix by changing the URL from a local instance to the prod one. We could even do the reverse combination (last released CLI against the service at HEAD)

[2021-07-28 00:55] dlorenc commented on #255
This has come up a few times recently, and I just had a thought. What if instead of deprecation logs, we flip things around and add validity logs?

I outlined this here: https://dlorenc.medium.com/policy-and-attestations-89650fd6f4fa, but attestations around supply chains are best phrased as positive statements, rather than negative ones. A deprecation log is similar to a revocation log - they bot

[2021-07-28 06:37] lukehinds commented on #255
Interesting, I think there is still valid use for a dlog (I just made a word).

How do you see the re-attesting occur , would this be a case of publishers resign all supported releases again?

[2021-07-28 07:19] dlorenc commented on #255
Yeah - instead of "this is now deprecated", the log switches to "this will deprecate on X date, unless you hear otherwise saying it's good for longer".

[2021-07-28 15:25] hectorj2f commented on #234
I created a PR to handle this issue here https://github.com/sigstore/rekor/pull/396 :).

[2021-07-28 16:13] hectorj2f commented on #359
@sylvestre @lukehinds While looking at this issue, I found the reported behavior has been fixed in https://github.com/sigstore/rekor/pull/339/files#diff-12ecf342fbb46d886a1818af952f4058e78628355981ce04300f981a6b7a7a66R59 with `cfg.DisableStacktrace = true`. Should we close this issue ?

[2021-07-28 17:28] #234 closed, assigned to nobody

[2021-07-29 10:19] lukehinds opened #398 "Provide instructions on verifying rekor releases"
There are currently no steps shown on how to verify the signing of a rekor release. This should be documented and described in set of steps using a common tool (openssl)

[2021-07-29 12:29] #398 closed, assigned to nobody

[2021-07-29 21:29] bobcallaway commented on #389
meh... feels like an optimization to check; if signed notes were large then I could see saving the hash pass over the entire message (large) VS that of the public key (small)...

I wouldn't reject a PR to add this; the only situation I can think of (easily) is if someone put a public key into an X509 code signing cert and incorrectly hashed the entire cert (instead of the embedded key), putting th

[2021-07-29 21:30] bobcallaway commented on #387
Fixed in #390

[2021-07-29 21:30] #387 closed, assigned to nobody

[2021-08-05 12:50] hectorj2f commented on #212
@lukehinds isn't this done?

[2021-08-05 13:03] invidian commented on #212
I see `version` subcommand now.

Just a note, it's not very useful when you install via `go install -v github.com/sigstore/rekor/cmd/rekor-cli@latest`, mentioned in https://github.com/sigstore/rekor/blob/main/INSTALLATION.md#using-go-install, as it produces the following output:
[code]
:smile:

[2021-08-05 13:14] hectorj2f commented on #212
@invidian have you tried with the latest release?

[2021-08-05 13:17] invidian commented on #212
Well, `latest` fetches the latest tag according to Go modules selection.

I've tried the release binary and it of course works as expected.

[2021-08-05 13:27] hectorj2f commented on #212
Perhaps it should show the commit hash as version unless it is a tagged one.

[2021-08-06 12:15] cpanato commented on #212
@invidian @hectorj2f the `GitVersion`/`GitCommit `/`GitTreeState`/`BuildDate` are injected during the build time via LDFlags, Honestly, I don't know how to inject that when you use `go install...` there is a way to do that?

otherwise, maybe we can hardcode those to be something like `dev` if we don't set the variables, WDYT?

[2021-08-06 12:40] invidian commented on #212
I know that some projects, have latest tag + `-dev` suffix, which gets touched before every release, This makes `go get` or `go install` have the right tag then at least.

[2021-08-06 12:51] cpanato commented on #212
sounds good to me this
are you ok if we add that? @lukehinds @dlorenc @bobcallaway

maybe we can do for both rekor, fulcio and cosign

[2021-08-08 14:22] #212 closed, assigned to endorama

[2021-08-08 14:26] cpanato commented on #212
now if you do
[code]

[2021-08-09 21:20] aapeliv opened #406 "Swagger link in readme doesn't work anymore"

[2021-08-10 12:16] cpanato commented on #406
This refers to the link in this section: https://github.com/sigstore/rekor#api

@dlorenc @bobcallaway i never saw that before, we used to have that? we will continue serving this page or should we remove the link?

[2021-08-17 15:59] dlorenc opened #414 "Size Limits on all types"
From a discussion with @asraa, we should figure out reasonable size limits for all types and enforce them in type validation.

[2021-08-17 16:02] #359 closed, assigned to nobody

[2021-08-18 21:52] kpcyrd opened #416 "Using `rekor-cli verify` given just the --artifact and --public-key"
**Description**

hi!

I'm trying to test a given text/artifact has been logged with a signature by a given public key:

[code]

I'm wondering if it would be possible to do with just those two inputs if I don't care about a specific signature (as long as it's by the right keypair).

The following command works (although I'm not sure it's 100% safe to use):

[code]

It seems `rekor-cli search --arti

[2021-08-18 22:30] bobcallaway commented on #416
Not with the current implementation; in order to recreate the canonicalized entry, we need the artifact (or its digest), public key, and signature. The canonicalized entry can only be inserted once into the log, and its leaf hash (aka the entry UUID) is guaranteed to be unique in the log.

Can you elaborate a bit more on the scenario (e.g. a developer signed an identical artifact multiple times (u

[2021-08-18 22:31] bobcallaway commented on #414
Can you clarify why the size limit should be type specific?

[2021-08-18 22:51] dlorenc commented on #414
Ah, I think we should set global limits but we might also be able to restrict further by type.

[2021-08-18 23:16] kpcyrd commented on #416
Yes, if I got it right I'm basically executing two searches instead of a simple lookup.

That's what I meant with "I don't care about a specific signature", any valid signature will do  :) The original command I posted didn't actually consider this case (fixed tjhis with `| tail -1`).

I'm attempting to use the public key as an append-only "namespace" in sigstore that I publish to, and the signatu

[2021-08-19 13:46] asraa commented on #414
So far I think the max request size set by the proxy (120mb) is probably way too large for most types. Whether rekor should have a smaller artifact size seems likely to be true (at least most types won't hit near this limit, for e.g. the rfc 3161 timestamps should definitely be smaller given that they only contain a hash of the message signed).

Since rekor does do some minimal parsing (for exampl

[2021-08-19 13:51] asraa commented on #416
I also want this! For the TUF types, I want someone to be able to search for the latest type of TUF metadata signed by a particular public key (root in TUF land). Then I could use `rekor verify --uuid blah` for the return value of the search

I think we had some ideas of exporting the data into bigquery to do more complex lookups like these (you'd still need to do a rekor verify though because the

[2021-08-19 14:15] bobcallaway commented on #416
I'm a fan of that approach vs adding a ton of search/Boolean logic into rekor.

[2021-08-19 14:51] bobcallaway commented on #414
Since we're taking input as JSON, having a request limit based on the type would require rekor to parse the incoming document in order to get the type to determine the appropriate size limit. The `kind` and `apiVersion` elements could be at the end of the document, so its possible we'd have to read in the entire large doc into memory in order to determine the size-specific limit - thus making the

[2021-08-19 16:07] lukehinds opened #419 "Release 1.0 planning"
Items needed for release 1.0

- [ ] Sharding process and API changes. #433
- [ ] Documentation migrated / polished to docs.sigstore.dev
- [x] Rename Ecosystem to Origin in Checkpoints https://github.com/google/trillian-examples/pull/470 cc @bobcallaway
- [ ] Serve and upload SignedTimestamp based on Checkpoints

[2021-08-21 14:24] kpcyrd opened #420 "Quiet mode for `rekor-cli search`"
**Description**

The output of `rekor-cli search` currently prints one line before the actual results:

[code]

This means I'd need to skip the first line with `tail -n +2`, instead I'd rather ask rekor to skip this line. :)

Thanks!

[2021-08-21 14:31] kpcyrd commented on #416
It could be implemented in a `rekor-cli search-signatures` command that does two searches and lists intersections, but if there are either:

- a lot of signatures for this artifact
- a lot of signatures by this public key

this search could become expensive, so closing for now.

Thanks! :)

[2021-08-21 19:19] #416 closed, assigned to nobody

[2021-08-22 12:22] #420 closed, assigned to nobody

[2021-09-01 14:27] asraa commented on #419
Adding some
- [x] Rename Ecosystem to Origin in Checkpoints https://github.com/google/trillian-examples/pull/470 cc @bobcallaway
- [ ] Serve and upload SignedTimestamp based on Checkpoints

[2021-09-14 12:17] dlorenc commented on #419
Sharding stuff is ongoing! Ref #433

[2021-09-19 10:49] lukehinds commented on #406
I heard @bobcallaway is willing to work on this.

[2021-09-29 08:26] cpanato commented on #419
I would like to add a cloudbuild + goreleaser when we release Rekor

then I have some questions:

1. We will use the same KMS key that we use to sign `cosign`? or we create another?
2. To push the data to the Rekor server how can we do that in an automated fashion way? there is any guide? or we just don't do it at this time?

@dlorenc @lukehinds @dekkagaijin

[2021-09-29 08:27] cpanato commented on #419
And looks like we can review if we can make the v1.0.0 release soon, some PRs are already merged

[2021-09-29 08:34] lukehinds commented on #419
I personally think we should be using keyless for signing as soon as we are ready. However we could use KMS as stop gap, if we can retro-sign previous releases using the fulcio root.

[2021-09-29 14:31] lukehinds opened #444 "Migrate docs to docs.sigstore.dev"
We now have a nice docs site, so let's start moving content into there.

Seeking volunteers to help with this and also add more content.

[2021-10-01 23:26] doodzik commented on #444
@lukehinds I'm happy to help out on this one. Are you talking about moving the content from the readmes to the website?

[2021-10-02 06:29] lukehinds commented on #444
hi @doodzik , yes, and that would be a great start. We will likely have to write some new material, but let's see what we have after a migration.

[2021-10-12 18:56] lkatalin commented on #353
I'm adding @dlorenc 's comments from #433 here to keep it all in one place:

Up next:
- support starting the server with multiple log IDs, instead of just one.
   - this will probably look like a config file containing a map of index ranges to log ids.
    - only one can be "active"
- support parsing the UUID during GET calls to determine which log to query (with defaulting for the 0 case here)

A

[2021-11-02 11:21] lukehinds opened #475 "API not returning UUID (unlike rekor-cli)"
If we run rekor-cli get we retrieve a UUID

[code]

However when calling the entries API, no UUID is returned (which is a useful field for constructing a rekor URL to a entry)

[code]

[2021-11-02 11:22] #475 closed, assigned to nobody

[2021-11-03 20:09] lkatalin opened #479 "Error message confusing when rekor fails to connect to redis"
It shows a `PANIC` with `connection refused`, but it would be helpful to include in the error message that it is trying to connect to redis specifically.

[code]

[2021-11-04 07:49] #479 closed, assigned to nobody

[2021-11-04 18:15] naveensrinivasan opened #481 "504 Gateway timeout on large file"
**Description**

We are trying to use `rekor` to store our  GH releases for [Scorecard](https://github.com/ossf/scorecard) https://github.com/ossf/scorecard/issues/1201.

I ran into an issue with `cosign` that didn't support timeout on `sign-blob` https://github.com/sigstore/cosign/issues/990 and am in the process of fixing that issue I ran into another issue with `rekor`.

[code]

The size of the

[2021-11-04 18:16] naveensrinivasan commented on #481
Related to an existing issue https://github.com/sigstore/rekor/pull/264

[2021-11-04 18:55] bobcallaway commented on #481
I’m not convinced this is due to #264 since the request hit the server and timed out during processing. I think we should try to fix https://github.com/sigstore/cosign/issues/990 and see if that fixes this.

[2021-11-04 19:22] naveensrinivasan commented on #481
I have the fix for the `cosign` timeout and while running with the fix is where I ran into this issue.

To confirm your doubts  I used the rekor-cli to check if it works and it is also running into a similar issue.

[code]
And here is tail end of the log with `rekor-cli` for the same above command with `DEBUG=1`

[code]
`DEBUG=1 ./rekor-cli upload --timeout 90s  --artifact cosign  --signature cosi

[2021-11-09 02:26] naveensrinivasan commented on #481
I was able to run the `rekor` server locally

Here is the server log after it is uploaded
[code]

Client log
[code]

I was able to confirm that it was successful on the server but it didn't respond to the client when it was successful.

Based on what I saw from the log I decide to search for the binary in `rekor`

[code]

With the ☝️ successful match. I decided to search the https://rekor.sigstore

[2021-11-09 16:21] naveensrinivasan opened #484 "gRPC API Endpoint"
**Description**
Rekor could expose a gRPC endpoint along with REST which will help with performance #481 to publish large binaries

[2021-11-09 19:00] bobcallaway commented on #481
The 409 error code returned here after 104 seconds feels like the upload must have completed in order for us to have confirmed that there was an entry already in the log for this.

I will try to recreate this locally and see if I can run it down.

[2021-11-10 13:51] Dentrax opened #486 "Error out in case given file not found"
**Description**

Currently, the following error means that `checksums.txt` does not found in the current directory, which is a bit confused message to see what's going on actually:
[code]

We can revise the error to smth like: `<FILE> does not found`

[code]

@developer-guy

[2021-11-10 19:11] asraa commented on #481
Another alternative is to replace the rekorEntry used to upload in cosign with the hash of the artifact rather than the whole payload.

https://github.com/sigstore/cosign/blob/d44259202830948517db361efd85fca6e87776ff/pkg/cosign/tlog.go#L122

[2021-11-10 19:21] naveensrinivasan commented on #481
Cosign doesn't provide an option to upload artifact hash https://github.com/sigstore/cosign/blob/d44259202830948517db361efd85fca6e87776ff/cmd/cosign/cli/sign/sign_blob.go#L55

[2021-11-10 19:27] asraa commented on #481
Oops, I think you're misunderstanding my comment. I'm not suggesting changing cosign to sign an artifact hash, I'm suggesting changing the code in cosign linked in my comment so that it uploads to rekor with the hash of the entry, rather than the whole payload.

@bobcallaway is this possible? I'm testing that change but I think sending the rekor entry with just a hash causes problems with SHA mism

[2021-11-10 19:31] naveensrinivasan commented on #481
Cool, makes sense! Thanks

[2021-11-10 19:33] asraa commented on #481
I don't think that avenue is possible :/
Technically you're signing the hash of the artifact so I assumed it was possible (and rekor only stores the hash). But I think to play nice with all the different verifier methods with different hash requirements for message signing, rekor still wants the whole payload. Unfortunate...

[2021-11-10 23:08] lkatalin opened #487 "Support UUID --> shard ID parsing"
Goal: support parsing the UUID during GET calls to determine which log to query (with defaulting for the 0 case here). This would require two changes:

- [x] During upload of an entry, the UUID created should include a parseable log ID. For example, if the active log has log ID 163, the UUID might look like: `163-d2f305428d7c222d7b77f56453dd4b6e6851752ecacc78e5992779c8f9b61dd9`, where the number b

[2021-11-11 00:22] bobcallaway commented on #487
Perhaps a nit, but the term "log ID" is already in use in [rekor](https://github.com/sigstore/rekor/blob/4fcdcaa58fd5263560a82978d781eb64f5c5f93c/openapi.yaml#L438),  [trillian](https://github.com/google/trillian/blob/c1b0472ea95edc1bafc56a07986241bf461d4433/trillian_log_api.pb.go#L107) and [RFC6962](https://datatracker.ietf.org/doc/html/rfc6962#section-3.2) - so I would rather we call it "partiti

[2021-11-11 04:10] naveensrinivasan commented on #481
Ran some `pprof` `heap`  with the large file

[code]

  It is not surprising it is `encoding JSON which is causing most of the delay.

[2021-11-11 18:44] naveensrinivasan commented on #481
I did `pprof` CPU dump on `createLogEntry` for the start and stop of this function call.

The test was  uploading a binary(cosign Linux binary) `81 MB` file which is `uploading cosign binary` https://github.com/sigstore/rekor/blob/070f83e924cc837178a09b2b4d1089562c8f23da/pkg/api/entries.go#L145

![profile001](https://user-images.githubusercontent.com/172697/141349793-67f181a2-5985-44ad-bc15-324540

[2021-11-11 18:47] naveensrinivasan commented on #419
This could be an issue https://github.com/sigstore/rekor/issues/481#issuecomment-966539148 unless the project restricts/recommends/documents the size of the upload for `1.0` IMO.

[2021-11-12 01:07] naveensrinivasan commented on #481
I was thinking if we could replace the json encoding with https://github.com/json-iterator/go as it is well maintained and keeps the standard API. I also saw this recommendation https://github.com/go-swagger/go-swagger/issues/1868#issuecomment-458611388

I tried the code change but it didn't make any difference
https://github.com/sigstore/rekor/compare/main...naveensrinivasan:naveen/feat/json-iter

[2021-11-12 13:14] dlorenc opened #489 "Allow rekords with only a hash"
Right now we require the entire artifact in most cases. We only need that for a few algorithms, like ed25519 and pgp. If the signing scheme allows it, we should support uploads without the file.

[2021-11-12 15:56] dlorenc commented on #487
+1, this all sounds right!

[2021-11-12 15:57] dlorenc commented on #353
Also see: https://github.com/sigstore/rekor/issues/487

[2021-11-15 21:20] colek42 opened #492 "Ability to batch requests"
Currently, the API only supports searching by a single parameter.  I would like to be able to give the API a list of hashes and to return all of the UIDs for matched attestations.  This will decrease round trip when evaluating providence for multiple subjects.

This pattern should be extended to other parameters such as UID/Public Keys, etc

[2021-11-15 22:34] lkatalin opened #493 "GET request results in memory error on local Rekor server"
When I am querying a local Rekor server, I'm able to search for an artifact I uploaded, but using the resulting UUID in a GET request results in a memory error. This does not happen when querying the public Rekor server.

[code]

[code]

[2021-11-15 22:35] bobcallaway commented on #493
@lkatalin could you please upload the command line args for how you're running the server if you have them?

[2021-11-15 22:41] lkatalin commented on #493
Sure, I have been using
[code]

so I have not been setting `--enable-attestation-storage` (as I didn't know about it) and it defaults to false, ~~which I think is not true for the public server~~ whereas I think the public server has this enabled. I have a fix in #494 but of course am open to suggestions if there is some better way to resolve the error.

[2021-11-16 03:00] #493 closed, assigned to nobody

[2021-11-16 12:44] naveensrinivasan commented on #481
https://github.com/naveensrinivasan/grpc_upload_test

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/172697/141987169-50d754e9-a487-4bef-8076-d0dd71ca5e3b.png">

The 81 MB uploads take with the gRPC tests.
[code]

The uploads with REST take about 180seconds.

[2021-11-16 12:45] naveensrinivasan commented on #484
https://github.com/sigstore/rekor/issues/481#issuecomment-970236333

[2021-11-16 19:31] lkatalin commented on #487
Note: make sure UUID will never use the separator char we are using.

[2021-11-16 22:15] mikhailswift opened #498 "Allow searching indices with a sha1 hash"
Currently it is possible for a record type to return indices of any string, particularly the in-toto type.  I currently have a use case where an in-toto attestation has a git commit hash as a subject which is a sha1 hash.  It is correctly stored in redis as an index but the api and cli prevent searching for it.

[2021-11-17 14:57] #498 closed, assigned to nobody

[2021-11-19 02:10] #481 closed, assigned to asraa

[2021-11-19 14:44] asraa commented on #489
I think this is closed as well through #501

[2021-11-19 14:45] asraa commented on #481
@naveensrinivasan just FYI this is how you can upload this hashed type, e.g. on a signature of a file `README.md`
[code]

[2021-11-19 14:53] naveensrinivasan commented on #481
Thank you @asraa! AFAIK it is still not supported in cosign. Or if I am wrong how can I use with cosign for keyless signing?

[2021-11-19 14:55] asraa commented on #481
Hah thank you for reminding me that this was for use through cosign CLI. I'll open a PR there to fix that!

[2021-11-19 14:58] naveensrinivasan commented on #481
Thanks

[2021-11-22 14:53] #489 closed, assigned to nobody

[2021-11-23 13:53] harryfallows opened #505 "go-playground/validator module is not imported with recommended URL"
go-playground/validator module is imported with its github.com URL (github.com/go-playground/validator) as opposed to its gopkg.in (gopkg.in/go-playground/validator.v9) URL. The go-playground/validator [README](https://github.com/go-playground/validator/tree/v9.31.0) suggests importing it with its gopkg.in URL (gopkg.in/go-playground/validator.v9), and other projects follow this notation (e.g. [gi

[2021-11-23 14:00] harryfallows opened #506 "Upgrade go-playground/validator module to v10"
Upgrade go-playground/validator module to v10. This upgrade is not too significant but includes Go Modules.

[2021-11-23 20:51] #506 closed, assigned to nobody

[2021-11-24 21:15] mikhailswift opened #511 "In-toto Attestations are double base64 encoded"
Currently the in-toto rekor type returns the base64 encoded payload from the DSSE payload.  The attestation rekor then stores to the bucket is that same base64 encoded payload.  This attestation is then base64 encoded again in responses from the rekor API.

I currently have a patch that alters the in-toto type to base64 decode the attestation prior to storing it which fixes this, but causes backwa

[2021-12-02 00:40] #511 closed, assigned to nobody

[2021-12-02 15:14] imjasonh opened #519 "Visualize growth of Rekor log over time"
Similar to #466

To show growth of usage of Rekor, and to promote a sense of trust in the project, I think it would be useful to have a graph somewhere on the public site showing Rekor's log size over time.

This information can be reconstructed from previous log entry timestamps, and periodically (daily?) regenerated and put somewhere where rekor.sigstore.dev can embed it from.

Technically it do

[2021-12-07 01:56] dlorenc opened #524 "Timestamp is set to null in logingo"
I built rekor-cli from HEAD and am having some trouble with loginfo:

[code]

I think this might have changed as part of the move to SignedNotes. I'm not sure if the bug is part of the CLI or server, but I don't actually see a timestamp coming back in the repsonse anymore:

[code]

The loginfo request itself contains:

[code]

The base64 elements don't seem to contain anything interesting.

[2021-12-07 01:56] dlorenc commented on #524
cc @asraa - any ideas here?

[2021-12-07 14:23] asraa commented on #524
I got it! Submitting a patch. `SetTimestamp` didn't update the Note to sign.

[2021-12-07 15:45] #524 closed, assigned to nobody

[2021-12-08 02:58] dlorenc commented on #505
I think this has been fixed, thanks!

[2021-12-08 02:58] #505 closed, assigned to nobody

[2021-12-09 16:08] dlorenc commented on #519
I wrote up a quick script to try this out and it looks like this currently:

![image](https://user-images.githubusercontent.com/1714486/145432347-afb715ad-4f8c-4841-a486-8027ad9ade93.png)

Here's the script:

[code]

Then I uploaded the CSV to a google sheet, converted the UNIX timestamps to dates with this silly little formula: https://stackoverflow.com/questions/45227380/convert-unix-epoch-time-

[2021-12-09 16:22] dlorenc commented on #519
Filtering to the time after that, you can start to see some decent growth!
![image](https://user-images.githubusercontent.com/1714486/145435056-d754b59c-1130-4bd0-8ac8-8e272d3442ca.png)

[2021-12-13 18:23] Dentrax opened #532 "Ability to sign tlog with GPG"
**TL;DR:** We propose signing the tlog entities using GPG to verify source of truth

---

**Description**
If we sign a file using [keyless](https://github.com/sigstore/cosign/blob/main/KEYLESS.md) mode with cosign, we [upload](https://github.com/sigstore/cosign/blob/2ad95b34299b6e4f5fa32f1e161ce0b670b7c47a/cmd/cosign/cli/sign/sign_blob.go#L94) a tlog to rekor if we in the experimental mode.

Let's

[2021-12-13 18:52] shibumi commented on #532
To be honest, I would like to see GPG dead. GPG is broken by design and nobody should use it. The cli is terrible, the openpgp standard is chaotic and GPG's trust features are in 99%  of cases useless, because people do not establish a web of trust anyway...:

So, how do we establish a root of trust. **Rekor and cosign allow using your own TUF root**.

Abou the transparency aspect:

You can do the

[2021-12-13 18:53] Hayden-IO commented on #532
One issue with this is we move away from truly keyless to having users maintain a key. What happens when a key is lost? Do we no longer trust any of the previous entries?

I don't think Rekor should also be a database of users mapped to GPG keys. I don't believe Rekor is meant to be an identity store.

For authenticating users: First, I think it would place a significant burden on maintainers or s

[2021-12-13 19:06] shibumi commented on #532
For generating keyless signatures we have a few constraints:

1. The build pipeline / the build environment is secure
2. The OIDC Issuer is secure
3. The Github Account should be protected by 2FA (ideally with a hardware token)
4. The Github Action Workflow is secured properly and nobody can schedule a release with a PR
5. Github and the OIDC issuer are trusted!

If one of above constraints is vio

[2021-12-13 19:10] shibumi commented on #532
Sorry for the double comment:

If you use the newest cosign version 1.4.1 it has support for the above details that I have acquired manually via openssl:

[code]

EDIT: This should at least give you a hint which issuer has been used and which URI/Github Action was in "action".

[2021-12-13 19:18] shibumi commented on #532
Sorry for the third comment in a row:

If you **really** want to use GPG. You can upload GPG signature attestations to the rekor tlog. I am not 100% up to date, this feature might be work in progress:

See here: https://github.com/sigstore/rekor/tree/main/pkg/types and here: https://github.com/sigstore/rekor/tree/main/pkg/types

[2021-12-13 19:20] asraa commented on #532
@shibumi and @haydentherapper pretty much summarized all the good points! :D

Just to clarify this question particularly: the trust for the email in the certificate is rooted in **Fulcio** (and the auth provider), not in the tlog. You trust that Fulcio actually verified the token and challenge from that particular email. So long as you trust the Fulcio root CA and the cert chains back to it, the e

[2021-12-13 19:26] shibumi commented on #532
One question about this: Is this related to the SPIRE federation and strictly coupled to the DNS FQDN? I know that @dlorenc  mentioned this in one of his blog articles, but I am not sure if it was about the TUF root or about Issuer federation. Do I need an own Issuer if I want to use my own TUF root?

[2021-12-13 19:47] asraa commented on #532
Nope! You can use existing issuers, supplying the TUF root (e.g. Fulcio root) would mean you can make your instance configurable to which issuers it trusts and what else it uses for verification before handing you a signed certificate. OTOH if you want your own issuer, you need your own Fulcio/TUF root or to add it to the issuers in the public prod instance of Fulcio.

I am not entirely sure which

[2021-12-13 19:55] shibumi commented on #532
Ah okay. It's the other way around. Thank you for the explanation.

Looks like, I misunderstood this blog article: https://dlorenc.medium.com/the-sigstore-trust-model-4b146b2ecf2c

[2021-12-13 19:57] asraa commented on #532
Ah gotcha! I see. Yeah in that article it mentions you can either add your own Issuer to Sigstore's root ("Send a four-line PR to the Fulcio repo, adding your domain!") OR create your own TUF repo that you can do anything you want in ("We’re also happy to accept other existing trust roots.")

Lots of configurability :)

[2021-12-13 20:06] Dentrax commented on #532
Thank you all for such great explanations and clarifications. ❤️ Since I'm a newbie at this whole stuff, it was a good learning for me from your valuable comments.

[2021-12-13 20:06] shibumi commented on #532
Thanks :)

So, to summarize this: @Dentrax  I think providing your own TUF root is the option of choice in this issue. If you have more questions feel free to reach out to me via slack, mail, twitter or this PR. IMO, the TUF root should fix the "trust" issue...

[2021-12-13 20:06] shibumi commented on #532
No worries. It's a complex topic and I still don't understand everything, too :D

[2021-12-14 09:13] lukehinds commented on #532
I agree with a lot of the comments on here, we should be encouraging folks to not use GPG. It's a flawed protocol with many issues around key management.

We should also not be encouraging people to store private keys on cloud services like github/gitlab etc.

GPG and it's clumsy tooling and lack of adoption is what originally inspired the sigstore project to start.

[2021-12-14 09:34] lukehinds opened #536 "Propose asraa as maintainer"
@sigstore/rekor-codeowners

I would like to propose @asraa be promoted to a maintainer. Asra has done some solid work in rekor and is highly a valued contributor.

[2021-12-14 09:44] cpanato commented on #536
+1

[2021-12-14 15:21] asraa commented on #532
@Dentrax Yes! Feel free to reach out -- @rgerganov is also testing out supplying a BYO TUF root, so if there's any friction hopefully we'll see it soon!

[2021-12-14 16:27] asraa commented on #536
I would definitely be happy to step up to triage issues and review PRs!

[2021-12-14 16:31] dlorenc commented on #536
+1!

[2021-12-14 17:02] bobcallaway commented on #536
+1 - Congratulations @asraa and thanks for all the hard work! :)

[2021-12-14 17:02] #536 closed, assigned to lukehinds

[2021-12-14 17:36] justaugustus commented on #536
Asra rocks!!!

[2021-12-14 18:47] puerco commented on #536
+10000

[2021-12-14 20:03] inferno-chromium commented on #536
Amazing work Asra!

[2021-12-16 12:17] #444 closed, assigned to nobody

[2021-12-16 20:45] #419 closed, assigned to nobody

[2021-12-18 14:25] dlorenc opened #545 "Trillian database containers are not built on arm"
We could send some patches upstream, or build these ourselves. We don't really need them to come from upstream, it's just convenience. It's not even clear they intend for these to be used directly:

https://github.com/sigstore/rekor/blob/main/docker-compose.yml#L48

[2021-12-21 18:23] tiziano88 opened #559 "`rekor-cli upload` rejects files as public keys, expects URLs only"
I am following these steps: https://github.com/sigstore/rekor/blob/main/types.md#ssh

But I get the following error when uploading:

[code]

I tried a few other variations (e.g. absolute, relative, file://, etc.), but none of them seems to work.

[2021-12-23 12:38] bobcallaway commented on #559
I was only able to recreate it when I referred to a file path that didn't exist:

[code]

I agree that the error message could be improved but since it's coming from a lower level validation library it's probably not a trivial fix.

[2021-12-28 14:02] dlorenc opened #571 "Release v0.4.0"
We need to get this out the door! What's left to do? Just tag the release?

cc @cpanato @dekkagaijin

[2021-12-28 14:59] dekkagaijin commented on #571
Impending vacation made this slip my mind, will make a release today

[2021-12-28 15:48] cpanato commented on #571
tag is already in place: https://github.com/sigstore/rekor/releases/tag/v0.4.0

[2021-12-29 17:27] #571 closed, assigned to nobody

[2021-12-29 17:27] dlorenc commented on #571
All set now, thanks!

[2021-12-29 23:51] mrueg opened #576 "Question: How privacy-aware is querying right now?"
Please feel free to correct, if I haven't gotten this right:
I assume, if a client queries the ledger to verify a signature e.g. for a specific signature of a package, the owner of the ledger can gain a lot of information about the client e.g.
* size of their infrastructure (e.g. number of distinct client requests from a specific ip range)
* specific software possibly being used by clients (based

[2021-12-30 23:41] shibumi opened #578 "Failing tests for rekor release v0.4.0"
## Description

Version v0.4.0 throws errors with the versionmap.
Regression got introduced in: https://github.com/sigstore/rekor/commit/4fcdcaa58fd5263560a82978d781eb64f5c5f93c
Go version: go1.17.5

## Command

`go test -v ./...`

##  Logs

[code]

[2021-12-30 23:58] shibumi commented on #578
I think I have identified the commit that introduced the regression via git bisect:
[code]

First bad commit: https://github.com/sigstore/rekor/commit/4fcdcaa58fd5263560a82978d781eb64f5c5f93c
Last good commit: https://github.com/sigstore/rekor/commit/b7e0a46bf507ece42921bd94ce25f0f2c4c92056

EDIT: Used Go version: go1.17.5

[2021-12-31 00:07] shibumi commented on #578
Ok this is weird. I had a look at @asraa's PR and all tests are green... I have no idea why the tests are suddenly failing.
Do we have any remote dependencies in our test suites?

[2022-01-01 01:22] shibumi commented on #578
Ah okay... I should have run `go test ./...` instead of `go test -v` earlier..  Looks like I missed these root causes here:

[code]

These issues has been fixed in the current main HEAD. I think I can extract the patch from the history and apply that patch to the version v0.4.0 to make the test work for the Arch Linux package.

Sorry for the noise :)

[2022-01-01 01:22] #578 closed, assigned to nobody

[2022-01-01 02:00] shibumi commented on #578
Fixed failing tests for v0.4.0 with the following patch:
[code]

[2022-01-01 02:02] shibumi commented on #571
Just in case downstream is reading this: If you encounter failing tests with v0.4.0 when building it from source. This is because a TUF root expiration.  Feel free to use this patch to fix the failing tests:

[code]

[2022-01-03 21:05] mikhailswift opened #582 "in-toto records don't contain signatures"
Currently the in-toto type does not contain any signatures.  This prevents users of in-toto records from verifying attestations that are stored in rekor's attestation stores.

Additionally, the IntotoObj.content.hash refers to the hash of the entire DSSE envelope where the Attestation in the stores only contains the payload of the DSSE.  This prevents us from ensuring the attestation returned to u

[2022-01-04 14:40] dlorenc commented on #582
Stepping back a bit, I think we might want to rename (or maybe alias for compatibility) the in-toto type to be a DSSE envelope, since that's more semantically correct. An envelope stores:

[code]

A rekor entry is meant to encapsulate everything needed to verify the signature on a signed object. So we'd want to store:

* The hash of the "signed" content
* The public key(s)
* The signature(s)

Sinc

[2022-01-05 18:06] asraa commented on #578
AH, I suppose old cosign versions will fail because of the system clock before this patch. Thank you for catching this.

[2022-01-06 04:44] shibumi commented on #578
Welcome back @asraa :)
I actually never thought about cosign. Do we need another patch for cosign, too? This patch here is just for the latest rekor release and should be fixed in the next release. Rekor release v0.4.0 works fine, don't get me wrong, it just has failing tests, that lead to some build problems for Arch Linux package releases.

[2022-01-07 17:19] kpcyrd opened #590 "Socks5 proxy support for rekor-cli"
**Description**

I'd like to be able to set a socks5 proxy for requests made by `rekor-cli`. This would allow using `rekor-cli verify` through Tor.

Related to https://github.com/kpcyrd/pacman-bintrans/issues/21

[2022-01-07 17:58] naveensrinivasan commented on #590
Would this work?

`HTTP_PROXY="socks5://127.0.0.1:1080/" rekor-cli verify`

https://stackoverflow.com/a/49580816/19407

[2022-01-07 18:05] naveensrinivasan commented on #576
What you are asking is something like bitcoin/eth bloom filters for transaction privacy https://hackernoon.com/enhancing-bitcoins-transaction-privacy-with-bloom-filters-2m5q33ta , but instead for the rekor records. This is a valid request IMO.

[2022-01-08 12:13] kpcyrd commented on #590
Setting `https_proxy="socks5://127.0.0.1:1080/"` worked, thanks!

[2022-01-08 12:13] #590 closed, assigned to nobody

[2022-01-10 16:04] nsmith5 opened #592 "Add support for Cloud Events"
**Description**

To build efficient monitoring tooling it would be very nice to support an eventing / streaming API. Cloud events was mentioned as a potential avenue for this functionality

@bobcallaway

[2022-01-10 20:45] imjasonh opened #593 "Rekor API sometimes responds with YAML instead of JSON"
### To reproduce

1. Load https://rekor.sigstore.dev/api/v1/log/ in a browser (I'm using `Chrome 96.0.4664.55 (Official Build) (x86_64)`)
2. Reload until eventually the page will be downloaded as `download` (or `download (1)`, `(2)`, etc., if you keep reloading)

Looking at the Network tab in Chrome Devtools, it looks like response headers randomly change from `content-type: application/json;q=1`

[2022-01-10 20:48] bobcallaway commented on #593
yeah, i've seen this before as well and IIRC it comes down to a non-deterministic ordering of a map in one of our dependencies. I'll have to dig up the issue I filed (I hope!) upstream to link them together.

[2022-01-10 20:52] imjasonh commented on #593
Oh wow, so it's not even just changing the content-type and returning JSON, it's changing the content between JSON and YAML:

[code]

Any idea when this started happening? I haven't made a bunch of Rekor API calls since I hacked on #466 but I never saw this behavior then.

[2022-01-10 20:54] imjasonh commented on #593
`curl -H "Accept: application/json" https://rekor.sigstore.dev/api/v1/log/entries\?logIndex\=1045462`

and

`curl -H "Accept: application/yaml" https://rekor.sigstore.dev/api/v1/log/entries\?logIndex\=1045462`

both work as intended, and return JSON and YAML respectively.

[2022-01-10 21:05] bobcallaway commented on #593
It's been months (if not longer). And technically the behavior is in spec since curl will default to set `Accept: */*` which means any response type is valid :/

[2022-01-12 16:44] asraa commented on #582
How often does someone append signatures on to an envelope and then trigger an upload without knowing the public key of the previous sig? If (1) is locked in, it would prevent someone from uploading to rekor in that situation.

(2) seems like a bad idea. The choice of the public key that would be in the entry isn't canonical, so someone reconstructing the entry wouldn't know ahead of time. I have

[2022-01-12 18:19] mikhailswift commented on #582
For what my 2 cents is worth,

This is a really good point.  I personally can't imagine a case where I'd append a signature to something without verifying existing signatures but there's nothing preventing that use case from happening.

I think throwing away unverified signatures may be the only real option there otherwise it would seem to have the same issue of option 2

[2022-01-13 03:58] mikhailswift commented on #582
I've only been able to work on this sporadically through the last week, but so far this is the rough code I have going down the path of option 1:

https://github.com/testifysec/rekor/commit/14666fd96a6126d7fb69c2749334fc1ea6f43a03

Haven't had a chance to test it yet

[2022-01-16 19:31] kpcyrd opened #601 "OOM when rekor-cli upload'ing 5.2GB iso"
I'm trying to record the pgp signature of the QubesOS iso in rekor. The system seems to run out of memory (despite having 64gb and the iso only being 5.2gb).

[code]

Download the artifacts:
[code]

The rekor-cli binary is 0.4.0 from Arch Linux:
[code]

[2022-01-16 23:08] dlorenc commented on #601
cc @SantiagoTorres any ideas here?

[2022-01-18 13:57] bobcallaway opened #604 "CLI gives error message when creating hashedrekord types that isn't useful"
**Description**
[code]

the `hashedrekord` type only supports X509 PKI at the moment, but this message doesn't help the user to understand that.

[2022-01-18 14:50] asraa commented on #604
Ah, I see the other issue on this -- golang's openpgp didn't support verifying a hashed message, and is frozen, so unlikely to ever support signing/verifying hashed messages.

Happy to fix the error message for now (EDIT: I see you have :D ). I see this is for https://github.com/sigstore/rekor/issues/601. I'm slightly hesitant to implement verification just given PGP problems but WDYT? Legitimate

[2022-01-18 15:35] bobcallaway commented on #604
Unless we could use a supported PGP library to verify the signature via hash only, I think solving #601 by using `hashedrekord` won't work.

[2022-01-18 15:35] #604 closed, assigned to nobody

[2022-01-24 19:37] nsmith5 commented on #601
On the tip of main I'm getting a slightly different error when reproducing

[code]

My guess is that in this case I've caused the rekor-server to get OOM killed and that perhaps we're not streaming large bodies and trying to push it all into RAM? I'll keep digging to find that root cause..

[2022-01-24 19:42] nsmith5 commented on #601
Yeah nevermind that. The "server" in this case was my tmux session getting killed not the rekor server. Can confirm the rekor-cli is getting killed...

[2022-01-25 11:52] kpcyrd commented on #601
I think there's an upload limit on the public rekor instance too, so I'm suspecting this happens before the upload. Also the memory usage is higher than the artifact itself. :/

[2022-01-25 15:56] bobcallaway commented on #601
because the PGP library we use requires the entire ISO to be uploaded to rekor in order to verify its signature, the 5.2GB ISO must be base64 encoded which increases its size by 33% pushing the value of that field to be close to 7GB. we probably end up with both representations in memory before uploading it to the rekor server. There is an 128MB limit on the public instance though as @kpcyrd notes

[2022-01-25 16:35] SantiagoTorres commented on #601
I think we could provide a way to verify the hash alone, for as long as we compute the hash properly. I think I could sketch something out in the next couple of weeks...

[2022-01-27 18:43] lkatalin opened #625 "Standardize use of terminology re: UUID vs. EntryID"
This relates to the sharding work, ex. #487 . There are many places in the code that refer to a UUID. However, the new, longer UUID is called an "EntryID" and the UUID is only a component of this. Should we update references to `uuid` to be `entryID` where it refers now to this longer hex string? Alternatively, should we leave references to `uuid` alone but have a different term for the old (short

[2022-03-15 10:48] #32 closed, assigned to nobody

[2022-03-15 10:48] #86 closed, assigned to nobody

[2022-03-15 10:48] #144 closed, assigned to nobody

[2022-03-15 10:49] #202 closed, assigned to nobody

[2022-04-12 19:09] #487 closed, assigned to nobody

[2022-07-20 18:13] #406 closed, assigned to nobody

[2022-07-27 18:33] #593 closed, assigned to nobody

[2022-08-02 20:59] #315 closed, assigned to nobody

[2022-08-02 20:59] #269 closed, assigned to nobody

[2022-08-02 21:00] #147 closed, assigned to nobody

[2022-08-02 21:01] #223 closed, assigned to nobody

[2022-08-02 21:03] #352 closed, assigned to nobody

[2022-08-02 21:04] #353 closed, assigned to nobody

[2022-08-02 21:06] #559 closed, assigned to nobody

[2022-08-02 21:07] #355 closed, assigned to nobody

[2022-08-29 18:56] #582 closed, assigned to nobody