[2022-01-28 17:21] lkatalin opened #629 "Prepare log-index lookup for sharding"
The log-index lookup should resolve the virtual index to the treeID + index for a specific shard.

[2022-01-28 17:24] lkatalin opened #630 "Update global LogRanges struct with each new entry"
The first version could still be all one shard, but lookup using the LogRanges struct's indexing should be accurate.

This can replace the `dummy` LogRanges that is currently in the sharding package.

[2022-01-28 17:26] lkatalin opened #631 "Add method to create new shard"
This will require a new `LogRange` to be added to the global `LogRanges` struct and it will require some type of call to the trillian backend.

Will we need to update keys for the new shard, or should that be its own PR?

[2022-01-28 17:37] lkatalin opened #632 "Add routing logic to UUID retrieval for sharding"
Currently UUID parsing prepends a TreeID (of zero) to a UUID to create an EntryID, and returns that to the user. UUID lookup can still be performed as usual using this EntryID, because the TreeID is actually discarded during the query. We should instead make sure the treeID is correct when creating the entry (perhaps in #630 ), and use the TreeID to query the correct tree during UUID-based artifac

[2022-01-28 23:27] lkatalin commented on #631
Seems like TreeState would need to be set to FROZEN in the actual database as well for the previous active tree.

[2022-01-28 23:42] lkatalin commented on #631
Tree is created here: https://github.com/sigstore/rekor/blob/main/pkg/api/trillian_client.go#L310

[2022-01-28 23:45] lkatalin commented on #631
Looks like a new [TrillianClient](https://github.com/sigstore/rekor/blob/c9dcddce989f96c95ba68b7868e160078471d06b/pkg/api/trillian_client.go#L43) will be required for a new logID.

[2022-01-28 23:51] lkatalin commented on #631
TreeID is retrieved [here](https://github.com/sigstore/rekor/blob/adab5c53055aa020e0d70da1ad25a394376a9aa6/pkg/api/api.go#L87).

[2022-01-31 10:16] p- opened #633 "Trying to upload a signature created with minisign returns: failed to verify signature"
Hello!

I'm trying to upload a signature created with minisign as described in [Signing and Uploading Other Types](https://github.com/sigstore/rekor/blob/main/types.md) using the official 0.4.0 build of the rekor-cli on linux (`rekor-cli-linux-amd64`).

I have created following sample to reproduce this error easily:
[code]

Returns following error:
`[POST /api/v1/log/entries][400] createLogEntryBa

[2022-01-31 15:23] asraa commented on #633
This might be a problem with a difference of minisign versions. I'm testing this out with minisign 0.9 right now, that's what CI and e2e tests assume.

[2022-01-31 15:25] asraa commented on #633
Yep! looks like that's it. It should work per the instructions with minisign 0.9. I'll try to dig into if there was a format change and make a backwards compat fix

Edit: this is because v.10 prehashes the input, it's an easy fix

[2022-01-31 23:03] priyawadhwa opened #637 "Add rate limiting to rekor"
We can set this up by IP address, probably the same way we do for fulcio

ref https://github.com/sigstore/fulcio/issues/365

[2022-01-31 23:08] priyawadhwa commented on #637
I can't assign issues, but @haydentherapper is taking a look at this

[2022-02-01 03:08] priyawadhwa opened #638 "Review test coverage of rekor"
Before going GA, it would be nice to make sure that unit tests and integration tests are thorough!

[2022-02-01 16:08] vaikas opened #646 "in-toto verify-blob verification fails to find the tlog entry. Mismatch in index vs. search"
**Description**

While playing with Tekton Chains and trying to use in-toto attestations, it appears that they get inserted into Rekor just fine, but then cosign is unable to find them based on the payload.

Tekton creates the following payload:

[code]

And what is jotted into the Redis index is `sha256:8e16392eccfa66f58cb496dc08f680c6ffe06d1ae8975b6c8ae347e35142aec3`

But when I go to verify-blo

[2022-02-01 17:36] #633 closed, assigned to nobody

[2022-02-01 18:10] priyawadhwa opened #647 "Document how & when to shard the log"
This is one of our GA requirements!

cc @lkatalin @bobcallaway

[2022-02-01 23:10] priyawadhwa opened #648 "Shard rekor once prior to GA"
As @bobcallaway suggested, we could shard the log once before GA! This can help build confidence that sharding is working as expected. cc @lkatalin

[2022-02-08 00:57] jspeed-meyers opened #658 "Should providence.go file be renamed provenance.go?"
**Description**

The file [here](https://github.com/sigstore/rekor/blob/main/pkg/types/helm/providence.go) is named providence.go

Should its name actually be provenance.go?

I see that the struct created in the file is called `Provenance`.

I can put in a simple PR changing the file's name if changing the name is desirable.

[2022-02-08 02:26] lkatalin commented on #629
Since [`GetLogEntryByIndexHandler()`](https://github.com/sigstore/rekor/blob/main/pkg/api/entries.go#L118) instantiates a trillian client to query based on the [`NewTrillianClient()`](https://github.com/sigstore/rekor/blob/3c0d61f848b7e22277f1cefb8d15c896917fdcf3/pkg/api/trillian_client.go#L43) command, which takes the `treeID`/`logID`[1]  from a default in `api` during server set-up in [`serve.go

[2022-02-08 02:37] lkatalin commented on #631
It looks like the actual change would need to be made in the [`rekor-server`](https://github.com/sigstore/rekor/blob/3c0d61f848b7e22277f1cefb8d15c896917fdcf3/cmd/rekor-server/app/root.go#L70) during initialization as mentioned in #629 , but I'm still looking for feedback on that issue. Signs are pointing to decoupling setting of the `treeID` from bringing up the Rekor server, but I do not yet unde

[2022-02-08 02:39] lkatalin commented on #630
This may be the easiest issue to tackle first. But I need to know more about how the `logRangeMap` flag in the Rekor server is meant to be used.

[2022-02-08 20:40] lkatalin commented on #629
I was able to grab @dlorenc for a brief meeting and he confirmed these two terms do refer to the same thing.

My current question is still around how the `logRangesMap` flag is meant to be used - I was thinking of `logRanges` being a global var that gets updated when a new artifact is uploaded (adds to active tree len) or when a new shard is created (freezes last tree, adds new active tree). I've

[2022-02-08 20:45] lkatalin commented on #629
Ex. is sending a command to the Rekor server that includes this `logRangesMap` flag + value supposed to create a new `TrillianClient` with updated treeID?

[2022-02-09 01:00] jspeed-meyers commented on #646
@tstromberg, any thoughts here? I thought your sigstore-the-local-way chops might lead to an intuition.

[2022-02-10 16:22] lkatalin commented on #629
Notes from my meeting with @dlorenc :
- The server is going to restart every time we shard. That's when this `logRangesMap` flag is passed in with new info.
- I'm not really worrying about calculating the correct thing to pass in via the `logRangesMap` flag - this is largely manual.
- Don't currently need to edit `config/rekor.yaml`

- The todo is creating or choosing the correct trillian client b

[2022-02-10 16:32] bobcallaway commented on #658
makes sense to me, tagging @sabre1041 to make sure that was a typo on his part

[2022-02-10 17:01] jspeed-meyers opened #665 "Insufficient Rekor Log Entry Data Documentation for Non-Expert Users"
**Description**

While trying to build a dashboard that displays statistics about the public Rekor transparency log data (similar to @SantiagoTorres's [1,000,000 entries blog post](https://blog.sigstore.dev/celebrating-1-000-000-entries-in-rekor-1950b7c150df)) I experienced some friction in trying to understand each type of log entry, the associated data fields, and the necessary transformations f

[2022-02-11 21:48] lkatalin commented on #630
It sounds like this might not be needed, since we just read in the `logRangeMap` from flags passed to the Rekor server at startup.

[2022-02-12 16:07] dlorenc commented on #665
We should definitely document this and provide some samples!

[2022-02-12 18:42] vaikas commented on #665
Sorry for the tardy reply here :( I was trying to find a way to provide more context in a sensible way, but this is the best I can do after noodling. I think there are few layers here, and I didn't want to confuse the issue anymore, but here goes :)

I think there are few different documentation points, for example, the end user who is trying to figure out how to inspect Rekor entries as well as s

[2022-02-12 20:02] nsmith5 commented on #665
In regards to

Yeah absolutely. I ended up ignoring the attestation fields in `rekor-sidekick` for the time being and found it a little difficult to get information on the Body structure as well. In the end I passed the burden on to the end user and they need to go learn about the structure (perhaps by trail and error like me) and write policy accordingly.

[2022-02-14 15:29] jspeed-meyers commented on #665
Thank @nsmith5, @vaikas, and @dlorenc! So on my TODO list for this week is:

- [x] Create an initial documentation example of a type for the in-toto type.

I'll workshop this around this week and if I get positive feedback, I'll put in a PR and open it up. @ville, I'll do my best to include documentation for the in-toto type that addresses the "how can you search for it" point you raised.

[2022-02-15 00:35] lkatalin opened #670 "Use logRangesMap flag in the actual API"
The flag is passed in, but not used.

[2022-02-15 13:21] lkatalin commented on #630
Closing this because as far as I can tell, once we have the current `TreeID` by calling `ActiveIndex()`, trillian does all the indexing and knows how long that tree is. So we don't need to keep track of that information.

[2022-02-15 13:21] #630 closed, assigned to nobody

[2022-02-15 13:51] lkatalin opened #672 "Standardize use of terminology re: logID, shardID, treeID, tlog_id"
I think these all refer to the same thing, so they should have one term. I propose `TreeID`, as that's what is used in the `logRangesMap` flag added by @dlorenc .

[2022-02-15 17:55] lkatalin commented on #631
Currently we create a new shard (tree) by passing a `tlog_id` of `0` [here](https://github.com/sigstore/rekor/blob/adab5c53055aa020e0d70da1ad25a394376a9aa6/pkg/api/api.go#L82). Do we need to add a different sharding method, or will this be enough?

[2022-02-17 05:21] k4leung4 opened #673 "Avoid installing rekor in default namespace"
**Description**

The current config yamls creates rekor in the default namespace, which is typically seen as poor practice. This is due possible accidental sharing of permissions within the same namespace.

[2022-02-17 05:37] k4leung4 opened #675 "Enable code coverage for pull requests"
**Description**

It would useful for contributors and reviewers to see the amount of code coverage each pull requests has to better gauge whether the new logic is sufficiently tested or not.

[2022-02-17 06:08] k4leung4 opened #677 "Add securityContext to config yamls to restrict access"
**Description**

Limit the amount of access when running pods to bare minimum using securityContext.

[2022-02-17 10:29] #673 closed, assigned to k4leung4

[2022-02-17 10:31] #677 closed, assigned to k4leung4

[2022-02-17 19:01] jspeed-meyers commented on #665
Next up:

- [x] Submit PR with documentation related to Alpine type. Will come next week.

[2022-02-17 23:54] nsmith5 opened #681 "Publish container images to Github container registry"
**Description**

Its a little tricky finding Rekor images right now. They do existing in GCR but aren't easy to discover. Having published and signed container images in GHCR will allow for them to be used in the public good instance and also by independent operators instead of building from source.

**Why Github container registry?**

I think github makes the images more easily discoverable for i

[2022-02-18 09:06] cpanato commented on #681
that should be straight forward to do, we can add that in the release pipeline as well

[2022-02-18 17:57] #637 closed, assigned to Hayden-IO

[2022-02-18 17:58] Hayden-IO commented on #637
Completed

[2022-03-02 13:27] #675 closed, assigned to k4leung4

[2022-03-02 14:32] jspeed-meyers commented on #665
Next up:

- [ ] Submit PR with with documentation related to Rekord type.

[2022-03-02 15:05] mbestavros opened #699 "Rekor API: searching for an artifact using SHA256 fails if not prepended with `sha256:`"
The Rekor API returned no results for an artifact I'd just uploaded when I searched for it using its SHA. This is despite the record existing  and having the correct SHA (verified by searching using its pubkey).

@bobcallaway helped diagnose this; seems like the SHA needs to be prepended with `sha256:` to work, even though the [API spec](https://github.com/sigstore/rekor/blob/main/openapi.yaml#L54

[2022-03-02 15:33] asraa commented on #699
Ah, nice catch. Do you have a reproducer I can use to test it out? We might just need to handle it in the server code here
https://github.com/sigstore/rekor/blob/97a5558f83d34c336ac383a846a777c32b8df6da/pkg/api/index.go#L40

and may be worth adding some additional verification, mimicing the search CLI  prefix check done here
https://github.com/sigstore/rekor/blob/c5a27911ad3ed1ff07773540dd918858af

[2022-03-03 10:48] hanyuwang1993 commented on #665
New to in-toto and Rekor. I am struggling to upload the `link` file generated by running `in-toto-run` cli to Rekor.  Can you also add documentation on this? Thanks a lot!

[2022-03-03 13:52] jspeed-meyers commented on #665
@hanyuwang1993, probably! I haven't done this myself, but I can and will look into it. If you could provide additional technical details (what commands you ran, with what order, with what results) that would help me create this documentation. Tagging @ltagliaferri because of her interest in the sigstore docs. Also tagging @SantiagoTorres because of his expertise in in-toto.

[2022-03-03 18:19] SantiagoTorres commented on #665
@hanyuwang1993 haven't tried this in a bit myself, so happy to help troubleshoot and fix anything if needed!

[2022-03-04 00:46] hanyuwang1993 commented on #665
@jspeed-meyers @SantiagoTorres  thank you guys so much for you swift response. Let me summarise the issue i have faced.

I am currently exploring in-toto + Rekor stack.  Basically i am trying to generate signed metadata for each supply chain step ( e.g. git checkout code, run unit test) using in-toto cli  (https://in-toto.readthedocs.io/en/latest/command-line-tools/in-toto-run.html)
[code]
The out

[2022-03-04 13:19] jspeed-meyers commented on #665
@hanyuwang1993, this is helpful context. Personally I'll need to do some investigation; I haven't used the `in-toto-run` before,  including in conjunction with Rekor.

My initial hypothesis is related to the end of the error: `Accepted signatures do not match threshold, Found: 0, Expected 1` - It seems like Rekor was looking for a signature and didn't find one. @SantiagoTorres, at first impression

[2022-03-04 14:34] znewman01 opened #706 "Failure to upload in-toto link metadata to Rekor"
@jspeed-meyers @SantiagoTorres  thank you guys so much for you swift response. Let me summarise the issue i have faced.

I am currently exploring in-toto + Rekor stack.  Basically i am trying to generate signed metadata for each supply chain step ( e.g. git checkout code, run unit test) using in-toto cli  (https://in-toto.readthedocs.io/en/latest/command-line-tools/in-toto-run.html)
[code]
The out

[2022-03-04 14:35] znewman01 commented on #665
@hanyuwang1993 thanks for reporting! This looks like a separate issue so let's debug in #706.

[2022-03-04 14:49] znewman01 commented on #706
Rekor [*does* support in-toto](https://github.com/sigstore/rekor/tree/f314ee9/pkg/types/intoto) but either:

1. It's looking for something other than the link metadata format, or
2. The link metadata you're generating is not correctly signed (e.g., mismatched keys)

Can you successfully [`in-toto-verify`](https://in-toto.readthedocs.io/en/latest/command-line-tools/in-toto-verify.html) the resultin

[2022-03-04 15:18] adityasaky commented on #706
Does rekor support link metadata, or just ITE-6 attestations? I'm personally unaware...

As for the version mismatch, the in-toto website still points to the specification which is still v0.9. I'm guessing the v0.0.1 is an initial pass at an ITE-6 attestation. Probably needs to be bumped though? The versions do need to be synced in a sane manner to avoid confusion.

[2022-03-04 18:08] SantiagoTorres commented on #706
It used at least haha. The early rekor impl was exclusively in-toto stuff

[2022-03-04 18:08] SantiagoTorres commented on #706
Actually, it is more likely it's a DSSE problem. Aditya we don't have DSSE support for in-toto python right?

[2022-03-04 18:11] SantiagoTorres commented on #665
@jspeed-meyers I'm realizing it's probably trying to validate a DSSE envelope for the old style metablock sig. I think we can definitely fix this on the in-toto side ...

Thanks for reporting, @hanyuwang1993!

[2022-03-04 20:55] adityasaky commented on #706
No, we don't. Did rekor update to only supporting DSSE?

[2022-03-04 21:33] SantiagoTorres commented on #706
That is my understanding. [Recently there was a change to better support chains ](https://github.com/sigstore/rekor/pull/565#issuecomment-1000538344)

[2022-03-05 13:41] #629 closed, assigned to nobody

[2022-03-05 13:41] #632 closed, assigned to nobody

[2022-03-05 13:41] #670 closed, assigned to nobody

[2022-03-07 12:57] #681 closed, assigned to k4leung4

[2022-03-07 15:18] lkatalin opened #711 "Sharding open questions and todos remaining"
@priyawadhwa and I wanted a place to record some open questions, bugs, and todo items remaining for the sharding work.

### Questions
- [x] Is it expected that `rekor-cli search` will return artifacts from all available shards in that Rekor instance? (We think yes)
- [x] How will clients interact with sharded rekor instances when verifying? (Each shard will have its own signing key(s) according to

[2022-03-07 16:32] lkatalin opened #713 "Need to update state.json for new shards"
Otherwise, the output for `loginfo` is:

[code]

[2022-03-07 18:44] priyawadhwa commented on #713
We should have testing coverage for this! We can make sure this is working correctly by removing `--store_tree_state=false` from the e2e test in https://github.com/sigstore/rekor/pull/714/files

[2022-03-09 17:19] asraa opened #721 "Question: How will clients interact with sharded rekor instances when verifying?"
**Description**

I'm thinking of rekor sharding, and how it will interact with how we verify rekor entries. Particularly, how do we fetch the correct Rekor Pubs for the shard in clients? This is all do-able, but I'm curious about:

* Is each shard going to use the same signer? (If so, no change needed to the client code)
* If not, will each shard have a dedicated signer? (if so, then we can annota

[2022-03-09 17:21] priyawadhwa commented on #721
As far as I know, Option 1 is the plan! (each shard uses the same signer).

[2022-03-09 17:23] asraa commented on #721
Ah, interesting! So currently the scope is that sharding is helping log size/resource, not the case of a signer compromise? Gotcha! Happy that's the case right now, works for incremental changes!

[2022-03-09 17:26] priyawadhwa commented on #721
Yah I think the main goal was to shard on some cadence (~ once/year) so the log doesn't get too big (but I've only been looking at this feature for ~1 week so I'll let others chime in :)

[2022-03-09 19:11] priyawadhwa commented on #721
Update: I was wrong! We'll need one signer/shard.

[2022-03-11 00:23] lkatalin opened #726 "Server startup uses oldest tree instead of active tree"
When several shards (trees) are present, server startup defaults to the oldest one rather than the active or most recently created one.

[2022-03-11 00:51] lkatalin commented on #711
Potentially we could update `rekor-cli search` to **optionally** only search a specific shard, if that would be useful?

[2022-03-11 16:08] priyawadhwa commented on #711
TODO: we'll have to be able to get Public Key via the API per Tree ID for loginfo/verification in general

[2022-03-11 16:47] lkatalin commented on #711
Thanks, I added this to the list up top.

[2022-03-15 10:44] lukehinds opened #732 "types are to challenging to decipher"
Types need json examples. At present we point to the schemas which don't include formatting and values such as spec, apiversion etc.

[2022-03-15 12:21] lukehinds commented on #732
thanks to bob for pointing me to the entries in test, will self assign and add a where to find pointer

[2022-03-16 19:24] lkatalin commented on #721
I am trying to wrap my head around specific todos for this so that I can plug them into #711 but am not very familiar with this part - it seems like some of the work @asraa mentioned is on the cosign side? These are the todos I got:

- annotate the TUF metadata with a custom json message w/ the shard ID
- have cosign client code fetch a rekor pubkey by shard ID
- automate populating TUF delegation

[2022-03-21 15:11] #713 closed, assigned to priyawadhwa

[2022-03-21 16:50] nsmith5 opened #741 "Production Rekor latency in excess of 750ms frequently"
**Description**

The #alerts channel in sigstore frequently alerts on Rekor latency in excess of 750ms:

https://sigstore.slack.com/archives/C01P48SV8NQ

We should investigate the paths that lead to this latency and check if we can improve the situation. Perhaps pagination of the search endpoints?

[2022-03-29 17:00] #726 closed, assigned to nobody

[2022-04-01 15:28] lkatalin opened #749 "Enforce shard config file requirement in multi-shard environment"
Otherwise, index resolution is broken (the server thinks all indexes are absolute on the current active tree).

~~Passing in no `tlog_id` or shard config file (ex. for a local instance) should still be fine - although as of server 0.6, server startup with no `tlog_id` flag will automatically create a new tree, which breaks lookup in the inactive tree with client 0.5. But I don't think use of clien

[2022-04-06 14:42] lkatalin commented on #749
Update: shard config file should be required in multi-shard environment. This should be enforced, rather than just letting GET by --log-index break in this scenario.

[2022-04-07 14:36] asraa commented on #658
Fixed by https://github.com/sigstore/rekor/pull/758

[2022-04-07 14:36] #658 closed, assigned to nobody

[2022-04-11 12:26] #699 closed, assigned to nobody

[2022-04-11 13:40] znewman01 commented on #732
See also #665

[2022-04-11 17:54] lkatalin commented on #749
Neglecting to populate a shard config file and pass it in at server startup breaks index resolution when manually restarting the local server. This is because state is saved in the database and a new shard is created at each startup, so re-starting multiple times creates multiple shards.

UPDATE: This usage is actually an antipattern, so we will cover this in documentation.

[2022-04-11 19:31] lkatalin commented on #749
Fixing this here: https://github.com/sigstore/sigstore-website/pull/146

[2022-04-12 19:58] priyawadhwa commented on #647
This is done!

[2022-04-12 19:58] #647 closed, assigned to priyawadhwa

[2022-04-12 20:16] lkatalin commented on #631
Closing this as Rekor creates a new shard automatically unless one is specified by the `tlog_id` flag.

[2022-04-12 20:16] #631 closed, assigned to nobody

[2022-04-12 20:24] lkatalin opened #770 "Check shard config file data against actual shards"
The shard config data should be a (strict or not) subset of actual shards. That is, it should not contain any treeIDs that don't exist in trillian in reality. We should add a check for this at some point. (It is not a high priority.)

[2022-04-12 20:24] lkatalin commented on #711
All the critical tasks for GA are done! Closing now.

[2022-04-12 20:24] #711 closed, assigned to priyawadhwa, lkatalin

[2022-04-19 07:01] sylvestre opened #780 "rekor: cannot sign big files - fails with "Request Entity Too Large""
Recent regression (around April 15th).
Trying to upload a large file (119M) start fails with:

[code]

[2022-04-19 21:31] asraa commented on #780
Hey, that's pretty close to the upper limit of the public instance

https://github.com/sigstore/rekor/issues/601#issuecomment-1021336377

Unfortunately, verifying PGP requires the full message because of the libraries we are using. That's a problem in itself (https://github.com/sigstore/rekor/issues/286)

We have fixed this problem for x509 type signatures (https://github.com/sigstore/rekor/issues

[2022-04-22 06:48] allstar-app[bot] opened #783 "Security Policy violation Binary Artifacts"
_This issue was automatically created by [Allstar](https://github.com/ossf/allstar/)._

**Security Policy Violation**
Project is out of compliance with Binary Artifacts policy: binaries present in source code

**Rule Description**
Binary Artifacts are an increased security risk in your repository. Binary artifacts cannot be reviewed, allowing the introduction of possibly obsolete or maliciously su

[2022-04-22 06:48] allstar-app[bot] opened #784 "Security Policy violation Branch Protection"
_This issue was automatically created by [Allstar](https://github.com/ossf/allstar/)._

**Security Policy Violation**
Dismiss stale reviews not configured for branch main
Block force push not configured for branch main

---

This issue will auto resolve when the policy is in compliance.

Issue created by Allstar. See https://github.com/ossf/allstar/ for more information. For questions specific to

[2022-04-22 19:10] znewman01 opened #787 "Need to move dependency on google/trillian/merkle to transparency-dev/merkle"
It's deprecated

https://github.com/google/trillian/pull/2715

[2022-04-24 23:02] tiziano88 opened #789 "Expose Go function for validating log entry"
Currently the logic for validating the signature of a log entry needs to be reconstructed at least in part by other projects that wish to rely on it, e.g.:

- https://github.com/google/ent/blob/b0804661406ee428d2127d7f2d653d6c1b45f766/cmd/ent/cmd/status.go#L110-L207
- https://github.com/slsa-framework/slsa-verifier/blob/aee753f58fa9a4de2be6290e3eefae2d6e998a9d/pkg/provenance.go#L164-L285

This log

[2022-04-25 12:55] dlorenc commented on #783
These are test artifacts. @naveensrinivasan what's the best way to allowlist these?

[2022-04-25 13:27] tiziano88 opened #792 "Index materials of SLSA provenance statements"
https://github.com/sigstore/rekor/pull/764 added support for indexing the payload hash in in-toto entries. It would be nice to do the same for [materials of SLSA provenance attestations](https://slsa.dev/provenance/v0.2#schema), so that it would be possible, for instance, to look up all attestations that shows how a particular git commit (i.e. a material) was built into a binary artifact (i.e. the

[2022-04-25 14:16] naveensrinivasan commented on #783
@jeffmendoza Could you please help with this? If it is possible with allstar.

[2022-04-25 14:19] naveensrinivasan commented on #783
Right now if you would like to scorecard to ignore this it has to be in a folder with the name `testdata/`

https://github.com/ossf/scorecard/blob/44ad5f53ad75aa220fc16c1bd2ab3facdf4d69c1/checks/fileparser/listing.go#L52

[2022-04-25 17:03] jeffmendoza commented on #783
We don't have an individual file opt-out right now, but are planning on adding it. (https://github.com/ossf/allstar/issues/157)

This PR is what you need to opt out this policy on rekor for now: https://github.com/sigstore/.allstar/pull/1

[2022-04-26 14:06] asraa commented on #792
I can definitely do this, this is a great idea -- this would allow for recursing on entries to discover provenance for deps. cc @lumjjb

[2022-04-26 14:10] asraa commented on #789
Thanks @tiziano88! This has been a common source of problems when other users need to verify entries. Which is also complex, so agreed there needs to be a central library to pull these functions from.

The second link on verifying an entry is exported in cosign here https://github.com/sigstore/cosign/blob/80fe5a31a398c45395d09d23e237c676ddad709f/pkg/cosign/tlog.go#L329

I could imagine putting thi

[2022-04-26 18:09] lumjjb commented on #792
Yes!! The back-edges will be super helpful! +1

[2022-04-28 16:09] #783 closed, assigned to nobody

[2022-04-28 20:42] aspear opened #797 "https://www.sigstore.dev/swagger/ link is broken"
In the "API" section of  https://github.com/sigstore/rekor/blob/main/README.md, there is :

If you're interesting in integration with Rekor, we have an [OpenAPI swagger editor](https://sigstore.dev/swagger/)

At this moment, the https://sigstore.dev/swagger/ page is broken, it reports "/swagger not found"

(My apologies if this is the wrong place to report it, I figured that section of the site wa

[2022-04-28 21:01] Hayden-IO opened #798 "Improve the timestamping authority PKI"
**Description**

Currently, we must manually update the timestamping authority certificate chain every 6 months. Additionally, each instance of Rekor generates its own signing certificate on startup, so it is difficult to fetch the chain that can verify a TSA response (1/number-of-instances), and it's not possible to fetch a chain once the server has rebooted.

We'll do what we did with Fulcio, lo

[2022-04-28 21:01] Hayden-IO commented on #798
cc @asraa

[2022-04-29 02:16] #792 closed, assigned to nobody

[2022-05-02 00:19] dlorenc commented on #784
Fixed

[2022-05-02 00:19] #784 closed, assigned to nobody

[2022-05-02 00:47] SantiagoTorres opened #801 "rekor-cli: get fails for some entries"
It appears that even with the latest build, download fails on some entries:

[code]

It happens with particular entries, and reproducibly, so I think it's an issue with the unmarshaller for the cli for a particular type. Now, it's hard to know which type it is, because get is not working...

[2022-05-02 00:57] SantiagoTorres commented on #801
Huh, it works now, I wonder why. The entry type was minisign fwiw...

[2022-05-02 00:59] SantiagoTorres commented on #801
there are others that still fail, e.g., (1051951), but I have my reason to believe this is not reproducibly failing

[2022-05-02 01:00] SantiagoTorres commented on #801
Indeed, a couple of runs and it starts working for this entry again.

[2022-05-02 23:34] eddiezane opened #804 "Add type for generic package"
**Description**

As language package managers (PyPI, Ruby Gems, etc) begin to adopt sigstore for signing their packages we may want a generic type that represents a "package.

The initial thought is to leverage https://github.com/package-url/purl-spec in this type.

[2022-05-02 23:35] dlorenc commented on #804
+1 to the idea. I think most can be handled with the standard rekord type but with custom index keys for searching.

[2022-05-03 16:28] eddiezane commented on #797
Let's track this at https://github.com/sigstore/rekor/issues/406.

[2022-05-03 16:55] priyawadhwa opened #806 "Improving Sharding Downtime"
Right now, sharding the log requires about 10-20 minutes of downtime.

Sharding process currently looks like this:
1. Create a new trillian tree
2. Mark the current tree as frozen (at this point, the log is readable but not writable)
3. Update rekor config with the following:
    * Change the active tree to the tree created in (1)
    * Update the sharding config with the now-inactive tree ID and

[2022-05-03 17:01] asraa commented on #798
This is coming from option 3 which I agree is the best case. What I like about this is that we can attach a `Timestamp` usage to this, which will also allow people to configure another TSA for their timestamps rather than Rekor's built in SET.

I think that Cosign should also VerifySET against a TSA cert chain. I think the current API is against Rekor's key. Overall I like separating Rekor from it

[2022-05-03 17:06] lkatalin commented on #806
Thanks for this recap, @priyawadhwa ! I would be a fan of trying to automate as much of this as possible instead of doing manual shard config / restart. The manual portions introduce the most downtime and also I think there is some possibility for user error down the line if the project continues to grow and scale. Could the issue with trillian trees not necessarily being chronologically ordered b

[2022-05-03 17:20] lkatalin commented on #806
Other ideas floated in the meeting:
- Instead of using the size of the logs to calculate the virt index, have a pointer to the next log
- Create a mapping of log index <--> UUID only during migration-to-new-shard periods

[2022-05-03 17:44] jspeed-meyers commented on #665
Closing this issue because I think Lisa Tagliaferri will do better work on Sigstore docs than I can, and she has begun to devote attention to this.

[2022-05-03 17:44] #665 closed, assigned to nobody

[2022-05-03 18:11] eddiezane opened #808 "Creating and fetching a Rekor entry has a dynamic top level key"
**Description**

When creating a new entry in Rekor the response contains a dynamic top level key of the [merkle leaf hash](https://github.com/sigstore/rekor/blob/8961ff21f8b0308c6c49d1c9e5cfa9446168e0b7/pkg/api/entries.go#L248-L250). Working with a dynamic top level key is difficult and this endpoint does not support creating multiple entries in a single request. We may want to move this into the

[2022-05-03 18:13] #787 closed, assigned to asraa

[2022-05-03 18:21] eddiezane opened #809 "Improve clarity that the publicKey field accepts an X509 certificate"
**Description**

Several folks have been caught up by the fact that the `publicKey` field accepts an X509 cert.

https://github.com/sigstore/sigstore-python/pull/66

https://github.com/wlynch/smimecosign/commit/501b64357f9bbc9c2fc8f578501867cff0d9f026

\- @imjasonh

We should consider creating a new field or renaming it.

I think this is specific just to HashedRekord and derivatives?

[2022-05-03 18:44] priyawadhwa commented on #806
We can order trees chronologically during runtime, there's a `CreateTime` field on the Tree struct.

I think we can achieve way less downtime by keeping the config, but removing the requirement for knowing the size of the inactive shard ahead of time. We can figure out the size during runtime. Sharding would look something like this:

1. Create a new tree
2. Add the old tree ID to the sharding con

[2022-05-03 19:11] lukehinds commented on #808
I would like to see this changed too, as the few times I have wrote clients it can be a challenge to marshal this.

I think what we can do here is create sub issues in each client implementation to verify they can accommodate this change and email a notification to sigstore-dev

@lkatalin do you know if this would affect the sharing API?

also cc @dlorenc / @bobcallaway

[2022-05-03 23:51] bobcallaway commented on #808
Agreed that it's not ideal; the merkle leaf hash (which is used to compute the entry ID) isn't known until the server verifies the proposed entry and then canonicalizes it. This could be addressed as part of the gRPC re-work

[2022-05-04 14:50] lkatalin commented on #806
@priyawadhwa I read this a couple of times, at first thinking you meant these steps would be implemented in the code (except redeployment) but now realizing that steps 1-4 are manual and 5 is implemented in code - is this right? So the change would be that instead of passing in tree sizes in the config, Rekor can calculate them at runtime, but the config is still used to specify and order the shar

[2022-05-04 15:33] priyawadhwa commented on #806
Yep! I think that removing the tree length requirement is the minimal change we can make to get sharding to work without downtime. I'll probably do some manual testing to confirm that.

This could be really useful, we'd just need some way to make sure only authorized users could hit this endpoint!

[2022-05-04 16:33] eddiezane commented on #808
Ah that makes sense. What about something like this then?

[code]

[2022-05-06 16:49] lkatalin commented on #808
I don't think it should impact sharding since we aren't changing the structure of the `entryID` or how we use that data internally - just the way it is represented to the client in this output, right? If I'm understanding this proposal correctly, it will really help because that top-level key has been troublesome when receiving data from Rekor.

[2022-05-09 18:19] Hayden-IO opened #812 "Remove the timestamping authority before GA"
**Description**

TSAs provide an alternative to transparency logs - Witnessing an event at a point in time, but without the ability to audit the signed timestamp issuances. Rekor operates a timestamping authority that:
* Issues signed RFC 3161 timestamps
* Writes the timestamps to the transparency log

The purpose of the TSA is that if you don't want to trust Rekor's internal clock, you can reques

[2022-05-09 18:20] Hayden-IO commented on #812
cc @asraa

[2022-05-09 20:26] nsmith5 commented on #812
Definitely in favour of making the timestamping authority optional at least if we don't remove completely! Its a bit of an operational head ache getting a certificate authority set up for it and many operators don't want / need this functionality 🙏🏻

[2022-05-10 16:39] dlorenc commented on #812
I think splitting it off makes sense but we should still support one somehow in sigstore. They're useful for compatibility into other ecosystems that require them, and logging the timestamp signatures into Rekor provides a form of timestamp transparency that's not handled elsewhere.

1-2 per minute is actually relative high. Rekor as a whole only takes 5-7 log entries a minute on average.

[2022-05-10 17:53] Hayden-IO commented on #812
Timestamp transparency is only useful if the timestamp authority runs independent of the log. Even as its own service, both will still be operated by the same community, so there is no increase in trust or transparency. You only get more trust when you use a third party TSA. I don't want to mislead users by operating both.

From the community meeting, based on the number of entries in the log, the

[2022-05-10 18:21] priyawadhwa commented on #806
Update: With https://github.com/sigstore/rekor/pull/810 we've pretty much removed downtime, instead there is a small race condition when the Rekor deployment is spinning down old pods (which point to the old shard) and spinning up new Pods (which point to the new shard). The risk is that the LoadBalancer would send requests to the old shard, and the new Pods may not pick up those new entries as th

[2022-05-12 14:56] dlorenc commented on #812
Works for me. If the request rate is actually 2/3 per minute, we'll need to investigate before breaking the code because that's pretty significant. If it's just a few a day like @nsmith5 found, then we can just drop it. Any idea how to dig in?

[2022-05-12 15:07] nsmith5 commented on #812
Here is the data I have on rfc3161 entries:

![Screenshot from 2022-05-12 08-05-31](https://user-images.githubusercontent.com/12156185/168107187-46c52118-940b-4ac3-9912-a00f07ea65d2.png)

CSV of the data here:

[query_result_2022-05-12T15 04 16.55594Z.csv](https://github.com/sigstore/rekor/files/8680321/query_result_2022-05-12T15.04.16.55594Z.csv)

[2022-05-12 16:37] var-sdk commented on #806
Regarding the proposal around seamless updates, is it rollback safe? i.e. if something goes wrong with the new Rekor deployment during the roll out or for some window after the roll out has completed, can the system quickly and easily be restored to the previous state?

With the current approach, there is a small window of downtime but it does seem to have rollback safety at the cost of a small wi

[2022-05-12 16:48] priyawadhwa commented on #806
That's a good point. If we're automatically marking logs as FROZEN when they're in the sharding config, we would need to automatically make them as ACTIVE again if we rolled back.

[2022-05-12 18:10] Hayden-IO commented on #812
I'm now seeing data consistent with Nathan's data. Initially I was viewing data using the Count aggregator - I think it wasn't aggregating how I expected. Switching the aggregation, we can see that the endpoint was only called for one day around early May.

<img width="1046" alt="Screen Shot 2022-05-12 at 11 08 12 AM" src="https://user-images.githubusercontent.com/8418760/168140696-b3b75dcd-cb15-4

[2022-05-12 18:18] dlorenc commented on #812
SGTM!

[2022-05-12 18:58] Hayden-IO opened #824 "Replace the timestamping authority"
**Description**

The timestamping authority is being removed as per https://github.com/sigstore/rekor/issues/812. We will replace it with an improved timestamping authority that will live in its own repository or run as a separate service.

We can also take this opportunity to update to using a newer timestamp standard like Roughtime, since RFC 3161 is an older standard with ambiguous requirements

[2022-05-13 16:58] #638 closed, assigned to priyawadhwa

[2022-05-16 16:17] Hayden-IO commented on #824
Relevant links:
* https://datatracker.ietf.org/doc/html/rfc3628 - For a TSA policy
* https://www.rfc-editor.org/rfc/rfc3161 - RFC for 3161
* https://datatracker.ietf.org/doc/html/rfc5816 - Updates for certificate inclusion to 3161
* Use of RFC 3628's policy ID - https://cs.github.com/?scopeName=All+repos&scope=&q=%220.4.0.19422.1.1%22
* Policy requirements as per EU - https://www.etsi.org/deliver/

[2022-05-16 18:37] priyawadhwa commented on #806
Re: my initial idea around marking pods as FROZEN; I think an easier way of achieving the same thing would be to mark the Rekor deployment strategy as [Recreate](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#recreate-deployment) -- all old pods would be terminated before new ones come up. The current strategy is the default [Rolling Update](https://kubernetes.io/docs/concep

[2022-05-17 14:35] asraa opened #831 "Support Roughtime types in Rekor"
**Description**

Add an additional timestmaping type to Rekor.

Roughtime is a modern timestamping standard https://blog.cloudflare.com/roughtime/

In addition to supporting RFC 3161 for compatibility (eg https://github.com/sigstore/gitsign/issues/22#issuecomment-1126291036), Rekor could also log Roughtime timestamps.

There is some discussion on and linking from https://github.com/sigstore/rekor/

[2022-05-17 14:35] asraa commented on #831
cc @haydentherapper

[2022-05-17 15:18] asraa commented on #824
Agreed, this sounds good: rekor-tsa or something similar.

Before jumping the gun on implementing a new timestamping authority, should we consider more about how feasible it is for Sigstore to operate it's on TSA with full compliance.

If we can't reach the policy requirements for RFC 3161, we should definitely drop it. But it seems like the general Sigstore ecosystem may have a need for it, and h

[2022-05-17 16:39] Hayden-IO commented on #824
Support is definitely something to consider for both of these. This is another reason to split timestamping services out, because we'll want a high SLO for these with a high QPS.

[2022-05-19 13:48] #812 closed, assigned to nobody

[2022-05-24 15:50] k4leung4 opened #841 "Provide suite of tests for validating Rekor releases and deployments"
**Description**

To better streamline releases and deployments, we need a suite of tests that we can run to validate releases and deployments.

@priyawadhwa  Can you outline what tests you would like to see and what tests we have and which ones we are lacking.

[2022-05-24 18:47] Hayden-IO commented on #841
cc @asraa

[2022-05-27 18:30] znewman01 opened #845 "FR: Multi-artifact entries"
There are a few Rekor use cases that involve making a bunch of related signatures in a row. These include:

- [GitSign](https://github.com/sigstore/gitsign) (CC @wlynch): during a rebase you may need to sign 10s of commits in a row
- Publishing OSS releases. For instance, a given release of a project may have 100s of associated files, each of which might be downloaded independently. When releasing

[2022-05-31 16:17] di opened #849 "`rekor-cli`: intersection vs union search"
**Description**

Currently if I provide multiple search flags to `rekor-cli search`, I get the union of results with those individual terms (without duplicates removed):

[code]

It'd be helpful to be able to provide a flag which switches this from the implicit `OR` to an explicit `AND` operator, something like:

[code]

As a workaround for now, folks can do something like:

[code]

[2022-05-31 17:13] Hayden-IO commented on #845
Load is an interesting question. I would stay away from batch APIs - one that adds multiple entries in a single request - because it's hard to build an SLO for such a variable operation. A multi-artifact entry has similar concerns, because the request time will be variable based on the number of entries.

We'd also need to consider the impact on search.

[2022-05-31 17:18] priyawadhwa commented on #841
The [tests](https://github.com/sigstore/rekor/blob/main/tests/e2e_test.go) have pretty good coverage for uploading different types of objects (rekor, intoto attestation, jar etc), but it seems like they won't run against prod until it's updated to the latest version -- @k4leung4 will the new prod cluster be running v0.7.0?

Some manual tests we should run:
* Running the [prober](https://github.com

[2022-05-31 19:39] znewman01 commented on #845
In theory, definitely. But how big does an entry have to be before it starts causing problems for Rekor? The multi-artifact entry would probably be *at most* 10s or (in extreme circumstances) 100s of KBs since it's just listing out hashes (and maybe labels).

[2022-05-31 20:15] Hayden-IO commented on #845
I'm not concerned about issues for Rekor, it's more around monitoring. If we measure P99s for Rekor for adding a single entry, P99s for multiple entries will be higher, as each will require a signature verification/metadata verification/etc.

One could argue that this is already a concern, as different rekor types likely take different times to process - Maybe extracting metadata from an alpine im

[2022-05-31 20:29] znewman01 commented on #845
Do we still have that concern if there's only one signature, over *one* piece of metadata for multiple artifacts? That's what I had been envisioning.

[2022-05-31 20:32] Hayden-IO commented on #845
No concerns around monitoring for that, but I do have a number of questions that pop up: How do we search for a single artifact in that set? To construct a merkle leaf, now you need all of the artifacts in a set - How do I know which artifacts compromise a multi-artifact?

[2022-05-31 22:02] Hayden-IO opened #851 "Improve error message when using ED25519 with hashedrekord"
**Description**

ED25519 signatures are not supported with the hashedrekord type, though they are supported with rekord. The reason is that ED25519 computes the digest as part of its algorithm, so the original artifact is needed to verify a signature.

The hashedrekord type passes no message contents to Verify ([code](https://github.com/sigstore/rekor/blob/ed585a3385f9d6447f886d6948554e261288bc6a/

[2022-06-01 17:27] znewman01 commented on #804
See also #845

[2022-06-01 17:39] znewman01 commented on #851
There are variants of EdDSA that support prehashing ("HashEdDSA" vs. "PureEdDSA", see [sec. 4 of 8032](https://www.rfc-editor.org/rfc/rfc8032#section-4)) should we consider supporting ed25519ph here?

[2022-06-01 19:52] Hayden-IO commented on #851
ED25519's internal hash is SHA512, right now Rekor only supports SHA256 so we'd have to make changes around that.

There's active (very active, as in a week ago) conversation on supporting ed25519ph in golang - https://github.com/golang/go/issues/31804

I also don't know if we open ourselves up to any risks with using a prehashed algorithm.

[2022-06-01 20:12] znewman01 commented on #851
The main one is:

whereas HashEdDSA is not. I'm not terribly convinced this is something to worry about (and for our *current* signature algorithms, this is already be an issue).

---------------------------------------------------------------

We could also just sign the hash itself instead of the artifact. This is a little gross because we'd need to special-case this codepath, but the only possi

[2022-06-01 21:57] asraa opened #854 "IndexKeys is run on pre-canonicalized entries"
**Description**

**Version**

The flow of creating a log entry is curious to me:
https://github.com/sigstore/rekor/blob/4b934999dc28386d22dfa3004930767d203e7580/pkg/api/entries.go#L173

1. A new entry is created based on the parameter proposed entry.
2. A leaf node is created by canonicalizing the entry
3. The original entry calls index keys.

In many entry types, logic is performed in `Canonicali

[2022-06-01 22:13] asraa commented on #854
From @haydentherapper :+1:

"Maybe we need to figure out how to do canonicalization very early on in the lifecycle of a request

so nothing ever operates on a non-canonical entry"

[2022-06-01 22:59] k4leung4 opened #855 "/api/v1/log/entries/retrieve endpoint does not support the 80 char entryUUID"
**Description**

`curl https://rekor.sigstore.dev/api/v1/log/entries/retrieve -H "Content-Type: application/json" -d '{ "entryUUIDs": ["362f8ecba72f432671e977758eba152cd1c11418fd240bf5fb4580fd2d448bb974b0660bebdd4a75"]}'`

`{"code":605,"message":"entryUUIDs.0 in body should match '^[0-9a-fA-F]{64}$'"}`

https://github.com/sigstore/rekor/blob/main/openapi.yaml#L235
Should this have `pattern: '(^[0-

[2022-06-02 13:55] k4leung4 commented on #855
@lkatalin @bobcallaway
We discovered the above issue when we tried deploying rekor 0.6.0 and 0.7.0.

Do you know if it is intentional that the /api/v1/log/entries/retrieve endpoint fails with the 80 char shard + uuid?

[2022-06-03 10:40] trishankatdatadog commented on #801
We (Agent Integrations for Datadog) saw the same error a few days ago, too. If you look at previous issues for the same kind of error message, it looks like it's a generic error message that can be misleading.

[2022-06-04 17:22] #851 closed, assigned to nobody

[2022-06-06 19:08] #855 closed, assigned to nobody

[2022-06-06 22:01] di commented on #804
I'm trying to understand the motivation / usecase here: is this just to add an additional search filter?

[2022-06-06 22:34] znewman01 commented on #804
Mostly!

The Rekord and HashedRekord types have very minimal metadata—they just have the hash of the artifact and a signature.

When we've worked with other packages in the past (e.g., RPMs) it's been useful to stick things like the name of the package in there. This is nice for searching and to see the whole history of a package and do other interesting analyses.

We could just stick ad-hoc metad

[2022-06-06 22:49] di commented on #804
In that case, I guess my follow up question is: what kind of expectations are we setting around whether the metadata for a generic or ecosystem-specific package type is "correct" or not?

E.g. if I add an entry with a PyPI PURL, are there any guarantees that a) it's actually describing a Python package b) it's actually the package in question c) I have any right to publish entries about that packa

[2022-06-06 23:37] znewman01 commented on #804
Yeah, that's a great question. I think it's entirely out-of-scope for Rekor to do such validation, because we'd have to teach it about each language ecosystem, and I'd like to strongly discourage any applications that assume that "artifact X is in Rekor" implies "artifact X is authentic."

This of course means that we have to plan for malicious entries in the log, and deal with spam. This shouldn'

[2022-06-07 09:59] rbehjati opened #865 "Allow uploading detached signatures over in-toto statements with `--type=intoto`"
Currently when uploading artefacts to Rekor using `rekor-cli upload --type intoto` only in-toto attestations in the form of [DSSE Envelopes](https://github.com/secure-systems-lab/dsse/blob/master/envelope.md) can be uploaded. (This is based on my current understanding. I was not able to upload anything else, but also I am not an expert in in-toto).

It would be nice to be able to upload in-toto st

[2022-06-07 14:17] lkatalin commented on #804
Thanks all for this helpful discussion!

@bobcallaway This is the question I was trying (and perhaps failing) to ask in this [thread](https://sigstore.slack.com/archives/C01CX4E2K70/p1653636582978729) - if it's out of scope for Rekor to check (b) specifically, it means we don't necessarily need Rekor to validate that an RPM header matches a specific payload during artifact upload (which has implic

[2022-06-07 15:24] di commented on #804
I agree, which makes me feel like this would be kind of meaningless and potentially full of false positives unless we had some other, verified attribute that we could filter with... such as a signature from an identity for the project provided by the ecosystems IdP.

So maybe this is only something Rekor would support for repository IdPs it supports (which is currently 0, but should be non-zero so

[2022-06-07 16:39] priyawadhwa commented on #648
This is now done 🎉

[2022-06-07 16:39] #648 closed, assigned to priyawadhwa

[2022-06-07 18:09] jchestershopify commented on #804
I think we'd need to solve the problem of misleading entries (which I hadn't considered, shame on me) before we could roll this out.

Another issue to consider is that we'd want to be (1) detailed enough to be useful for multi-ecosystem monitoring, while (2) being modest enough so that ecosystems can extend to fit their own cases without having impedance mismatches. That will be a tricky line to w

[2022-06-14 14:04] asraa commented on #865
@lumjjb @SantiagoTorres For your opinions:
Is it better to consider that a `rekord`/`hashedrekord` type can be a (SLSA) provenance, or loosen the `--type intoto` to allow for signatures on intoto attestations but may not be DSSE envelopes?

[2022-06-14 16:13] SantiagoTorres commented on #865
Hmm, I think there are a couple of separate problems in there. You can still use x509 sigs/keyids on DSSE as far as I'm aware. Either way, if we wanted to separate the envelope from the type on in-toto we could do that, but that will become a problem later when we actually want to index things no?

[2022-06-15 13:36] dlorenc commented on #854
I'm not sure this is doable since we strip a lot of information during canonicalization, on purpose. It means the index entries aren't always verifiable or repairable, though.

[2022-06-15 21:49] bobcallaway opened #872 "attestations for intoto log entries persisted without payloadHash are not being returned"
**Description**

Attestations for intoto log entries persisted without payloadHash are not being returned

**Version**
This was likely introduced with https://github.com/sigstore/rekor/pull/769

[2022-06-16 13:50] asraa opened #876 "Intoto Indexing Bug: cannot find entry by payloadHash"
**Description**

Currently at head, we cannot use the search index to find entries by payloadHash, which should be indexed:
https://github.com/sigstore/rekor/blob/744339f1be49454bb3009bd0d31327f8d53646cd/pkg/types/intoto/v0.0.1/entry.go#L77-L78

**Version**

I spun up a local rekor instance and uploaded an intoto attestation. I logged what keys were added. Check out the payloadHash in all cases:

[2022-06-16 13:52] asraa commented on #876
I think this is related to https://github.com/sigstore/rekor/issues/872

The difference in the computation is whether the attestation payload is base64 decoded or not

@bobcallaway

[2022-06-16 18:41] bobcallaway commented on #797
closing in deference to #406

[2022-06-16 18:41] #797 closed, assigned to nobody

[2022-06-16 19:27] asraa opened #877 "Sharding: Will using a virtual index impact inclusion verification?"
**Description**

Verification of the inclusion proof relies on the log index and the tree size. Using a virtual index will likely modify the calculation of the inclusion proof, resulting in unsucessful verification.

Ideally this should be tested, and also definitely methods of verifying an entry be exported so clients do not need to re-resolve the index before using Trillian's API to verify.

@pr

[2022-06-19 17:17] bobcallaway commented on #876
I'm not sure these issues are related; #872 is more about attestation lookup failing for entries created before `payloadHash` was part of the type.

I agree with your assessment that `v.env.Payload` returns the base64-encoded payload as a string, which isn't the correct thing to compute the index key against. I think we should change the digest computation to be off of the `[]byte` returned from `

[2022-06-19 20:30] Dentrax opened #879 "search: add `--signature` flag to search command"
**Description**

For example, my image has the following signature:

[code]

What I want to do is that search the entire index and find the matching entries by issuing:

[code]

cosign [put](https://github.com/sigstore/cosign/blob/5e261dc13b110a1faf5822d30eebce07d5c3a8ca/internal/pkg/cosign/rekor/signer.go#L57-L105) a `signature` object in the tlog entry. I'm not so sure whether `signature` search

[2022-06-21 12:49] #872 closed, assigned to bobcallaway

[2022-06-21 13:55] afrittoli opened #883 "Attestation part disappeared from Tekton entries in rekor.sigstore.dev"
**Description**

Starting with [Tekton release v0.29.0](https://github.com/tektoncd/pipeline/releases/tag/v0.29.0) we sign Tekton releases through Tekton Chains / cosign and push attestations to the OCI registry as well as to rekor.sigstore.dev.

I noticed today when doing a new Tekton release (v0.37.0) that the rekor didn't return any entry when searching by the Tekton controller image sha. I wen

[2022-06-21 17:33] Hayden-IO commented on #877
Looking into this, we should have all the shard-specific information to verify an inclusion proof. Take two examples from staging, `9398b28cbfedb3aa3b5d27b88376f68928ca33fbcd14be6f6aa235346d744ccf` and `fea892f7ac038b3a9d38a6fbc744fd727290d473960e13d8be9f1ce1b0815c04`.

The first entry was uploaded before sharding in April:

[code]

The second was created after sharding:

[code]

Note that for the

[2022-06-22 20:17] afrittoli commented on #883
Retested against v0.8.2, the attestation is back 🎉

[code]

The attestation type is not there, I'm not sure if it was ever there though?

[2022-06-23 10:10] afrittoli commented on #883
I checked for the latest Tekton nightly build today, and search by sha is back, which is great :)

[code]

[2022-06-23 10:10] #883 closed, assigned to nobody

[2022-06-23 10:32] afrittoli opened #884 "Format of attestation changed in rekor since v0.8.2"
**Description**

The `Attestation` used to be base64 encoded. We used to get parts of the attestation through:

[code]

This script is now broken, so we changed it to

[code]

**Version**

Rekor v0.8.2

**Additional info**

I have not seen any announcement in the release notes about this - I may have missed it though.
I just wanted to make sure that:
- the change was on purpose
- the change is ann

[2022-06-23 10:34] afrittoli commented on #884
https://github.com/tektoncd/plumbing/pull/1094

[2022-06-23 12:06] dlorenc commented on #884
cc @bobcallaway

[2022-06-23 12:45] bobcallaway commented on #884
This was mentioned in the PR https://github.com/sigstore/rekor/pull/769 but didn't make it into the release notes - I apologize for the omission. The change was on purpose though.

[2022-06-23 12:45] #884 closed, assigned to nobody

[2022-06-28 16:39] asraa commented on #876
I can take care of that!

FWIW I think the original issue of not finding entries in the slsa code was fixed by https://github.com/sigstore/rekor/pull/870

[2022-06-28 19:23] Hayden-IO opened #891 "Improvements to rekor-cli verify command"
**Description**

* verify should verify a signed tree head (STH) signature
* verify should verify the STH signature uses the Rekor public key from TUF, not from the public key from the instance
* verify needs to be shard aware

[2022-06-28 19:23] Hayden-IO commented on #891
cc @asraa

[2022-06-28 20:15] var-sdk opened #892 "Search indexes by logIndex within the shard rather than virtual logIndex."
This can be seen in two ways in staging today:

1.  When searching for a logIndex < current tree length, the entry within the current shard is returned. e.g. see [1] below run against staging where searching for entry with logIndex "0" returns entry with virtual logIndex "461".
2.  When searching for a logIndex >= current tree length, rekor returns `{"code":500,"message":"Unexpected result from tr

[2022-06-28 21:19] priyawadhwa commented on #892
Yep, looks like a bug in search -- we should be resolving the virtual index here. Probably worth adding in a test for search into [sharding-e2e-test.sh](https://github.com/sigstore/rekor/blob/main/tests/sharding-e2e-test.sh) as well, we test some of the API endpoints but not the /retrieve one at the moment.

[2022-06-29 12:20] #876 closed, assigned to bobcallaway

[2022-06-29 18:41] var-sdk commented on #891
On making verify shard aware: verify uses search to find entries by index or uuid and that API also needs to be updated to be shard aware. See https://github.com/sigstore/rekor/issues/892.

[2022-06-29 19:21] #892 closed, assigned to nobody

[2022-06-30 10:17] mayurwaghmode opened #896 "How to run rekor-server, rekor-cli, trillian_log_signer packages using docker?"
**How to run the rekor-server image uploaded as part of GitHub container registry?**

Commands followed
[code]

[2022-07-01 12:27] mayurwaghmode commented on #896
@dlorenc @bobcallaway do you have any pointers on this?

[2022-07-01 12:47] bobcallaway commented on #896
You can see an example of how it is run within a docker-compose setup at https://github.com/sigstore/rekor/blob/234afe786c8d41aea04818dddd38ffa2e891f56f/tests/issue-872-e2e-test.sh#L64, or checkout github.com/sigstore/scaffolding for how to run under kubernetes.

Your command above is trying to run an sbom that is stored inside the container registry, which won’t work because the sbom describes th

[2022-07-01 16:52] var-sdk opened #899 "api/v1/log/entries/retrieve by UUID doesn't return entries in inactive shards"
Repros in staging where the log was sharded after 460 entries:

[code]

Compare to the active shard:

[code]

cc @priyawadhwa

[2022-07-01 20:20] var-sdk opened #901 "Add bounds on number of elements in api/v1/log/entries/retrieve."
The API definition for `retrieve` does not specify an upper bound for number of entries in the request. It is trivial to construct a request that takes O(many seconds) to return with a response size O(MB). Adding upper bounds on number of entries per request will let us offer an achievable SLO for this endpoint.

[2022-07-04 07:00] xens opened #902 "createdb.sh contains wrong SQL directive"
**Description**

I was trying to deploy a rekor server from scratch using a MariaDB backend with the `scripts/createdb.sh` script but the script contains a typo that prevents the provisioning of the user.

**Version**

I was using the script from the master branch.

[2022-07-04 15:14] bobcallaway commented on #902
Thanks for the fix!

[2022-07-04 15:14] #902 closed, assigned to nobody

[2022-07-06 12:28] #899 closed, assigned to nobody

[2022-07-09 09:03] LeSuisse opened #913 "Commit, treestate and build date information missing in `rekor-* version` since 0.9.1"
**Description**

It appears some some build related information are missing in the v0.9.1. I'm guessing it is related to the bump to Go 1.18 made in #904

Now:
[code]

Before:
[code]

[2022-07-09 09:08] cpanato commented on #913
thanks I will take a look and fix it

[2022-07-09 09:18] cpanato commented on #913
humm, i just built and got the information

and the CI as well https://github.com/sigstore/rekor/runs/7258165646?check_suite_focus=true

[code]

i will run a release in my fork to check this

[2022-07-09 09:45] cpanato commented on #913
built a fork release https://github.com/cpanato/rekor/releases/tag/v99.99.03 and seems fine

[code]

i will make some updates and for the next release i will check this before the actual release

[2022-07-09 10:25] LeSuisse commented on #913
FYI I noticed the issue while upgrading the package in nixpkgs (https://github.com/NixOS/nixpkgs/pull/179999) so I have a reproducible environment to trigger it if it can help.

We are currently setting those information using the same flags than the ones used in the Makefile https://github.com/sigstore/rekor/blob/25dbcf5d2230bc02a0b1129422bcf15382fb8705/Makefile#L57-L60 but taking a quick look at

[2022-07-09 14:02] 06kellyjac commented on #913
Yep

https://github.com/kubernetes-sigs/release-utils/blob/main/version/version.go

Using buildinfo

One problem is it relies on a `.git` dir which we dont keep due to reproducibility issues.
release-utils should probably only set the value if its not already set via ldflags?

[2022-07-12 15:00] bobcallaway opened #918 "hostname in staging environment is not accurately reflected in log info output"
**Description**

Hostname of instance should be `rekor.sigstage.dev` not `rekor.sigstore.dev`

[code]

**Version**

[2022-07-13 19:28] Hayden-IO opened #923 "api/v1/log does not have a default/stable content type"
**Description**

`curl https://rekor.sigstore.dev/api/v1/log` repeatedly, and you'll either get back YAML or JSON:

[code]

We should pick a default, I'd recommend JSON.

**Version**

Prod

[2022-07-14 13:48] bobcallaway commented on #918
blocked by https://github.com/sigstore/helm-charts/issues/244

[2022-07-18 04:31] kwang13 opened #929 "How can rekor prevent a record from a hacker?"
If a hacker uses rekor-cli to upload a record of a public key/signature, how can an end user of rekor discover it?
Is there any user authentication mechanism that only authenticated user can upload records?
Or, will the rekor tell end user who uploaded the records when end user uses "get" or "verify"?
Thank you.

[2022-07-18 12:18] bobcallaway commented on #923
duplicate of #593

[2022-07-18 12:18] #923 closed, assigned to nobody

[2022-07-20 14:08] trishankatdatadog opened #932 "Quantum-computing-proofing Rekor"
**Description**

Now that NIST has [announced](https://www.nist.gov/news-events/news/2022/07/nist-announces-first-four-quantum-resistant-cryptographic-algorithms) the first few quantum-resistant cryptographic algorithms, it might be useful to start _discussing_ whether it's worthwhile to quantum-proof Rekor (if it isn't already).

Cc @SantiagoTorres, @mnm678, and @znewman01 who might be especially

[2022-07-20 16:46] znewman01 commented on #932
CC @haydentherapper; see also https://blog.sigstore.dev/is-sigstore-ready-for-a-post-quantum-world-82c9166985af

Here's my claim:

1. It's premature to cut over until the finalists are standardized, and there's good support in libraries that are audited, idiomatic, etc.
2. If we assume that there are no quantum computers capable of forging signatures today, but there will be in 5 years, it's actua

[2022-07-20 16:54] Hayden-IO commented on #932
If all that needs to change is the signing algorithm, I don't think there's much to discuss. Once there is a finalized suite and there's good, audited, battle-hardened libraries, and we begin to see the industry shift towards these algorithms, we can switch over. I also assume GCP KMS will support quantum keys in the near future (AWS started to awhile ago, but that was long before the NIST announc

[2022-07-20 17:03] bobcallaway commented on #801
Since we haven't seen this for 2 months, closing. Feel free to reopen if needed.

[2022-07-20 17:03] #801 closed, assigned to nobody

[2022-07-20 17:25] trishankatdatadog commented on #801
At Datadog, we worked around it by separating calling the rekor-cli into its own, small CI/CD job, so we can easily retry on any transient failure w/o affecting anything else

[2022-07-20 21:48] Hayden-IO commented on #824
I've begun this work, moving the old code into a new repo.

[2022-07-26 13:27] lkatalin commented on #749
Closing since https://github.com/sigstore/sigstore-website/pull/146/ was merged.

[2022-07-26 13:27] #749 closed, assigned to nobody

[2022-07-29 11:49] cpanato commented on #913
fixed in v0.10.0

[code]

[2022-07-29 11:56] LeSuisse commented on #913
I'm confirming it works fine, thanks. I think we can close?

[2022-07-29 11:56] #913 closed, assigned to cpanato

[2022-08-01 21:12] dlorenc commented on #865
This is important but not sure it should block GA.

[2022-08-02 04:55] loosebazooka opened #949 "rekor api returning duplicate uuids for search query"
Create a file data.txt with the formatted search query:
[code]

curl rekor (public, production)
[code]
the response returns two UUIDs but they are the same
[code]

this doesn't appear to occur with the rekor-cli and it's not really clear to me why yet?

[2022-08-02 14:35] loosebazooka commented on #949
Never mind. It looks like I misunderstood how search works. This appears to be a search based on two predicates that are treated independently -- search query params are "or".

[2022-08-02 14:36] #949 closed, assigned to nobody

[2022-08-02 19:35] dlorenc commented on #824
Should we file an issue in the TSC repo for this? Is it going to live in sigstore/ ?

[2022-08-02 19:57] Hayden-IO commented on #824
Yes, I'd like it to live in the sigstore org. I'll file!

[2022-08-02 20:11] Hayden-IO commented on #824
@dlorenc, would you prefer I start this now even with an incomplete repo, or wait until I've finished moving all of the code?

[2022-08-02 20:19] dlorenc commented on #824
It doesn't really matter, we can create it as an empty repo or wait until later.

[2022-08-02 20:40] bobcallaway opened #951 "storing expected values to validate persisence across test runs"
shouldn't be too hard, i think we could try storing expected values in a file so they persist across test runs. cool if we merge this & i add it in a follow-up?

_Originally posted by @priyawadhwa in https://github.com/sigstore/rekor/pull/945#discussion_r935721772_

[2022-08-02 20:56] Hayden-IO commented on #929
Check out https://docs.sigstore.dev/, this has more information on how to use the Rekor CLI and how users can query for artifacts in the log.

[2022-08-02 20:56] #929 closed, assigned to nobody

[2022-08-02 20:57] #780 closed, assigned to nobody

[2022-08-03 12:19] dlorenc opened #954 "Proposal: Add Priya as a maintainer!"
**Description**

She's been one of the most active contributors over the last 3+ months: https://github.com/sigstore/rekor/commits?author=priyawadhwa, and landed significant major features including sharding.

I thought she was already a maintainer, but just realized she wasn't during the merge of https://github.com/sigstore/rekor/pull/945

[2022-08-03 12:22] cpanato commented on #954
+1 <3

[2022-08-03 13:25] asraa commented on #954
Very much in support!

[2022-08-03 16:04] bobcallaway commented on #954
+1

[2022-08-03 16:25] lkatalin commented on #954
+1 from me

[2022-08-03 16:26] priyawadhwa commented on #954
thanks everyone!! :D

[2022-08-04 00:50] #951 closed, assigned to priyawadhwa

[2022-08-04 13:58] lukehinds commented on #954
+1 congrats @priyawadhwa

[2022-08-04 14:01] cpanato commented on #954
opened a PR to add @priyawadhwa to the @sigstore/rekor-codeowners

https://github.com/sigstore/community/pull/85

[2022-08-04 14:08] #954 closed, assigned to nobody

[2022-08-05 11:28] kommendorkapten commented on #831
Reading the draft RFC for Roughtime: https://datatracker.ietf.org/doc/draft-ietf-ntp-roughtime/ and the blog post above, it seems like it's an alternative to NTP, not as a TSA?

While Roughtime expects a 32byte nonce in each request, is the idea to use the sha256 digest of some entity as the nonce, and so create time-stamping authority via that?

What can be done with Roughtime is to chain request

[2022-08-05 12:07] kommendorkapten commented on #831
Is there any known usage of Roughtime? Or a good client?
I found this https://github.com/cloudflare/roughtime and tested it out a bit. Sadly it did not work for any of the provided servers in the listed ecoysystem.
Read through this https://github.com/cloudflare/roughtime/issues/25 issue which seems to indicate that the IETF draft have advanced quite a bit, and the current CloudFlare implementatio

[2022-08-09 15:57] #918 closed, assigned to nobody

[2022-08-10 08:42] pbrkr opened #962 "Add simple rekor-cli command to verify artifact"
Using the SHA256SUMS release artifact from https://github.com/SanCloudLtd/meta-sancloud/releases/tag/v6.1.0 as an example, I have uploaded the signature to the rekor transparency log. I feel that I should now be able to verify the file integrity using just rekor. There is currently a convoluted way to do this:

1) Search rekor for the file hash: `rekor-cli search --sha "sha256:$(sha256sum SHA256SU

[2022-08-10 14:04] asraa commented on #962
Hey @pbrkr! The way that you have described it is what `cosign verify-blob` performs. (caveat: I think cosign may not support pgp signature searching)

In my opinion, the functionality for `rekor-cli verify` (which exists) is that it takes in a Rekor entry information and verifies that the entry is in the log. Although Rekor verifies the signature before storing an entry in a log, it is not a sign

[2022-08-11 21:22] bobcallaway commented on #808
I talked a bit more with @haydentherapper today about this... while it is a completely reasonable request, fixing this would break most (if not all) clients out there today to fix this - so I think we should consider batching this up with other changes to minimize churn.

[2022-08-12 00:29] priyawadhwa commented on #877
It seems like we need to:
1. Fix `rekor-cli verify`
2. Make sure verification methods in rekor are exported so clients can rely on them

for this issue. Does that seem reasonable @asraa and @haydentherapper?

Ideally the top level logIndex would be called `virtualLogIndex` or something so that this would be clearer, but I don't think it is worth breaking all clients to make that change.

[2022-08-12 00:53] Hayden-IO commented on #877
Yes for (1). For (2), we should also decide what verification from Cosign should be a part of a Rekor client, for example, verification of the SET.

[2022-08-12 14:40] #854 closed, assigned to nobody

[2022-08-12 15:03] asraa commented on #877
Agree that we should definitely export verification methods.

I can take a first stab are `./rekor-cli verify` and include some factoring out of the verification methods to start.

[2022-08-12 15:53] #809 closed, assigned to nobody

[2022-08-12 17:29] priyawadhwa commented on #877
Thanks @asraa !

[2022-08-13 11:59] dlorenc commented on #841
Is this one fixed? I think the harness tests made it in and cover most of this.

[2022-08-13 12:01] dlorenc commented on #824
I don't see this as a GA blocker, but I really want to have it!

[2022-08-13 13:55] Hayden-IO commented on #824
Want to add this as a blocker? I’m working on it now, I do think this will be done by GA (will make the transfer request once the service is functional).

[2022-08-13 16:20] priyawadhwa commented on #824
I believe only fulcio, rekor and cosign are in scope for GA. I think removing the TSA from rekor would be in scope, but setting it up as a separate service shouldn't be a GA blocker since we don't plan on releasing TSA 1.0

[2022-08-13 17:00] dlorenc commented on #824
Yeah sorry, I mean I really like this idea and want the service, but don't think it needs to be part of GA.

[2022-08-13 18:00] Hayden-IO commented on #824
Agreed that we shouldn’t offer an SLO for a fresh service. We could scope it such that the TSA is complete but as a beta offering.

[2022-08-13 18:40] dlorenc commented on #824
I'm not quite sure I understand. I see GA blockers as things were not comfortable declaring GA without.

We can launch the TSA whenever it's ready in whatever tier makes sense at the time, but I don't think it's a blocker here as much as I want to use it myself for gitsign and other services.

[2022-08-14 21:16] Hayden-IO commented on #824
I’ve mentioned it before, but I would like a way to prioritize GA blockers. There are some that are absolutely musts, like defining an SLO. There are some that we would really like, but if they slipped past GA, that would be ok, such as creating certain playbooks or features like this issue. Maybe we can discuss this more in a GA sync?

I see this issue as a nice to have but not critical. We are w

[2022-08-14 21:20] dlorenc commented on #824
Right - I think that's the issue. Release "blockers" are only the absolute must-have critical things. Stuff that's a nice to have isn't a blocker, by definition.

[2022-08-17 16:43] asraa opened #980 "API: Always return EntryUUID (treeID+leafHash) in all responses"
**Description**

The server should always return the full entry UUID. Currently, the `models.LogEntry` uses keys that are only the raw UUID. See:
* https://cs.github.com/sigstore/rekor/blob/9099d400c515cbe496aff29941880b4132555d36/pkg/api/entries.go?q=repo%3Asigstore%2Frekor+models.LogEntry#L146
* https://cs.github.com/sigstore/rekor/blob/9099d400c515cbe496aff29941880b4132555d36/pkg/api/entries.go

[2022-08-17 21:06] #877 closed, assigned to nobody

[2022-08-17 21:39] priyawadhwa commented on #841
Everything I mentioned in https://github.com/sigstore/rekor/issues/841#issuecomment-1142405342 is covered now by probers or tests. The harness tests also test adding/retrieiving entries across the most recent three server/CLI versions. Personally I think this can be closed.

cc @bobcallaway @asraa can we close this?

[2022-08-18 01:52] dlorenc commented on #841
Closing, we can reopen or open new ones if we missed anything.

[2022-08-18 01:52] #841 closed, assigned to priyawadhwa

[2022-08-18 13:34] dlorenc commented on #891
Bumping to blocker

[2022-08-18 13:35] dlorenc commented on #841
Bumping to blocker, but this has been fixed!

[2022-08-18 13:35] dlorenc commented on #824
Dropping as a ga_candidate per maintainer discussion.

[2022-08-18 13:37] dlorenc commented on #865
Will https://github.com/sigstore/rekor/pull/973 fix this one?

[2022-08-18 13:41] dlorenc commented on #789
Dropping from GA per maintainers chat.

[2022-08-18 14:14] bobcallaway opened #983 "Makefile adds extra forward slashes in Makefile.Swagger"
Looks like the Makefile is doing unwanted substitution?
[code]

_Originally posted by @pxp928 in https://github.com/sigstore/rekor/issues/973#issuecomment-1219515535_

[2022-08-18 14:39] #983 closed, assigned to bobcallaway

[2022-08-18 15:08] asraa commented on #891
I'll take on verification of the root hash today

[2022-08-18 15:44] asraa commented on #789
Related: https://github.com/sigstore/rekor/issues/891

This is useful because currently some clients don't run a full verification. In the cosign link above, the function verifies the inclusion proof and the SET. However, validating an inclusion proof is roughly worthless against validating the root hash that it chains up to (which means validating consistency with a STH).

This is a fairly easy w

[2022-08-18 20:35] asraa opened #988 "Verification: Return an STH in a Verification response"
**Description**

I propose adding an STH in a rekor entry `Verification`.

Right now, a full verification on an entry would do the following:
1. Verify the inclusion proof using the entry Body as the leaf hash
2. Verify the root hash against an STH
3. Verify the SET

See impl here: https://github.com/sigstore/rekor/blob/3ee08104c8a72c1adbb914adb8178041981d7c99/pkg/verify/verify.go#L192

Note that

[2022-08-19 18:18] Hayden-IO commented on #988
Wrote up a doc with more details on offline and online verification - https://docs.google.com/document/d/1_Ykbb1n_rXQjZIairCBKj6ZTpvw5s19fjpwGTksGCbI/edit# (sigstore-dev has access)

[2022-08-20 02:27] #849 closed, assigned to nobody

[2022-08-20 02:30] #706 closed, assigned to nobody

[2022-08-23 13:04] dlorenc commented on #901
This is the search index. I think we'll also need to add pagination if we do this, we'll need a way to handle retrieving everything.

[2022-08-23 17:57] var-sdk opened #997 "api.SearchLogQueryHandler is not thread safe."
**Description**

There are a couple of instances where slices are appended to inside of goroutines. e.g.

https://github.com/sigstore/rekor/blob/main/pkg/api/entries.go#L356

and

https://github.com/sigstore/rekor/blob/main/pkg/api/entries.go#L356

Appends to slices are not thread-safe. Instead allocating the entire slice and assigning by index would work instead as in e.g.

https://github.com/sig

[2022-08-23 18:38] var-sdk commented on #901
I think there are different concerns for api/v1/index/retrieve vs api/v1/log/entries/retrieve:

For api/v1/log/entries/retrieve: the number of input elements is unbounded, but the number of responses appears to be <= the number of elements requested. Each successful lookup requires a one more more fan out calls to Trillian so clients can currently generate significant load with a small number of r

[2022-08-23 19:26] priyawadhwa commented on #901
Yah, that sounds correct to me.

Gathered some data for the `api/v1/log/entries/retrieve` endpoint (averaged across 3 runs):

[code]

I think capping `api/v1/log/entries/retrieve` at 50 entries would be good to get in before GA.

Pagination could be post-GA work. I checked to see if Trillian has any kind of support for it, but all I could find was this function which could be useful when we get to

[2022-08-23 21:19] var-sdk commented on #901
Behavior under load is also important. I was able to observe 100% error rate (and cause other problems) sending sustained traffic with 50 entries per request for a short amount of time. What are the primary use cases for this API? What would be the consequences of reducing this limit to 5 or 10? I may be worth adding a metric to measure distribution of request size.

[2022-08-24 15:56] priyawadhwa commented on #901
I think lowering the limit should be fine. Not sure if anyone is using it tho, I think you mentioned parsing logs in Slack to find out and that might be a good place to start.

[2022-08-24 17:48] asraa commented on #865
@rbehjati took a review on this PR:
This PR would allow you to upload the following proposed entry to Rekor in code:
[code]

That PR's implementation of artifact creation via CLI flags assumes that artifact is a JSON envelope. If would be a little complicated logic to modify, but could be done. @pxp928 You would need to do the following in `CreateFromArtifactProperties`:

1. If `signature` is pres

[2022-08-24 20:59] dlorenc commented on #901
Thanks for clarifying, I had the wrong endpoint. I didn't actually even know this API supported multiple. Dropping sounds fine to me.

[2022-08-24 21:06] bobcallaway commented on #901
+1 to limiting entry length to 50 or lower

[2022-08-25 17:54] rbehjati commented on #865
We use `rekor-cli upload` with `--type rekord`. If you are referring to the payload type in the envelope, it should be "application/vnd.in-toto+json" I think. But we don't directly use or generate DSSE envelopes. Does that answer the question?

Do you recommend using the upload functionality programatically instead of using the CLI?

[2022-08-25 23:06] Hayden-IO opened #1001 "Proposal: Remove watcher"
I propose removing the periodic process "watch" that records tree heads. Recording old tree heads does not aid in the calculation of consistency proofs, since those are calculated by clients using a persisted checkpoint. Recording them also does not mitigate split view attacks, because the process logging the tree heads is the same as the log itself. Witnesses will calculate consistency between a

[2022-08-26 16:25] cdris commented on #997
Can't assign myself, but I'll put in a pr for this.

[2022-08-26 17:59] priyawadhwa opened #1005 "Rekor 1.0"
Pre-release is out!
We want to release Rekor 1.0 at 45f17ce35901b0439c468f248b7121de001eb7da to include a change to rekor-cli which wasn't included in the pre-release.

A tracking issue for Rekor 1.0

Items in progress: [GA Blockers](https://github.com/sigstore/rekor/labels/ga_blocker)

- [x] https://github.com/sigstore/rekor/issues/891
- [x] https://github.com/sigstore/rekor/issues/582
- [x] http

[2022-08-29 14:04] bobcallaway commented on #997
fixed by #1006

[2022-08-29 14:04] #997 closed, assigned to cdris

[2022-08-29 14:48] asraa opened #1010 "Checkpoint: Should the Origin be the Tree ID?"
**Description**

All Trees use "Rekor" as origin. Should We include the Tree ID or shard ID in the origin/ecosystem?
https://github.com/sigstore/rekor/blob/547eb3cef9690bc97e73e35eb3bf1f40b18a3504/pkg/util/checkpoint.go#L30

@bobcallaway @priyawadhwa @lkatalin

[2022-08-29 16:11] Hayden-IO commented on #1010
From https://github.com/transparency-dev/formats/tree/main/log

A shard ID would guard against two logs producing the same checkpoint.

[2022-08-29 19:46] asraa commented on #1001
I thought this watcher was meant for anyone to spin up?

I guess I can see why it shouldn't live in this repository.

[2022-08-29 19:47] Hayden-IO commented on #1001
What's the purpose of recording old tree heads? If you want a witness, then you should run rekor-monitor/omniwitness.

[2022-08-29 19:55] #901 closed, assigned to nobody

[2022-08-29 19:58] Hayden-IO commented on #988
Task: Update verification functions once the STH is returned

[2022-08-29 21:10] Hayden-IO commented on #988
The plan for changes:
* Sign a tree head on successful inclusion
* Return the tree head in the response - I'd propose that a `checkpoint` field be added to `InclusionProof` instead of alongside `InclusionProof`. Then verification is either an SET or inclusion proof (A checkpoint doesn't need to be included with an SET)
* Persist the checkpoint in a database (including the current tree, size, etc)

[2022-08-29 21:49] asraa commented on #988
That makes logical sense to me. Note that I think some languages JSON decoders may have more strict validation than Go, and that it would be a breaking change and we should publish a release for it.

Like Rekor server should do that? Can we table that for later to make this more incremental?

Also, can we table that for later? Let's just make this issue on changing return response

[2022-08-29 22:10] Hayden-IO commented on #988
Yes, we can fix these incrementally, but I think to fully close this issue, we will need to persist the latest checkpoint. Otherwise, there will be no way for a client to get quorum with other witnesses, given the STH from an inclusion proof.

[2022-08-29 22:14] asraa opened #1014 "Rekor does not validate Tree ID in requests for `entries/retrieve`"
**Description**

The Tree ID is ignored in the `retrieve` endpoint.

[code]

and
[code]

Note the tree ID difference `362f8ecba72f4326` and `362f8ecba72f4325`. We retrieve the same UUID, but requested different Tree IDs. Note one does not exist.

[2022-08-29 22:36] Hayden-IO commented on #988
Persistance can be punted. A client with a checkpoint can't ask a witness if it's seen the checkpoint with the current model for Rekor anyways, since the checkpoints update so frequently.

Just some thoughts for if we do this, a way to avoid writing to a database: We only need to persist the latest, so we can just store it on the global `api` object, with appropriate locking and checks that we are

[2022-08-30 11:27] #1010 closed, assigned to Hayden-IO

[2022-08-30 15:43] #891 closed, assigned to asraa

[2022-08-30 15:43] #789 closed, assigned to nobody

[2022-08-30 19:26] #1014 closed, assigned to nobody

[2022-09-01 16:45] bobcallaway opened #1021 "determine status of /api/v1/index/retrieve endpoint before Rekor 1.0 release"
**Description**

The current implementation of searching the log index is still "proof-of-concept" quality:
- Indices are inserted into the index in a best-effort fashion (as there is no transaction support for atomically committing to both the index and the transaction log currently)
- If there are errors generating index keys for an entry, those errors are logged but are not exposed to clients.

[2022-09-01 18:15] priyawadhwa commented on #1021
I don't have a strong opinion, am good with either option. Slightly leaning towards removing it, as it might make it easier to implement the long term design later on and doesn't come with any sort of time pressure to do it quickly post 1.0

[2022-09-01 18:27] Hayden-IO commented on #1021
I'm hesitant to entirely remove search before GA because there is client reliance on the search capabilities. If we want to at least separate search into its own repo, we could remove it from the repo, operate it as its own "experimental" lightweight service, and best-effort push entries from Rekor to the service (effectively having the same guarantees as now, but with the ability to iterate). Sea

[2022-09-01 18:51] dlorenc commented on #1021
I like having log monitors back the searches, they can provide more guarantees than pub/sub would be able to. But I also like the idea of having pub/sub support for other use cases!

[2022-09-02 13:50] #980 closed, assigned to asraa

[2022-09-02 13:53] asraa opened #1024 "[API] Restrict request Entry UUIDs to full Entry UUID (80 chars)"
**Description**

Rekor will now return Entry UUIDs in all entry points: https://github.com/sigstore/rekor/pull/1012

Currently, we handle both full Entry UUIDs of 80 chars and the 64 character UUID leaf hash. At some point, we should deprecate the UUIDs to ensure clients query by full Entry UUID.

[2022-09-02 13:57] priyawadhwa commented on #1024
SGTM! We could even add in a metric to count the # of requests for 64 char vs 80 char to help decide when we can fully deprecate :)

[2022-09-02 14:25] priyawadhwa commented on #988
@asraa I believe this can be closed now?

[2022-09-02 14:33] priyawadhwa commented on #1021
Shall we go with marking it experimental for now then?

[2022-09-02 15:36] asraa commented on #988
Agree!

[2022-09-02 15:36] #988 closed, assigned to Hayden-IO

[2022-09-02 16:18] Hayden-IO commented on #988
Thanks! Going to open up another non-blocking issue for figuring out the story around returning a consistent checkpoint.

[2022-09-02 16:23] Hayden-IO opened #1025 "Return consistent signed checkpoint"
**Description**

In https://github.com/sigstore/rekor/issues/988, we added signed checkpoints (signatures over the root hash) to upload and verification responses where an inclusion proof is returned. However, these checkpoints are not persisted, so when requesting the latest checkpoint (`/api/v1/log`), Rekor signs a new commitment to the root hash. For clients trying to find quorum between witnes

[2022-09-06 15:46] vaikas opened #1026 "Add --file-ca (or something flag) for taking in secret from files like Fulcio does."
**Description**

Currently Rekor has an ephemeral signer mode here:
https://github.com/sigstore/rekor/blob/main/cmd/rekor-server/app/root.go#L76

This works mostly fine, but with us moving to TUF everywhere (and getting rid of various env flags for specifying public keys) if Rekor ever restarts during the testing this will create a new in-mem public key and hence the TUF root doesn't work. Fulcio

[2022-09-06 16:29] asraa commented on #1026
@cdris do you think you might have time to take this? It would be like `--filesigner-key` to hold an encrypted key on file (Rekor doesn't need a whole signing cert)

[2022-09-06 17:35] var-sdk opened #1027 "/v1/log/entries/retrieve returns 500 when requesting entries > tree size."
**Description**

Repros when requesting any log index greater than the current tree size. e.g. as of time of writing:

[code]

Returns:
[code]

**Version**

[2022-09-06 18:40] bobcallaway commented on #1021
it seems like we have consensus to mark as experimental.

[2022-09-07 22:48] znewman01 commented on #932
FWIW the [NSA is now (as of today) recommending all software signatures use quantum-resistant algorithms](https://www.nsa.gov/Press-Room/News-Highlights/Article/Article/3148990/nsa-releases-future-quantum-resistant-qr-algorithm-requirements-for-national-se/). [Specifically](https://media.defense.gov/2022/Sep/07/2003071836/-1/-1/0/CSI_CNSA_2.0_FAQ_.PDF):

prefer CNSA 2.0 by 2025, and exclusively us

[2022-09-07 22:56] Hayden-IO commented on #932
I'm not very familiar with these schemes, but from what I understand, there are significant tradeoffs to each, and none are a perfect candidate. (Edit: I know one significant tradeoff is around the speed of verification, so I want to be hesitant throwing in unvetted libraries that handle verification and opening Rekor up to denial of service)

I agree that with our sharded design, we should be abl

[2022-09-07 23:08] trishankatdatadog commented on #932
Wow, talk about breaking news. Yes, I agree with Hayden that we should provide "crypto agility" despite the unfortunate reputation it suffers from among certain security circles (a subject on which I plan to write about soon).

[2022-09-08 01:17] znewman01 commented on #932
That's putting it nicely :) key sizes are huge, signing is slow, verification is slow.

Yeah, that's really what I meant by "experimental support:" not pushing to prod, just making we were ready to make the transition. Seems like we're in agreement on that.

[2022-09-08 23:33] var-sdk opened #1040 "/v1/log/entries/retrieve returns 500 when requesting malformed proposed entries"
**Description**

Repros with [tests/rekor.json](https://github.com/sigstore/rekor/blob/main/tests/rekor.json):
[code]

[code]

Similar to https://github.com/sigstore/rekor/issues/1027.

**Version**

[2022-09-08 23:58] var-sdk opened #1041 "/v1/log/entries/retrieve needs systematic test coverage."
**Description**

/v1/log/entries/retrieve is one of the more complicated APIs but lacks systematic test coverage and some code paths, like query by proposed entry, appear to have any test cases at all. There continue to be edge case bugs filed against this API. A systematic approach to testing would help harden the API for positive and negative cases.

Would adding this API to `rekor-cli` help? A

[2022-09-09 15:04] asraa commented on #1040
Seems like https://github.com/sigstore/rekor/blob/4420d1164c6e53180e6eeb693c8865704c21755d/pkg/api/entries.go#L398 should still have been bad request.

Can add some testing.

[2022-09-09 15:09] asraa commented on #1041
I've always been curious why the `rekor-cli get` did not support getting by propsed entry.

I assumed that `get` should use `SearchLogQuery` which can handle the UUID, log index, and propsed entry. Meanwhile, `get` uses `GetLogEntryByIndex` or `GetLogEntryByUUID`.

IMO we should remove the redundancy here... if you have the index or entry UUID then use the `v1/log/entries` or `v1/log/entries/UUID`

[2022-09-13 08:24] #1040 closed, assigned to nobody

[2022-09-13 08:24] #1027 closed, assigned to nobody

[2022-09-14 15:29] asraa opened #1051 "[bug] CI harness test is failing"
**Description**

[code]

I'll take a look

**Version**

[2022-09-14 15:35] priyawadhwa commented on #1051
I'm on my phone so can't check the logs at the moment, but if this is an old rekor-cli version run against rekor-server >= v0.12.0 this test should be skipped!

The skipping logic might have a bug in it now that 0.12.0 was recently released

[2022-09-14 15:36] asraa commented on #1051
Yep thank you so much! Exactly, it's an old version of rekor-cli that doesn't handle the v0.0.2 intoto entries.

Thanks!

[2022-09-14 15:38] asraa commented on #1051
More generally, even if the CLI can't handle it, we should be regression testing old server versions for these API calls, right? I'll see if I can check in on this later, maybe it's already there.

[2022-09-14 15:44] priyawadhwa commented on #1051
Yah so we currently test the 2 most recent releases and HEAD, with all combos of rekor-cli and rekor-server

We start with the oldest rekor-server and upgrade twice to mimic staging/prod, and run the tests against all 3 versions of rekor-cli.

Normally we'd want this to be backwards incompatible but rekor-cli 0.12.0 is a breaking change so gotta skip older versions :/

[2022-09-14 16:37] asraa commented on #1051
Oh, I guess it's not really necessary! I meant that we can still retrieve v0.0.2 entries against server, it's just that the CLI can't parse it. So I mean some test should exist that runs direct HTTP requests with `curl` against recent versions of the server, rather than the CLI. But that's just a test against the server, which runs at pre-submit anyway. It won't regress with old versions of the se

[2022-09-14 17:26] #1051 closed, assigned to nobody

[2022-09-15 15:21] #1026 closed, assigned to nobody

[2022-09-15 15:35] asraa opened #1054 "Docs: Update docs on type upload"
**Description**

Fill out the TODOs in https://github.com/sigstore/rekor/blob/main/types.md#openpgp--gpg

**Version**

[2022-09-15 15:37] asraa opened #1055 "Inclusion proof verification fails: wrong proof size"
**Description**

We're once again seeing errors: https://github.com/slsa-framework/example-package/actions/runs/3057744627/jobs/4933233549#step:3:74

`validating log entry: verifying inclusion proof: wrong proof size 16, want 17`

**Version**

This run was in the last 12 hours, so I believe 0.12 or 0.11 was deployed? Would be good to get confirmation.

Will check a little if I can reproduce someti

[2022-09-16 11:38] kommendorkapten opened #1056 "Add endpoint for hash algorithm used during signing."
**Description**

Today the public key can be retrieved via the API. For signature algorithms that rely on a hash function, the used hash function can not be retrieved via the API. Current Rekor cli assumes the hash function is SHA-256: https://github.com/sigstore/rekor/blob/main/cmd/rekor-cli/app/log_info.go#L190

Also, if the signing algorithm used is RSA, PKCS1 1.5 is assumed: https://github.com

[2022-09-19 14:46] znewman01 commented on #1056
I think we should probably just require that these parameters be distributed out-of-band always; otherwise, it feels like an attack vector (I can MITM the connection to Rekor, tell you to use CRC32, and forge signatures).

[2022-09-19 14:49] kommendorkapten commented on #1056
Yes, that is of course the best. I was a bit puzzled as the public key is available via the API, but not the parameters.

[2022-09-19 14:51] znewman01 commented on #1056
Makes sense.

Yeah, I think it's fair to want either *both* or *neither*, and maybe we should prefer *neither*.

[2022-09-19 14:56] kommendorkapten commented on #1056
Yes, as that will not foster unsafe behaviour. For testing where the default is to use an in-memory generated key-pair, there has to be a way to extract the key at least. But there are other ways than via the API. Maybe one way is to not expose the endpoint for retrieving the public key, and require an explicit parameter to expose it (for local testing).

[2022-09-19 15:52] znewman01 commented on #1055
We've seen a different verification failure at Chainguard a few times over the past week or two:

[code]

(It's in the context of Gitsign verification.) Not sure if that's related.

[2022-09-19 15:54] asraa commented on #1055
It likely is! They go hand in hand: https://github.com/sigstore/rekor/pull/956

There's probably another place this is happening.

[2022-09-20 19:52] asraa opened #1062 "release: release a patch for 0.12.1 allowing v0.0.1 intoto entries"
**Description**

Currently 0.12.0 does not allow v0.0.1 intoto entries. However, clients still need to verify rekor entries (and sometimes upload) v0.0.1 entries: we should have a small patch release including this change

https://github.com/sigstore/rekor/commit/a6d36b8028ecdb4c047dde52b29a76b51b058b2f

[2022-09-20 19:54] Hayden-IO commented on #1062
cc @cpanato

[2022-09-20 20:45] Hayden-IO commented on #1055
It looks like the cause is that production is running 0.10.0 and not 0.11.0 which contains the fix. I'm updating prod now, though we can't rollout the latest 0.12.0 yet since we haven't verified it in staging.

[2022-09-20 21:10] var-sdk commented on #1062
I'd also like to get f27af357e6831225507ed97524dec78e034fe63f into the release as well so we can accurately measure SLO for GA. Can we cut 0.12.1 from HEAD (or 0.13.0)?

[2022-09-21 11:52] cpanato commented on #1062
this https://github.com/sigstore/rekor/commit/a6d36b8028ecdb4c047dde52b29a76b51b058b2f is already in 0.12.0

but i do agree we can make a 0.12.1 release

[2022-09-21 21:24] znewman01 commented on #932
@mnm678 had a good though regarding post-quantum Sigstore!

A lot of the complexity around SPHINCS+ and similar [hash-tree-based stateful signature schemes](https://en.wikipedia.org/wiki/Merkle_signature_scheme) has to do with:

1. Keeping state at the signer is annoying, but getting around the need for state is complicated.
2. Using these for many signatures requires big key sizes.

If you have s

[2022-09-21 21:49] lkatalin opened #1066 "Errors when using scripts/createdb.sh"
**Description**
There are various errors when I try to use `scripts/createdb.sh`. Some of them may be related. I'm using the latest commit with: Server version: 8.0.30 MySQL Community Server - GPL. I am able to get past some of them by fiddling with the database, but it seems like the `createdb.sh` script should make the experience smoother. I can try to create PRs to fix these if there is a conse

[2022-09-21 23:11] SantiagoTorres commented on #932
Not entirely sure either, but we could also consider WOTS+ or so, which I think has implementations laying around.

[2022-09-21 23:45] Hayden-IO opened #1067 "Correctness issue: Change to batched entry upload to support witnessing"
Witnesses monitor the consistency of the log, verifying that the log is append-only and immutable. Roughly, the verification process for a witness is:
* Persist a checkpoint (signed tree head)
* Periodically, request the current checkpoint
* Verify the signature on the checkpoint
* Request and verify a consistency proof between the persisted checkpoint and current checkpoint
* Persist the new chec

[2022-09-21 23:45] Hayden-IO commented on #1067
cc @asraa @priyawadhwa @znewman01 for more discussion

[2022-09-22 00:10] Hayden-IO commented on #1067
An alternative to making breaking changes, while still increasing the batch size, would be to keep the current design and increase the MMD to O(minutes). Rekor already polls Trillian until the upload is complete, so this would only require a configuration change. However, the downside to this is that connections will be kept open for minutes, and the SLO for upload would have to be significantly i

[2022-09-22 01:35] dlorenc commented on #932
Maybe I'm missing something, but if we were only going to use keys once that would work but it would still leave the root CA using traditional crypto, right?

The root cert signs the leaf cert using it's private key (this has to happen many times)
The leaf cert signs the actual artifact using it's private key (this can just happen once)

If we make the second part there use one-time signatures wha

[2022-09-22 09:29] znewman01 commented on #932
Yeah the one time use was just for client keys. That’s the really important part for the long term—the transparency log binds the keys to a timestamp using symmetric crypto. Rekor/Fulcio need to cut over to (multi use) keys *by* the time we’re worried about quantum attacks, but user keys should move over *before*.

[2022-09-22 15:01] trishankatdatadog commented on #932
Thanks for clarifying. In that context, this is a great finding thanks to a classic result.

[2022-09-22 15:03] dlorenc commented on #1067
I'm not sure I agree that witnessing and gossip protocols are necessary to mitigate split-view attacks. In order to maintain a long-term split view attack, the server would need to track individual users across IP addresses over long periods of time in order to target or create one.

A split-view attack is impractical if you assume that clients/witnesses are relatively anonymous. There's plenty mo

[2022-09-22 15:15] znewman01 commented on #1067
I still think it's a good idea to make the `SET` just a promise, and not wait for completion.

This has some advantages architecturally: as the Merkle tree grows, each append will be slower, and batching helps, so we may want to batch for reasons other than security.

EDIT: plus it's weirdly inconsistent with CT

[2022-09-22 15:38] Hayden-IO commented on #1055
@asraa, can you verify this is now working and mark as closed once you do?

[2022-09-22 16:21] asraa commented on #1067
@rbehjati has also brought up points in favor of batched updates, in face of CAP theorem too: and we can ideally make this a configurable parameter of the server.

[2022-09-22 16:26] asraa commented on #1062
Closed, thanks!
https://github.com/sigstore/rekor/releases/tag/v0.12.1

[2022-09-22 16:26] #1062 closed, assigned to nobody

[2022-09-23 12:14] #1021 closed, assigned to bobcallaway

[2022-09-23 20:15] bobcallaway opened #1075 "Revamp rekor e2e test coverage"
**Description**

Right now, it can be quite difficult to map the e2e test cases we have along with the code base, given that they're all in a small number of fairly large golang files. I think we could break these apart, help to make them more idomatic and consistent, and help for the development of future types and new updates to the Rekor API going forward.

[2022-09-24 00:09] naveensrinivasan commented on #1075
I would like to take this. @bobcallaway, Can you please assign it to me?

[2022-09-27 10:53] bobcallaway commented on #1066
this script comes from trillian, and really isn't something custom to Rekor. We should probably remove it and just refer folks to use what is in the trillian repo.

[2022-09-29 12:22] Mohamed-AH opened #1084 "rekor-cli installation through go"
**Description**

I tried to install rekor-cli through go on an ubuntu server on killercoda.com using
"go install -v github.com/sigstore/rekor/cmd/rekor-cli@latest"
but it was not successful, however I was able to do it successfully manually using
"git clone https://github.com/sigstore/rekor.git rekor-cli
cd rekor-cli
make rekor-cli
cp rekor-cli /usr/local/bin/"

**Version**

Not Applicable

[2022-09-30 14:32] asraa opened #1087 "[issue] Sharding broke client logic when verifying consistency with inactive shards"
**Description**

Hi, there is another distinct sharding issue (beyond the inactive shard lookup) we found in the SLSA GitHub Generators: https://github.com/slsa-framework/slsa-github-generator/issues/942

In our verification flow (at that verifier version: note there was no STH available in an returned entry) for an entry in Rekor, we do the following:
1. Check the inclusion proof with the hashes

[2022-09-30 14:35] asraa commented on #1087
@loosebazooka helped me out here: I can use the prepended tree ID from the returned entry UUID

[2022-09-30 14:39] asraa commented on #1087
Leaving this as a record of clients breaking because they were not notified of needing to be sharding-aware though.

[2022-09-30 14:39] #1087 closed, assigned to nobody

[2022-09-30 21:01] Hayden-IO commented on #1087
Related: https://github.com/sigstore/rekor-monitor/issues/57

Also broke omniwitness

[2022-10-01 11:30] anoncam opened #1088 "Genuine thought experiment"
Can rekor be run at the edge and use something like workers.dev and a data store to enhance resiliency as scale is achieved?   Serverless rekor?? @Cloudflare

[2022-10-03 15:36] asraa commented on #1055
We may have seen this happen again recently, but I'm trying to pinpoint if it's occuring after the rollout https://github.com/slsa-framework/slsa-verifier/issues/285

[2022-10-03 17:14] asraa commented on #1084
Hi!

What was your reproducing steps and error messages? I can run the go install successfully:
[code]

[2022-10-04 14:20] Mohamed-AH commented on #1084
I opened an environment on killercoda.com (https://killercoda.com/playgrounds/scenario/ubuntu)
pasted the command
$ go install -v github.com/sigstore/rekor/cmd/rekor-cli@latest
after the execution, rekor-cli returns "command not found"

but if I do the installation manually with the below commands :
"git clone https://github.com/sigstore/rekor.git rekor-cli
cd rekor-cli
make rekor-cli
cp rekor-cli

[2022-10-04 15:57] datosh opened #1094 "Rekor client leaks goroutine"
**Description**

[code]

results in

[code]

**Version**

`github.com/sigstore/rekor v0.12.2`

[2022-10-04 15:58] cpanato commented on #1094
cc @asraa @priyawadhwa

[2022-10-06 10:56] bobcallaway commented on #1084
Typically it means `$GOBIN` is not in `$PATH`

[2022-10-06 17:58] asraa opened #1104 "Documentation: Misdocummentation of `/entries/retrieve` response"
https://github.com/sigstore/rekor/blob/01c7b55405527d40de664d81696b5e78e7abbb0d/openapi.yaml#L230-L236

@woodruffw pointed out to me that the `/log/entries/retrieve` endpoint was mis-documented. The return response is actually a dictionary of `uuid: LogEntry`, rather than an array of `LogEntry`'s.

I think, then that we must represent the return type as an array of object, and that object is a pai

[2022-10-06 17:59] asraa commented on #1104
It's annoying because in Golang I thought `LogEntry` was the `[{uuid: LogEntryAnon}]` but `LogEntry` in the spec is `LogEntryAnon`.

I'm puzzled how that happened.

[2022-10-06 18:12] asraa commented on #1104
@var-sdk helped me unpack this:

Yes, the response IS an `array`, and the key-values `{uuid: stuff}` IS a `LogEntry` by the schema.

[code]

Because `LogEntry` is an object type with `additionalProperties`, the object field name is the UUID and the object properties are described below.

This is also the same type that `/entries?logIndex=1` returns (a single `LogEntry` object, not the array of the

[2022-10-06 18:12] #1104 closed, assigned to nobody

[2022-10-07 03:45] dlorenc commented on #1088
Rekor itself is stateless, and trillian is mostly stateless, so yes-ish? You just need the data storage system. Trillian doesn't support SQLite but that's probably what it would take to work on Cloudflare.

[2022-10-07 16:40] anoncam commented on #1088
perfect.

[i think there a few ways](https://developers.cloudflare.com/workers/learning/using-durable-objects/)

[2022-10-07 17:46] anoncam commented on #1088
https://developers.cloudflare.com/workers/tutorials/query-postgres-from-workers-using-database-connectors/

[2022-10-07 22:28] znewman01 commented on #1088
Very interesting idea.

FWIW the performance bottlenecks that we run into in Rekor don't seem to be addressed by horizontal scaling. Rather, the main issues are (1) superlinear scaling for transparency logs: the billionth entry takes longer to process than the millionth, and (2) the requirements for strict serialization order in a shared backing datastore that can't handle partitioning. Even so, t

[2022-10-11 07:23] ianlewis opened #1115 "(*models.Error) is not supported by the TextConsumer"
We're seeing this error in a non-trivial number of our e2e test runs w/ [slsa-github-generator](https://github.com/slsa-framework/slsa-github-generator).

[code]

As with #801 it seems to be a transient error. A quick Google search returned https://github.com/go-swagger/go-swagger/issues/1929 which seems to be unresolved in the swagger library but there are some clues there as to potential ways to

[2022-10-11 12:18] bobcallaway commented on #1115
I'm suspect that you're getting a 429 response due to rate limiting, but since that is formatted by nginx as HTML (instead of JSON which is what the rekor client expects by default).

https://github.com/sigstore/rekor/commit/be91b71109b42e9fc217c3c64333aa82119555c7 (which is in 1.0rc) changes the underlying HTTP client to quietly attempt retries according to the Retry-After headers returned by the

[2022-10-12 22:28] Hayden-IO commented on #824
Available at https://github.com/sigstore/timestamp-authority

[2022-10-12 22:28] #824 closed, assigned to asraa, Hayden-IO

[2022-10-12 22:28] #798 closed, assigned to Hayden-IO

[2022-10-14 16:49] asraa opened #1125 "[feat] Remove pkg/verify dependency on trillian"
**Description**

I think Trillian is fairly heavy-weight, and the verify pkg shouldn't include too many external deps.

This is preventing its usage in sigstore/cosign; a draft PR with the changes is here https://github.com/asraa/cosign/pull/new/use-rekor-verify-libs, but a dep check fails.

**Version**

[2022-10-14 19:54] woodruffw opened #1126 "[docs] Discrepancies between Rekor types documentation and schemas?"
Hey there! I'm looking into increasing the breadth of Rekor types supported by `sigstore-python` (https://github.com/sigstore/sigstore-python/issues/252), and I've been consulting the Rekor types documentation for the different types currently supported: https://github.com/sigstore/rekor/blob/main/types.md

As part of that, I've been trying to understand the relationship between those types and th

[2022-10-17 12:19] znewman01 commented on #1088
I'm going to close this for now. If you have a specific need or want to work on this, comment and we can reopen!

[2022-10-17 12:19] #1088 closed, assigned to nobody

[2022-10-17 13:53] lkatalin commented on #1126
@woodruffw I had questions around the types too, and got clarification in this [Slack thread](https://sigstore.slack.com/archives/C01CX4E2K70/p1660916958335419).

I think the main tl;dr is there are two types of "types" - pluggable types, and PKI types. Each pluggable type supports certain PKI types. SSH and Minisign (and all the types in [rekor/pkg/pki](https://github.com/sigstore/rekor/tree/main

[2022-10-17 14:35] woodruffw commented on #1126
Thanks @lkatalin!

[2022-10-17 21:50] cpanato commented on #1005
release https://github.com/sigstore/rekor/releases/tag/v1.0.0

[2022-10-17 21:50] #1005 closed, assigned to priyawadhwa

[2022-10-19 15:05] datosh opened #1137 "Trailing whitespace in pub key results in HTTP 400"
**Description**

When configuring my secrets I accidentially added an additional new line in my cosign public key and leads to errors when interacting with Rekor.

This seems to be server side. I tried to debug the client, but in case of providing a URL (which suffers from same error) the URL seems to be passed on to Rekor and key is fetched by server? Is that correct?

Would it make sense to have

[2022-10-19 18:24] anoncam commented on #1088
yeah let me get cloudflare in this. I would like to offer worker for platforms to the sigstore community at my cost, let's see what we can build.

[2022-10-20 11:17] bobcallaway commented on #1041
The main benefit would be to fetch multiple log entries in the context of a single HTTP request.

[2022-10-20 13:29] asraa commented on #1041
OH I see. That was probably the entire intent of the separate endpoint? In that case I change my opinion. Fetching a range is good.

[2022-10-21 08:08] kommendorkapten opened #1139 "Signatures in DSSE envelopes for intoto/v0.0.2 are double encoded"
**Description**

When uploading an `intoto` object with version `0.0.2`, the retrieved entry has the signature double base64 encoded.

An example entry with this:

[code]

When retrieving the entry:

[code]

After base64 decode the signature, we get the real signature:

[code]

which was uploaded:

[code]

**Version**

Rekor as deployed of 2022-10-21.

[2022-10-21 13:10] kommendorkapten commented on #1139
I understand this is a known issue: https://sigstore.slack.com/archives/C01CX4E2K70/p1664483571881309, should I close this?

[2022-10-22 15:08] bobcallaway commented on #1055
@asraa can we close this out?

[2022-10-22 15:09] bobcallaway commented on #1084
@Mohamed-AH please reopen if this is not a result of `$GOBIN` not being in your `$PATH`.

[2022-10-22 15:09] #1084 closed, assigned to nobody

[2022-10-22 15:09] bobcallaway commented on #1115
@ianlewis has upgrading to rekor v1.0.0 helped in this?

[2022-10-22 16:14] bobcallaway commented on #1139
which client is being used to upload?

[2022-10-22 16:27] kommendorkapten commented on #1139
I was using a local built `rekor-cli`, at the current `main` branch a few days ago.
This was also asked in #rekor slack channel September 29th, and @haydentherapper answered it was due to historical decisions.

I was testing this locally too, and I *think* I `tcpdump`ed the bytes on the wire to verify that the envelope being sent wasn't double encoded, but I don't that data available now. I can re

[2022-10-22 16:47] bobcallaway commented on #1139
no need, that's enough of a direction for me to look at. thanks!

[2022-10-22 17:01] bobcallaway opened #1144 "/api/v1/log/entries/retrieve returns 404 instead of 200 and empty result array"
**Description**

The `SearchLogQuery` endpoint (`/api/v1/log/entries/retrieve`) is documented in `openapi.yaml` to return a JSON array with 0 or more resulting entries that match the search criteria. There is 0 mention of returning a 404 from this endpoint.

If an request is searching for two entries (one that exists and one that doesn't), the server currently returns a 404 instead of just returni

[2022-10-22 17:14] bobcallaway commented on #1041
some notes I took while working #1144:

the API takes array of entryUUIDs, logIndices, and/or entries; for each of these three:
- empty (expect empty array & HTTP 200)
- one validly formed, and in log (expect success)
- valid formed, but not in log (expect empty array & HTTP 200)
- mix of validly formed (some correct, some incorrect) (expect only correct ones, HTTP 200)
- malformed input (expect H

[2022-10-22 21:26] bobcallaway commented on #1041
Also should consider searching entries that span multiple shards

[2022-10-23 12:26] ianlewis commented on #1115
@bobcallaway I think we're still evaluating. I don't think we have a release with it included but I'll see how often it occurs in our e2e tests this week.

[2022-10-23 12:28] ianlewis commented on #1055
@bobcallaway @asraa We haven't seen it on slsa-github-generator e2e tests for a while so I think it's ok to close out.

[2022-10-23 14:50] #1055 closed, assigned to nobody

[2022-10-23 23:10] ianlewis commented on #1115
@bobcallaway We actually didn't update Rekor to 1.0.0 in in slsa-github-generator yet. We only had updated it in the verifier. Hopefully https://github.com/slsa-framework/slsa-github-generator/pull/1121 will get merged in the next day or so and we'll see results.

[2022-10-24 23:48] bdehamer commented on #1139
I was looking at this a few weeks back to understand how to implement this properly in `sigstore-js`. When I spied on the request that was being made by the `rekor-cli` I saw that both the envelope payload and the signature were double base64-encoded on upload.

[code]
[code]

[2022-10-25 09:26] #1144 closed, assigned to nobody

[2022-10-25 20:04] toddysm opened #1151 "Missing transparency log URLs when verifying a release"
**Question**
Going over the following documentation https://docs.sigstore.dev/rekor/verify-release#verify-the-entry-is-in-the-transparency-log I cannot find the URLs that are mentioned on the release page for Rekor. Any ideas where to look for those?

[2022-10-26 19:38] bobcallaway commented on #1151
@cpanato I think you were doing this previously, but I don't see them either for the last release?

[2022-10-26 19:43] cpanato commented on #1151
we are not publishing that anymore, was only in the beginning.
but you can use `cosign verify` to get all the information.

I would say we update the docs to reflect that or if we still want to publish the entry uuids.
Not sure if worth to be honest, but I can implement that if required.

cc @priyawadhwa

[2022-10-26 19:48] bobcallaway commented on #1151
we should at least provide updates to docs that help people verify our
release artifacts, so I think a doc change is all that's needed here.

On Wed, Oct 26, 2022 at 3:43 PM Carlos Tadeu Panato Junior <
***@***.***> wrote:

[2022-10-26 19:50] cpanato commented on #1151
ok will update the docs

[2022-10-26 20:49] toddysm commented on #1151
@cpanato doing `cosign verify` will work for everything else except `cosign` when first installed. Would be good to have those for `cosign`.

[2022-11-02 16:46] znewman01 opened #1162 "Question: should Rekor canonicalize the Rekor entries it takes in?"
Right now, Rekor signs the representation of the Rekor entry as-provided. Most Rekor entries are JSON, so there's no canonical encoding.

The current implementation of the Bundle format relies on reconstructing the Rekor entry type in order to check the signature in the SignedEntryTimestamp. However, this is a huge pain—one client might produce different JSON from another, which means that verifyi

[2022-11-02 16:51] bobcallaway commented on #1162
That is incorrect, rekor canonicalizes the entry before writing it to the log and after verifying the validity of the signature.

https://github.com/sigstore/rekor/blob/05d92d3c8e306a6032a56742a42127a82a1d0773/pkg/types/entries.go#L146

[2022-11-02 16:57] znewman01 commented on #1162
Oh huh, I didn't realize that.

It seems like there *is* a canonicalization step, but it often involves [using Go's `.json.marshall`.](https://github.com/sigstore/rekor/blob/05d92d3c8e306a6032a56742a42127a82a1d0773/pkg/types/alpine/v0.0.1/entry.go#L259) which isn't actually canonicalization. So I think my overall point stands—should we be canonicalizing the JSON as part of the `Canonicalize` step?

[2022-11-02 17:00] bobcallaway commented on #1162
The type specific code does call `json.Marshall`, but is wrapped by this call:

https://github.com/sigstore/rekor/blob/05d92d3c8e306a6032a56742a42127a82a1d0773/pkg/types/entries.go#L151

which uses github.com/cyberphone/json-canonicalization/go/src/webpki.org/jsoncanonicalizer

[2022-11-02 17:02] bobcallaway commented on #1162
There are many other canonicalization topics to consider, including PKI artifacts (DER vs PEM encoding), PGP binary VS armored keys, etc.

[2022-11-02 17:17] bobcallaway commented on #1162
Simplifying the input and output formats has been on my mind (triggered by much of the bundle dialog), so would love to collaborate on a doc / proto on this to help simplify (as well as to document this)

[2022-11-02 20:25] asraa commented on #1162
Does this mean that Sigstore bundle would contain the canonicalized Rekor entry (and that way it can compute the correct entry body when validating the SET)? Honestly, I think that's the only way. Otherwise clients would need to recreate the canonicalization logic individually. Is that a really big issue? If you tamper with the bundle, expect it to be invalid.

Why not just store the Rekor entry t

[2022-11-02 23:56] bdehamer opened #1164 "502 error when posting intoto 0.0.2 entry w/o hash"
**Description**

If I try to upload an intoto/0.0.2 entry to Rekor without including a value for the `hash` field, I receive a 502 status code in response:

[code]
[code]
Despite the error, it appears that an entry is created. If I resubmit the same request a second time, I receive the following:
[code]

Given that the `hash` field is marked as "readOnly" in the [schema](https://github.com/sigstor

[2022-11-03 11:06] bobcallaway commented on #1164
Your understanding is correct; there are two issues here. One is that the computation of the hash over the entire envelope is not canonical, because the addition of `publicKey` introduces marshalling and unmarshalling on the server side that may result in a different byte stream than the client's representation of the DSSE envelope. The other is a bug in how the IndexKeys are computed (which happe

[2022-11-03 13:14] patflynn opened #1169 "Rekor should indicate in its logs which external system is causing an error"
**Description**

While responding to the 2022-11-02 [rekor search API outage](https://github.com/sigstore/public-good-instance/pull/1046) on-call discovered the following error message in the log:
`response returned from Conn: unmarshaling message off Conn: OOM command not allowed under OOM prevention.`

It would save a little time having to look up code if the external source of errors was clearl

[2022-11-03 14:39] codysoyland commented on #1162
I agree 100%. This week, I have been taking a stab at writing a bundle verifier following the spec in https://github.com/sigstore/protobuf-specs/ and I got SET verification working for a subset of my test bundles, but it's very error-prone. For example, the intoto v0.0.2 entry expects a user-provided hash over the DSSE (the `hash` field). This hash is not provided in the bundle so must be computed

[2022-11-03 15:01] bobcallaway commented on #1162
I realized that the requirement for the user to compute a hash was present in intoto:0.0.2 when researching #1164 and this is not desirable behavior, as the server should be computing this.

[2022-11-03 15:11] kommendorkapten opened #1170 "PEM encoded certificate does not always end with a newline character when returned from Rekor"
**Description**

For some entry types (it seems?), the uploaded PEM encoded certificate is not returned with an ending newline (this may require that the uploaded certificate did not end with a newline). I tried to recreate this with sigened blob/record type, but even if I uploaded a PEM encoded certificate with the ending newline missing, it was added back by Rekor (which I think is the right thi

[2022-11-03 15:20] bobcallaway commented on #1162
Also, would appreciate @codysoyland @kommendorkapten @asraa @bdehamer feedback on this (as an example for a broader doc):

In trying to resolve #1164 and #1139, we'll need to add another version of the intoto type. I've started work on this based on the following [draft schema](https://github.com/bobcallaway/rekor/blob/intoto_v003/pkg/types/intoto/v0.0.3/intoto_v0_0_3_schema.json), which I think i

[2022-11-03 19:22] bdehamer commented on #1162
This would need to be done in conjunction w/ some sort of change in the bundle format too, right? At the moment, the envelope is not stored as a string in the bundle so it would be difficult to match an offline-computed hash to the server-computed one.

[2022-11-03 19:51] znewman01 commented on #1162
Yup, see https://github.com/sigstore/protobuf-specs/issues/9

[2022-11-03 20:50] #1164 closed, assigned to nobody

[2022-11-03 20:56] Hayden-IO opened #1173 "Add public key method to EntryImpl"
**Description**

This would be useful for getting an entry's public key or certificate without having to first cast the entry body to a specific type.

[2022-11-04 09:14] kommendorkapten commented on #1162
To answer the question if Rekor should canonicalize the entries first. I think yes, but in a much simpler and robust form than what it does today, as this has been proven hard to verify unless the exact Rekor bundle is kept, which I think is not the desired end-state.

I would suggest something like this:
The signature (SET) is performed over the [PASETO PAE](https://github.com/paseto-standard/pas

[2022-11-04 12:13] kommendorkapten commented on #1162
I think the proposed new schema makes sense, transfering the envelope as a string should simplify things.

Maybe, and consider a scenario where the envelope has multiple signatures, but the client only have access to one key. In this scenario, the client would not be able to recreate the Rekor entry. Unless the keys are part of the response from Rekor, then they could be added to the sigstore bund

[2022-11-04 12:32] bobcallaway commented on #1162
The keys are part of the canonicalized entry (see https://github.com/bobcallaway/rekor/blob/10d63e565bf035791d6794ef8ba6a41ea013bff9/pkg/types/intoto/v0.0.3/intoto_v0_0_3_schema.json#L43)

[2022-11-04 12:43] kommendorkapten commented on #1162
Yes, but they need to be delivered to the client too, right? So the client can reconstruct the Rekor entry (I'm assuming the client does not have access to the Rekor entry). The sigstore bundle can not carry this information as it's written today. Or am I mixing things up here?

[2022-11-04 13:38] bobcallaway commented on #1170
We're using `encoding/pem` from golang std lib (which does [add a trailing `\n` ](https://cs.opensource.google/go/go/+/refs/tags/go1.19.3:src/encoding/pem/pem.go;drc=45c3387d777caf28f4b992ad9a6216e3085bb8fe;l=301)at the end of the PEM output), so I'll have to dig into what layer is calling trim on it.

Is it only intoto entries that you've seen this with, or other types?

[2022-11-04 13:39] kommendorkapten commented on #1170
I could not reproduce the error, and I _believe_ @bdehamer have only seen it with in-toto types.

[2022-11-04 14:05] bobcallaway commented on #1170
@bdehamer i'm not able to reproduce this either, but I do see the link provided above is missing a newline. Any pointers on how you did this would be appreciated.

[2022-11-04 14:07] kommendorkapten commented on #1170
Did you try to upload an entry via `curl` where the certificate was crafted to _not_ contain the trailing newline? The Rekor cli will add the missing newline.

[2022-11-04 14:24] asraa commented on #1162
Right: I think so. I think it seems like:
1. The Sigstore bundle right now does NOT contain the rekor entry payload. So clients may not be able to reconstruct the total entry if multiple sigs because the rekor entry contains all of them and maybe they only have one that's relevant. They also have difficulty canonicalizing.
2. The Sigstore bundle COULD contain the whole Rekor entry canonicalized. T

[2022-11-04 14:48] asraa commented on #1173
I'm personally in favor of this, and even a `Signature()` public method.

I think having this content easily accessible will make it easy for clients to grab (at least for Go). Signature also seems useful to me in case (I personally hope), the SET scopes down further to just Signature content.

[2022-11-04 15:03] bobcallaway commented on #1170
I was able to reproduce it now and see the issue.

[2022-11-04 15:05] bdehamer commented on #1170
I've only seen this with intoto types.

To be clear, I don't think that Rekor is doing any incorrect trimming. In every case where I've seen this it was because I sent in a certificate which was missing the trailing newline. Rekor is simply using the value as-is.

The behavior is a bit inconsistent as it seems that Rekor will properly canonicalize certificates for the hashedrekord type. Here's a h

[2022-11-04 15:17] asraa commented on #1170
It seems like both of these are for intoto v0.0.2 type... @bobcallaway I can keep digging if you want to hand off

EDIT: maybe you got it :)

[2022-11-04 23:32] tahirraza opened #1178 "rekor server Helm chart"
**Description**

Create helm chart to deploy rekor.
I see there is work in progress for rekor-operator and it might be redundant to create helm-chart in that case.
Anyhow, it wouldn't take a lot of effort to get something out if appropriate.

[2022-11-05 17:05] tahirraza commented on #1178
Closing this. Sigstore has a nice help chart repo for all their projects.

https://github.com/sigstore/helm-charts

[2022-11-05 17:17] #1178 closed, assigned to nobody

[2022-11-05 18:20] #1137 closed, assigned to nobody

[2022-11-07 18:42] patflynn opened #1184 "Investigate maintaining the rekor search index as a separate continuous job"
(this idea came from @vaikas  during the weekly on-call)
**Description**

Currently the rekor entry creation flow is responsible for calling Redis to include new entries in the index.  Ideally the rekor entry creation flow could stay unaware of the Redis index and instead some other job would monitor the log for new entries and update the index appropriately.

Benefits:

- GA API doesn't depend on

[2022-11-07 18:48] dlorenc commented on #1184
Note that this also has verifiability benefits too, especially if coupled with a max-allowable latency. @znewman01 can probably explain better, but we could make this API actually verifiable by using a verifiable map, but the downside is that someone would have to actually verify the entire map every time we update it.

If we could live with a delay of something like 6 or 24 hours between an entry

[2022-11-07 21:31] vaikas commented on #1184
Thanks @patflynn for jotting this down, and thanks @dlorenc for piping up. That was another point I was curious about if by decoupling this we may be able to improve verifiability as well. We currently run the 'watch' as a separate pod so was curious if that could be extended or if we may need to create a separate process for this.

[2022-11-09 14:07] lumjjb commented on #1184
+1 on the ability for a watch interface. I think [GUAC](https://github.com/guacsec/guac/) would also want to be able to perform a watch as well so that it can collect the rekor entries.

[2022-11-14 06:17] ianlewis commented on #1115
We've upgraded to rekor 1.0 and haven't seen this error since upgrading. Closing.

[2022-11-14 06:17] #1115 closed, assigned to nobody

[2022-11-17 18:31] toddysm opened #1209 "How does Rekor search work"
**Question**
I am trying to figure out how to search for records in Rekor. Finding a record by UUID, log index, and email is OK but more advanced searches find nothing for me. I tried searching by image name, and image SHA and got nothing. Are those searches available? It does seem so from the help on the Rekor CLI.

[code]

[2022-11-18 13:27] #1169 closed, assigned to nobody

[2022-11-18 23:19] Hayden-IO opened #1211 "openpgp dependency is deprecated"
**Description**

The currently used openpgp library is no longer supported by golang. We should find another library that is (protonmail -https://github.com/ProtonMail/go-crypto - is likely the best choice, as [keybase](https://github.com/keybase/go-crypto) seems to no longer be updated).

cc @lukehinds

[2022-11-18 23:34] asraa commented on #1211
Is it this issue? https://github.com/sigstore/rekor/issues/286

[2022-11-18 23:38] Hayden-IO commented on #1211
Yep, closing as duplicate

[2022-11-18 23:38] #1211 closed, assigned to nobody

[2022-11-30 18:15] naveensrinivasan opened #1219 "Move e2e tests from docker compose to k8s"
**Description**
- Docker on Mac is not the best experience. [Pod man](https://podman.io) is great alternative but doesn't support docker compose out of the box.

- The [docker compose ](https://github.com/sigstore/rekor/blob/main/docker-compose.yml)can be ported to k8s which can run on something like https://k3s.io on the contributors laptop as well as CI.
-  The additional benefit with this appro